openapi: 3.0.1
info:
  description: "Use these endpoints for interacting with Blog Posts, Blog Authors,\
    \ and Blog Tags"
  title: Blog Post endpoints
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Blog Posts
paths:
  /cms/v3/blogs/posts:
    get:
      description: |
        Get the list of blog posts. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.
      operationId: GetPage
      parameters:
      - description: Only return Blog Posts created at exactly the specified time.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Posts created after the specified time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Posts created before the specified time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Posts last updated at exactly the specified
          time.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Posts last updated after the specified time.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Posts last updated before the specified time.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Specifies which fields to use for sorting results. Valid fields\
          \ are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt`\
          \ will be used by default."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 20.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether to return deleted Blog Posts. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalBlogPostForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Get all Blog Posts
      tags:
      - Blog Posts
    post:
      description: Create a new Blog Post.
      operationId: Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogPost'
        description: The JSON representation of a new Blog Post.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a new Blog Post
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/batch/archive:
    post:
      description: |-
        Delete the Blog Post objects identified in the request body.
        Note: This is not the same as the in-app `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to true.
      operationId: BatchArchive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Blog Post ids.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Delete a batch of Blog Posts
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/batch/create:
    post:
      description: Create the Blog Post objects detailed in the request body.
      operationId: BatchCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputBlogPost'
        description: The JSON array of new Blog Posts to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPost'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPostWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a batch of Blog Posts
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/batch/read:
    post:
      description: Retrieve the Blog Post objects identified in the request body.
      operationId: BatchRead
      parameters:
      - description: Specifies whether to return deleted Blog Posts. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Blog Post ids.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPost'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPostWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieve a batch of Blog Posts
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/batch/update:
    post:
      description: Update the Blog Post objects identified in the request body.
      operationId: BatchUpdate
      parameters:
      - description: Specifies whether to update deleted Blog Posts. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        description: A JSON array of the JSON representations of the updated Blog
          Posts.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPost'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPostWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update a batch of Blog Posts
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/clone:
    post:
      description: Clone a Blog Post.
      operationId: Clone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentCloneRequestVNext'
        description: The JSON representation of the ContentCloneRequest object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Clone a Blog Post
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/multi-language/attach-to-lang-group:
    post:
      description: Attach a Blog Post to a multi-language group.
      operationId: AttachToLangGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        description: The JSON representation of the AttachToLangPrimaryRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Attach a Blog Post to a multi-language group
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/multi-language/create-language-variation:
    post:
      description: Create a new language variation from an existing Blog Post
      operationId: CreateLangVariation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogPostLanguageCloneRequestVNext'
        description: The JSON representation of the BlogPostLanguageCloneRequestVNext
          object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a new language variation
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/multi-language/detach-from-lang-group:
    post:
      description: Detach a Blog Post from a multi-language group.
      operationId: DetachFromLangGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        description: The JSON representation of the DetachFromLangGroupRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Detach a Blog Post from a multi-language group
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/multi-language/set-new-lang-primary:
    put:
      description: Set a Blog Post as the primary language of a multi-language group.
      operationId: SetLangPrimary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        description: The JSON representation of the SetNewLanguagePrimaryRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Set a new primary language
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/multi-language/update-languages:
    post:
      description: Explicitly set new languages for each Blog Post in a multi-language
        group.
      operationId: UpdateLangs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        description: The JSON representation of the SetNewLanguagePrimaryRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update languages of multi-language group
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/schedule:
    post:
      description: Schedule a Blog Post to be Published.
      operationId: Schedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentScheduleRequestVNext'
        description: The JSON representation of the ContentScheduleRequestVNext object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Schedule a Blog Post to be Published
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}:
    delete:
      description: Delete the Blog Post object identified by the id in the path.
      operationId: Archive
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Delete a Blog Post
      tags:
      - Blog Posts
    get:
      description: Retrieve the Blog Post object identified by the id in the path.
      operationId: GetByID
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to return deleted Blog Posts. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieve a Blog Post
      tags:
      - Blog Posts
    patch:
      description: |
        Sparse updates a single Blog Post object identified by the id in the path.
        All the column values need not be specified. Only the that need to be modified can be specified.
      operationId: Update
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to update deleted Blog Posts. Defaults to `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogPost'
        description: The JSON representation of the updated Blog Post.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update a Blog Post
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/draft:
    get:
      description: Retrieve the full draft version of the Blog Post.
      operationId: GetDraftByID
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieve the full draft version of the Blog Post
      tags:
      - Blog Posts
    patch:
      description: |
        Sparse updates the draft version of a single Blog Post object identified by the id in the path.
        All the column values need not be specified. Only the that need to be modified can be specified.
      operationId: UpdateDraft
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogPost'
        description: The JSON representation of the updated Blog Post to be applied
          to the draft.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update a Blog Post draft
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/draft/push-live:
    post:
      description: Take any changes from the draft version of the Blog Post and apply
        them to the live version.
      operationId: PushLive
      parameters:
      - description: The id of the Blog Post for which it's draft will be pushed live.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Push Blog Post draft edits live
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/draft/reset:
    post:
      description: Discards any edits and resets the draft to the live version.
      operationId: ResetDraft
      parameters:
      - description: The id of the Blog Post for which it's draft will be reset.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Reset the Blog Post draft to the live version
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/revisions:
    get:
      description: Retrieves all the previous versions of a blog post.
      operationId: GetPreviousVersions
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalVersionBlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieves all the previous versions of a blog post
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/revisions/{revisionId}:
    get:
      description: Retrieves a previous version of a blog post.
      operationId: GetPreviousVersion
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Blog Post version id.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionBlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieves a previous version of a blog post
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/revisions/{revisionId}/restore:
    post:
      description: Takes a specified version of a blog post and restores it.
      operationId: RestorePreviousVersion
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Blog Post version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Restore a previous version of a blog post
      tags:
      - Blog Posts
  /cms/v3/blogs/posts/{objectId}/revisions/{revisionId}/restore-to-draft:
    post:
      description: "Takes a specified version of a blog post, sets it as the new draft\
        \ version of the blog post."
      operationId: RestorePreviousVersionToDraft
      parameters:
      - description: The Blog Post id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The Blog Post version id to restore.
        explode: false
        in: path
        name: revisionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: "Restore a previous version of a blog post, to the draft version of\
        \ the blog post"
      tags:
      - Blog Posts
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    BatchInputString:
      description: Wrapper for providing an array of strings as inputs.
      example:
        inputs:
        - inputs
        - inputs
      properties:
        inputs:
          description: Strings to input.
          items:
            type: string
          type: array
      required:
      - inputs
      type: object
    StandardError:
      description: Model definition for a standard error.
      properties:
        status:
          description: Error status.
          type: string
        id:
          description: Error ID.
          type: string
        category:
          description: Model definition for an error category.
          type: object
        subCategory:
          description: Error subcategory.
          properties: {}
          type: object
        message:
          description: Error message.
          type: string
        errors:
          description: List of error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Error context.
          type: object
        links:
          additionalProperties:
            type: string
          description: Error links.
          type: object
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    BatchInputJsonNode:
      description: Wrapper for providing an array of JSON nodes as inputs.
      example:
        inputs:
        - "{}"
        - "{}"
      properties:
        inputs:
          description: JSON nodes to input.
          items:
            properties: {}
            type: object
          type: array
      required:
      - inputs
      type: object
    UpdateLanguagesRequestVNext:
      description: Request object for updating languages within a multi-language group.
      example:
        languages:
          key: af
        primaryId: primaryId
      properties:
        primaryId:
          description: ID of the primary object in the multi-language group.
          type: string
        languages:
          additionalProperties:
            enum:
            - af
            - af-na
            - af-za
            - agq
            - agq-cm
            - ak
            - ak-gh
            - am
            - am-et
            - ar
            - ar-001
            - ar-ae
            - ar-bh
            - ar-dj
            - ar-dz
            - ar-eg
            - ar-eh
            - ar-er
            - ar-il
            - ar-iq
            - ar-jo
            - ar-km
            - ar-kw
            - ar-lb
            - ar-ly
            - ar-ma
            - ar-mr
            - ar-om
            - ar-ps
            - ar-qa
            - ar-sa
            - ar-sd
            - ar-so
            - ar-ss
            - ar-sy
            - ar-td
            - ar-tn
            - ar-ye
            - as
            - as-in
            - asa
            - asa-tz
            - ast
            - ast-es
            - az
            - az-az
            - bas
            - bas-cm
            - be
            - be-by
            - bem
            - bem-zm
            - bez
            - bez-tz
            - bg
            - bg-bg
            - bm
            - bm-ml
            - bn
            - bn-bd
            - bn-in
            - bo
            - bo-cn
            - bo-in
            - br
            - br-fr
            - brx
            - brx-in
            - bs
            - bs-ba
            - ca
            - ca-ad
            - ca-es
            - ca-fr
            - ca-it
            - ccp
            - ccp-bd
            - ccp-in
            - ce
            - ce-ru
            - cgg
            - cgg-ug
            - chr
            - chr-us
            - ckb
            - ckb-iq
            - ckb-ir
            - cs
            - cs-cz
            - cu
            - cu-ru
            - cy
            - cy-gb
            - da
            - da-dk
            - da-gl
            - dav
            - dav-ke
            - de
            - de-at
            - de-be
            - de-ch
            - de-de
            - de-gr
            - de-it
            - de-li
            - de-lu
            - dje
            - dje-ne
            - dsb
            - dsb-de
            - dua
            - dua-cm
            - dyo
            - dyo-sn
            - dz
            - dz-bt
            - ebu
            - ebu-ke
            - ee
            - ee-gh
            - ee-tg
            - el
            - el-cy
            - el-gr
            - en
            - en-001
            - en-150
            - en-ae
            - en-ag
            - en-ai
            - en-as
            - en-at
            - en-au
            - en-bb
            - en-be
            - en-bi
            - en-bm
            - en-bs
            - en-bw
            - en-bz
            - en-ca
            - en-cc
            - en-ch
            - en-ck
            - en-cm
            - en-cx
            - en-cy
            - en-de
            - en-dg
            - en-dk
            - en-dm
            - en-er
            - en-fi
            - en-fj
            - en-fk
            - en-fm
            - en-gb
            - en-gd
            - en-gg
            - en-gh
            - en-gi
            - en-gm
            - en-gu
            - en-gy
            - en-hk
            - en-ie
            - en-il
            - en-im
            - en-in
            - en-io
            - en-je
            - en-jm
            - en-ke
            - en-ki
            - en-kn
            - en-ky
            - en-lc
            - en-lr
            - en-ls
            - en-lu
            - en-mg
            - en-mh
            - en-mo
            - en-mp
            - en-ms
            - en-mt
            - en-mu
            - en-mw
            - en-my
            - en-na
            - en-nf
            - en-ng
            - en-nl
            - en-nr
            - en-nu
            - en-nz
            - en-pg
            - en-ph
            - en-pk
            - en-pn
            - en-pr
            - en-pw
            - en-rw
            - en-sb
            - en-sc
            - en-sd
            - en-se
            - en-sg
            - en-sh
            - en-si
            - en-sl
            - en-ss
            - en-sx
            - en-sz
            - en-tc
            - en-tk
            - en-to
            - en-tt
            - en-tv
            - en-tz
            - en-ug
            - en-um
            - en-us
            - en-vc
            - en-vg
            - en-vi
            - en-vu
            - en-ws
            - en-za
            - en-zm
            - en-zw
            - eo
            - eo-001
            - es
            - es-419
            - es-ar
            - es-bo
            - es-br
            - es-bz
            - es-cl
            - es-co
            - es-cr
            - es-cu
            - es-do
            - es-ea
            - es-ec
            - es-es
            - es-gq
            - es-gt
            - es-hn
            - es-ic
            - es-mx
            - es-ni
            - es-pa
            - es-pe
            - es-ph
            - es-pr
            - es-py
            - es-sv
            - es-us
            - es-uy
            - es-ve
            - et
            - et-ee
            - eu
            - eu-es
            - ewo
            - ewo-cm
            - fa
            - fa-af
            - fa-ir
            - ff
            - ff-cm
            - ff-gn
            - ff-mr
            - ff-sn
            - fi
            - fi-fi
            - fil
            - fil-ph
            - fo
            - fo-dk
            - fo-fo
            - fr
            - fr-be
            - fr-bf
            - fr-bi
            - fr-bj
            - fr-bl
            - fr-ca
            - fr-cd
            - fr-cf
            - fr-cg
            - fr-ch
            - fr-ci
            - fr-cm
            - fr-dj
            - fr-dz
            - fr-fr
            - fr-ga
            - fr-gf
            - fr-gn
            - fr-gp
            - fr-gq
            - fr-ht
            - fr-km
            - fr-lu
            - fr-ma
            - fr-mc
            - fr-mf
            - fr-mg
            - fr-ml
            - fr-mq
            - fr-mr
            - fr-mu
            - fr-nc
            - fr-ne
            - fr-pf
            - fr-pm
            - fr-re
            - fr-rw
            - fr-sc
            - fr-sn
            - fr-sy
            - fr-td
            - fr-tg
            - fr-tn
            - fr-vu
            - fr-wf
            - fr-yt
            - fur
            - fur-it
            - fy
            - fy-nl
            - ga
            - ga-ie
            - gd
            - gd-gb
            - gl
            - gl-es
            - gsw
            - gsw-ch
            - gsw-fr
            - gsw-li
            - gu
            - gu-in
            - guz
            - guz-ke
            - gv
            - gv-im
            - ha
            - ha-gh
            - ha-ne
            - ha-ng
            - haw
            - haw-us
            - he
            - hi
            - hi-in
            - hr
            - hr-ba
            - hr-hr
            - hsb
            - hsb-de
            - hu
            - hu-hu
            - hy
            - hy-am
            - id
            - ig
            - ig-ng
            - ii
            - ii-cn
            - id-id
            - is
            - is-is
            - it
            - it-ch
            - it-it
            - it-sm
            - it-va
            - he-il
            - ja
            - ja-jp
            - jgo
            - jgo-cm
            - yi
            - yi-001
            - jmc
            - jmc-tz
            - ka
            - ka-ge
            - kab
            - kab-dz
            - kam
            - kam-ke
            - kde
            - kde-tz
            - kea
            - kea-cv
            - khq
            - khq-ml
            - ki
            - ki-ke
            - kk
            - kk-kz
            - kkj
            - kkj-cm
            - kl
            - kl-gl
            - kln
            - kln-ke
            - km
            - km-kh
            - kn
            - kn-in
            - ko
            - ko-kp
            - ko-kr
            - kok
            - kok-in
            - ks
            - ks-in
            - ksb
            - ksb-tz
            - ksf
            - ksf-cm
            - ksh
            - ksh-de
            - kw
            - kw-gb
            - ky
            - ky-kg
            - lag
            - lag-tz
            - lb
            - lb-lu
            - lg
            - lg-ug
            - lkt
            - lkt-us
            - ln
            - ln-ao
            - ln-cd
            - ln-cf
            - ln-cg
            - lo
            - lo-la
            - lrc
            - lrc-iq
            - lrc-ir
            - lt
            - lt-lt
            - lu
            - lu-cd
            - luo
            - luo-ke
            - luy
            - luy-ke
            - lv
            - lv-lv
            - mas
            - mas-ke
            - mas-tz
            - mer
            - mer-ke
            - mfe
            - mfe-mu
            - mg
            - mg-mg
            - mgh
            - mgh-mz
            - mgo
            - mgo-cm
            - mk
            - mk-mk
            - ml
            - ml-in
            - mn
            - mn-mn
            - mr
            - mr-in
            - ms
            - ms-bn
            - ms-my
            - ms-sg
            - mt
            - mt-mt
            - mua
            - mua-cm
            - my
            - my-mm
            - mzn
            - mzn-ir
            - naq
            - naq-na
            - nb
            - nb-no
            - nb-sj
            - nd
            - nd-zw
            - nds
            - nds-de
            - nds-nl
            - ne
            - ne-in
            - ne-np
            - nl
            - nl-aw
            - nl-be
            - nl-ch
            - nl-bq
            - nl-cw
            - nl-lu
            - nl-nl
            - nl-sr
            - nl-sx
            - nmg
            - nmg-cm
            - nn
            - nn-no
            - nnh
            - nnh-cm
            - "no"
            - no-no
            - nus
            - nus-ss
            - nyn
            - nyn-ug
            - om
            - om-et
            - om-ke
            - or
            - or-in
            - os
            - os-ge
            - os-ru
            - pa
            - pa-in
            - pa-pk
            - pl
            - pl-pl
            - prg
            - prg-001
            - ps
            - ps-af
            - pt
            - pt-ao
            - pt-br
            - pt-ch
            - pt-cv
            - pt-gq
            - pt-gw
            - pt-lu
            - pt-mo
            - pt-mz
            - pt-pt
            - pt-st
            - pt-tl
            - qu
            - qu-bo
            - qu-ec
            - qu-pe
            - rm
            - rm-ch
            - rn
            - rn-bi
            - ro
            - ro-md
            - ro-ro
            - rof
            - rof-tz
            - ru
            - ru-by
            - ru-kg
            - ru-kz
            - ru-md
            - ru-ru
            - ru-ua
            - rw
            - rw-rw
            - rwk
            - rwk-tz
            - sa
            - sah
            - sah-ru
            - saq
            - saq-ke
            - sbp
            - sbp-tz
            - sd
            - sd-pk
            - se
            - se-fi
            - se-no
            - se-se
            - seh
            - seh-mz
            - ses
            - ses-ml
            - sg
            - sg-cf
            - shi
            - shi-ma
            - si
            - si-lk
            - sk
            - sk-sk
            - sl
            - sl-si
            - smn
            - smn-fi
            - sn
            - sn-zw
            - so
            - so-dj
            - so-et
            - so-ke
            - so-so
            - sq
            - sq-al
            - sq-mk
            - sq-xk
            - sr
            - sr-ba
            - sr-cs
            - sr-me
            - sr-rs
            - sr-xk
            - sv
            - sv-ax
            - sv-fi
            - sv-se
            - sw
            - sw-cd
            - sw-ke
            - sw-tz
            - sw-ug
            - sy
            - ta
            - ta-in
            - ta-lk
            - ta-my
            - ta-sg
            - te
            - te-in
            - teo
            - teo-ke
            - teo-ug
            - tg
            - tg-tj
            - th
            - th-th
            - ti
            - ti-er
            - ti-et
            - tk
            - tk-tm
            - to
            - to-to
            - tr
            - tr-cy
            - tr-tr
            - tt
            - tt-ru
            - twq
            - twq-ne
            - tzm
            - tzm-ma
            - ug
            - ug-cn
            - uk
            - uk-ua
            - ur
            - ur-in
            - ur-pk
            - uz
            - uz-af
            - uz-uz
            - vai
            - vai-lr
            - vi
            - vi-vn
            - vo
            - vo-001
            - vun
            - vun-tz
            - wae
            - wae-ch
            - wo
            - wo-sn
            - xog
            - xog-ug
            - yav
            - yav-cm
            - yo
            - yo-bj
            - yo-ng
            - yue
            - yue-cn
            - yue-hk
            - zgh
            - zgh-ma
            - zh
            - zh-cn
            - zh-hk
            - zh-mo
            - zh-sg
            - zh-tw
            - zh-hans
            - zh-hant
            - zu
            - zu-za
            type: string
            x-hubspot-external-project-origin: true
          description: Map of object IDs to associated languages of object in the
            multi-language group.
          type: object
      required:
      - languages
      - primaryId
      type: object
    CollectionResponseWithTotalVersionBlogPost:
      description: Response object for collections of blog post versions with pagination
        information.
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
          prev:
            before: before
            link: link
        results:
        - id: id
          user:
            fullName: fullName
            id: id
            email: email
          object:
            publishDate: 2000-01-23T04:56:07.000+00:00
            language: af
            enableLayoutStylesheets: true
            metaDescription: metaDescription
            attachedStylesheets:
            - key: "{}"
            - key: "{}"
            password: password
            htmlTitle: htmlTitle
            publishImmediately: true
            translations:
              key:
                archivedInDashboard: true
                created: 2000-01-23T04:56:07.000+00:00
                tagIds:
                - 5
                - 5
                publishDate: 2000-01-23T04:56:07.000+00:00
                publicAccessRules:
                - null
                - null
                password: password
                authorName: authorName
                publicAccessRulesEnabled: true
                name: name
                campaign: campaign
                id: 1
                state: state
                updated: 2000-01-23T04:56:07.000+00:00
                slug: slug
            id: id
            state: state
            slug: slug
            createdById: createdById
            rssBody: rssBody
            currentlyPublished: true
            archivedInDashboard: true
            created: 2000-01-23T04:56:07.000+00:00
            contentTypeCategory: "0"
            mabExperimentId: mabExperimentId
            updatedById: updatedById
            translatedFromId: translatedFromId
            folderId: folderId
            widgetContainers:
              key: "{}"
            pageExpiryRedirectId: 7
            deletedAt: 2000-01-23T04:56:07.000+00:00
            dynamicPageDataSourceType: 5
            featuredImage: featuredImage
            authorName: authorName
            domain: domain
            name: name
            campaign: campaign
            dynamicPageDataSourceId: dynamicPageDataSourceId
            enableDomainStylesheets: true
            includeDefaultCustomCss: true
            layoutSections:
              key:
                cssStyle: cssStyle
                label: label
                type: type
                params:
                  key: "{}"
                rows:
                - key: null
                - key: null
                rowMetaData:
                - cssClass: cssClass
                  styles:
                    backgroundColor:
                      a: 1.0246457001441578
                      r: 4
                      b: 1
                      g: 7
                    flexboxPositioning: TOP_LEFT
                    backgroundImage:
                      imageUrl: imageUrl
                      backgroundSize: backgroundSize
                      backgroundPosition: TOP_LEFT
                    forceFullWidthSection: true
                    verticalAlignment: TOP
                    maxWidthSectionCentering: 6
                    backgroundGradient:
                      angle:
                        units: deg
                        value: 1.4894159098541704
                      sideOrCorner:
                        horizontalSide: LEFT
                        verticalSide: TOP
                      colors:
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                - cssClass: cssClass
                  styles:
                    backgroundColor:
                      a: 1.0246457001441578
                      r: 4
                      b: 1
                      g: 7
                    flexboxPositioning: TOP_LEFT
                    backgroundImage:
                      imageUrl: imageUrl
                      backgroundSize: backgroundSize
                      backgroundPosition: TOP_LEFT
                    forceFullWidthSection: true
                    verticalAlignment: TOP
                    maxWidthSectionCentering: 6
                    backgroundGradient:
                      angle:
                        units: deg
                        value: 1.4894159098541704
                      sideOrCorner:
                        horizontalSide: LEFT
                        verticalSide: TOP
                      colors:
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                cells:
                - null
                - null
                cssClass: cssClass
                w: 2
                cssId: cssId
                x: 3
                name: name
                styles:
                  backgroundColor:
                    a: 1.0246457001441578
                    r: 4
                    b: 1
                    g: 7
                  flexboxPositioning: TOP_LEFT
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: TOP_LEFT
                  forceFullWidthSection: true
                  verticalAlignment: TOP
                  maxWidthSectionCentering: 6
                  backgroundGradient:
                    angle:
                      units: deg
                      value: 1.4894159098541704
                    sideOrCorner:
                      horizontalSide: LEFT
                      verticalSide: TOP
                    colors:
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
            updated: 2000-01-23T04:56:07.000+00:00
            footerHtml: footerHtml
            tagIds:
            - 2
            - 2
            widgets:
              key: "{}"
            postSummary: postSummary
            archived: true
            headHtml: headHtml
            pageExpiryRedirectUrl: pageExpiryRedirectUrl
            abStatus: master
            useFeaturedImage: true
            abTestId: abTestId
            featuredImageAltText: featuredImageAltText
            blogAuthorId: blogAuthorId
            contentGroupId: contentGroupId
            rssSummary: rssSummary
            pageExpiryEnabled: true
            url: url
            enableGoogleAmpOutputOverride: true
            publicAccessRules:
            - null
            - null
            postBody: postBody
            themeSettingsValues:
              key: "{}"
            pageExpiryDate: 9
            publicAccessRulesEnabled: true
            currentState: AUTOMATED
            categoryId: 6
            linkRelCanonicalUrl: linkRelCanonicalUrl
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - id: id
          user:
            fullName: fullName
            id: id
            email: email
          object:
            publishDate: 2000-01-23T04:56:07.000+00:00
            language: af
            enableLayoutStylesheets: true
            metaDescription: metaDescription
            attachedStylesheets:
            - key: "{}"
            - key: "{}"
            password: password
            htmlTitle: htmlTitle
            publishImmediately: true
            translations:
              key:
                archivedInDashboard: true
                created: 2000-01-23T04:56:07.000+00:00
                tagIds:
                - 5
                - 5
                publishDate: 2000-01-23T04:56:07.000+00:00
                publicAccessRules:
                - null
                - null
                password: password
                authorName: authorName
                publicAccessRulesEnabled: true
                name: name
                campaign: campaign
                id: 1
                state: state
                updated: 2000-01-23T04:56:07.000+00:00
                slug: slug
            id: id
            state: state
            slug: slug
            createdById: createdById
            rssBody: rssBody
            currentlyPublished: true
            archivedInDashboard: true
            created: 2000-01-23T04:56:07.000+00:00
            contentTypeCategory: "0"
            mabExperimentId: mabExperimentId
            updatedById: updatedById
            translatedFromId: translatedFromId
            folderId: folderId
            widgetContainers:
              key: "{}"
            pageExpiryRedirectId: 7
            deletedAt: 2000-01-23T04:56:07.000+00:00
            dynamicPageDataSourceType: 5
            featuredImage: featuredImage
            authorName: authorName
            domain: domain
            name: name
            campaign: campaign
            dynamicPageDataSourceId: dynamicPageDataSourceId
            enableDomainStylesheets: true
            includeDefaultCustomCss: true
            layoutSections:
              key:
                cssStyle: cssStyle
                label: label
                type: type
                params:
                  key: "{}"
                rows:
                - key: null
                - key: null
                rowMetaData:
                - cssClass: cssClass
                  styles:
                    backgroundColor:
                      a: 1.0246457001441578
                      r: 4
                      b: 1
                      g: 7
                    flexboxPositioning: TOP_LEFT
                    backgroundImage:
                      imageUrl: imageUrl
                      backgroundSize: backgroundSize
                      backgroundPosition: TOP_LEFT
                    forceFullWidthSection: true
                    verticalAlignment: TOP
                    maxWidthSectionCentering: 6
                    backgroundGradient:
                      angle:
                        units: deg
                        value: 1.4894159098541704
                      sideOrCorner:
                        horizontalSide: LEFT
                        verticalSide: TOP
                      colors:
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                - cssClass: cssClass
                  styles:
                    backgroundColor:
                      a: 1.0246457001441578
                      r: 4
                      b: 1
                      g: 7
                    flexboxPositioning: TOP_LEFT
                    backgroundImage:
                      imageUrl: imageUrl
                      backgroundSize: backgroundSize
                      backgroundPosition: TOP_LEFT
                    forceFullWidthSection: true
                    verticalAlignment: TOP
                    maxWidthSectionCentering: 6
                    backgroundGradient:
                      angle:
                        units: deg
                        value: 1.4894159098541704
                      sideOrCorner:
                        horizontalSide: LEFT
                        verticalSide: TOP
                      colors:
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                      - color:
                          a: 1.0246457001441578
                          r: 4
                          b: 1
                          g: 7
                cells:
                - null
                - null
                cssClass: cssClass
                w: 2
                cssId: cssId
                x: 3
                name: name
                styles:
                  backgroundColor:
                    a: 1.0246457001441578
                    r: 4
                    b: 1
                    g: 7
                  flexboxPositioning: TOP_LEFT
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: TOP_LEFT
                  forceFullWidthSection: true
                  verticalAlignment: TOP
                  maxWidthSectionCentering: 6
                  backgroundGradient:
                    angle:
                      units: deg
                      value: 1.4894159098541704
                    sideOrCorner:
                      horizontalSide: LEFT
                      verticalSide: TOP
                    colors:
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
            updated: 2000-01-23T04:56:07.000+00:00
            footerHtml: footerHtml
            tagIds:
            - 2
            - 2
            widgets:
              key: "{}"
            postSummary: postSummary
            archived: true
            headHtml: headHtml
            pageExpiryRedirectUrl: pageExpiryRedirectUrl
            abStatus: master
            useFeaturedImage: true
            abTestId: abTestId
            featuredImageAltText: featuredImageAltText
            blogAuthorId: blogAuthorId
            contentGroupId: contentGroupId
            rssSummary: rssSummary
            pageExpiryEnabled: true
            url: url
            enableGoogleAmpOutputOverride: true
            publicAccessRules:
            - null
            - null
            postBody: postBody
            themeSettingsValues:
              key: "{}"
            pageExpiryDate: 9
            publicAccessRulesEnabled: true
            currentState: AUTOMATED
            categoryId: 6
            linkRelCanonicalUrl: linkRelCanonicalUrl
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        total:
          description: Total number of blog post versions.
          format: int32
          type: integer
        results:
          description: Collection of blog post versions.
          items:
            $ref: '#/components/schemas/VersionBlogPost'
          type: array
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
      - total
      type: object
    SetNewLanguagePrimaryRequestVNext:
      description: Request body object for setting a new primary language.
      example:
        id: id
      properties:
        id:
          description: ID of object to set as primary in multi-language group.
          type: string
      required:
      - id
      type: object
    RGBAColor:
      description: A color defined by RGB values.
      example:
        a: 1.0246457001441578
        r: 4
        b: 1
        g: 7
      properties:
        r:
          description: Red.
          format: int32
          type: integer
        g:
          description: Green.
          format: int32
          type: integer
        b:
          description: Blue.
          format: int32
          type: integer
        a:
          description: Alpha.
          type: number
      required:
      - a
      - b
      - g
      - r
      type: object
    DetachFromLangGroupRequestVNext:
      description: Request body object for detaching objects from multi-language groups.
      example:
        id: id
      properties:
        id:
          description: ID of the object to remove from a multi-language group.
          type: string
      required:
      - id
      type: object
    RowMetaData:
      example:
        cssClass: cssClass
        styles:
          backgroundColor:
            a: 1.0246457001441578
            r: 4
            b: 1
            g: 7
          flexboxPositioning: TOP_LEFT
          backgroundImage:
            imageUrl: imageUrl
            backgroundSize: backgroundSize
            backgroundPosition: TOP_LEFT
          forceFullWidthSection: true
          verticalAlignment: TOP
          maxWidthSectionCentering: 6
          backgroundGradient:
            angle:
              units: deg
              value: 1.4894159098541704
            sideOrCorner:
              horizontalSide: LEFT
              verticalSide: TOP
            colors:
            - color:
                a: 1.0246457001441578
                r: 4
                b: 1
                g: 7
            - color:
                a: 1.0246457001441578
                r: 4
                b: 1
                g: 7
      properties:
        styles:
          $ref: '#/components/schemas/Styles'
        cssClass:
          type: string
      required:
      - cssClass
      - styles
      type: object
    ContentLanguageVariation:
      example:
        archivedInDashboard: true
        created: 2000-01-23T04:56:07.000+00:00
        tagIds:
        - 5
        - 5
        publishDate: 2000-01-23T04:56:07.000+00:00
        publicAccessRules:
        - null
        - null
        password: password
        authorName: authorName
        publicAccessRulesEnabled: true
        name: name
        campaign: campaign
        id: 1
        state: state
        updated: 2000-01-23T04:56:07.000+00:00
        slug: slug
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        slug:
          type: string
        state:
          type: string
        authorName:
          type: string
        password:
          type: string
        publicAccessRulesEnabled:
          type: boolean
        publicAccessRules:
          items:
            $ref: '#/components/schemas/PublicAccessRule'
          type: array
        campaign:
          type: string
        tagIds:
          items:
            format: int64
            type: integer
          type: array
        archivedInDashboard:
          type: boolean
        created:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        publishDate:
          format: date-time
          type: string
      required:
      - archivedInDashboard
      - authorName
      - campaign
      - created
      - id
      - name
      - password
      - publicAccessRules
      - publicAccessRulesEnabled
      - publishDate
      - slug
      - state
      - updated
      type: object
    AttachToLangPrimaryRequestVNext:
      description: Request body object fro attaching objects to multi-language groups.
      example:
        language: af
        id: id
        primaryId: primaryId
        primaryLanguage: af
      properties:
        id:
          description: ID of the object to add to a multi-language group.
          type: string
        language:
          description: Designated language of the object to add to a multi-language
            group.
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mw
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-cm
          - ff-gn
          - ff-mr
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kde
          - kde-tz
          - kea
          - kea-cv
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mas
          - mas-ke
          - mas-tz
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-ch
          - nl-bq
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - "no"
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sbp
          - sbp-tz
          - sd
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - to
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zh-hans
          - zh-hant
          - zu
          - zu-za
          type: string
        primaryId:
          description: ID of primary language object in multi-language group.
          type: string
        primaryLanguage:
          description: Primary language of the multi-language group.
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mw
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-cm
          - ff-gn
          - ff-mr
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kde
          - kde-tz
          - kea
          - kea-cv
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mas
          - mas-ke
          - mas-tz
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-ch
          - nl-bq
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - "no"
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sbp
          - sbp-tz
          - sd
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - to
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zh-hans
          - zh-hant
          - zu
          - zu-za
          type: string
      required:
      - id
      - language
      - primaryId
      type: object
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    SideOrCorner:
      example:
        horizontalSide: LEFT
        verticalSide: TOP
      properties:
        verticalSide:
          enum:
          - TOP
          - MIDDLE
          - BOTTOM
          type: string
        horizontalSide:
          enum:
          - LEFT
          - CENTER
          - RIGHT
          type: string
      required:
      - horizontalSide
      - verticalSide
      type: object
    BatchInputBlogPost:
      description: Wrapper for providing an array of blog posts as inputs.
      example:
        inputs:
        - publishDate: 2000-01-23T04:56:07.000+00:00
          language: af
          enableLayoutStylesheets: true
          metaDescription: metaDescription
          attachedStylesheets:
          - key: "{}"
          - key: "{}"
          password: password
          htmlTitle: htmlTitle
          publishImmediately: true
          translations:
            key:
              archivedInDashboard: true
              created: 2000-01-23T04:56:07.000+00:00
              tagIds:
              - 5
              - 5
              publishDate: 2000-01-23T04:56:07.000+00:00
              publicAccessRules:
              - null
              - null
              password: password
              authorName: authorName
              publicAccessRulesEnabled: true
              name: name
              campaign: campaign
              id: 1
              state: state
              updated: 2000-01-23T04:56:07.000+00:00
              slug: slug
          id: id
          state: state
          slug: slug
          createdById: createdById
          rssBody: rssBody
          currentlyPublished: true
          archivedInDashboard: true
          created: 2000-01-23T04:56:07.000+00:00
          contentTypeCategory: "0"
          mabExperimentId: mabExperimentId
          updatedById: updatedById
          translatedFromId: translatedFromId
          folderId: folderId
          widgetContainers:
            key: "{}"
          pageExpiryRedirectId: 7
          deletedAt: 2000-01-23T04:56:07.000+00:00
          dynamicPageDataSourceType: 5
          featuredImage: featuredImage
          authorName: authorName
          domain: domain
          name: name
          campaign: campaign
          dynamicPageDataSourceId: dynamicPageDataSourceId
          enableDomainStylesheets: true
          includeDefaultCustomCss: true
          layoutSections:
            key:
              cssStyle: cssStyle
              label: label
              type: type
              params:
                key: "{}"
              rows:
              - key: null
              - key: null
              rowMetaData:
              - cssClass: cssClass
                styles:
                  backgroundColor:
                    a: 1.0246457001441578
                    r: 4
                    b: 1
                    g: 7
                  flexboxPositioning: TOP_LEFT
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: TOP_LEFT
                  forceFullWidthSection: true
                  verticalAlignment: TOP
                  maxWidthSectionCentering: 6
                  backgroundGradient:
                    angle:
                      units: deg
                      value: 1.4894159098541704
                    sideOrCorner:
                      horizontalSide: LEFT
                      verticalSide: TOP
                    colors:
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
              - cssClass: cssClass
                styles:
                  backgroundColor:
                    a: 1.0246457001441578
                    r: 4
                    b: 1
                    g: 7
                  flexboxPositioning: TOP_LEFT
                  backgroundImage:
                    imageUrl: imageUrl
                    backgroundSize: backgroundSize
                    backgroundPosition: TOP_LEFT
                  forceFullWidthSection: true
                  verticalAlignment: TOP
                  maxWidthSectionCentering: 6
                  backgroundGradient:
                    angle:
                      units: deg
                      value: 1.4894159098541704
                    sideOrCorner:
                      horizontalSide: LEFT
                      verticalSide: TOP
                    colors:
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
                    - color:
                        a: 1.0246457001441578
                        r: 4
                        b: 1
                        g: 7
              cells:
              - null
              - null
              cssClass: cssClass
              w: 2
              cssId: cssId
              x: 3
              name: name
              styles:
                backgroundColor:
                  a: 1.0246457001441578
                  r: 4
                  b: 1
                  g: 7
                flexboxPositioning: TOP_LEFT
                backgroundImage:
                  imageUrl: imageUrl
                  backgroundSize: backgroundSize
                  backgroundPosition: TOP_LEFT
                forceFullWidthSection: true
                verticalAlignment: TOP
                maxWidthSectionCentering: 6
                backgroundGradient:
                  angle:
                    units: deg
                    value: 1.4894159098541704
                  sideOrCorner:
                    horizontalSide: LEFT
                    verticalSide: TOP
                  colors:
                  - color:
                      a: 1.0246457001441578
                      r: 4
                      b: 1
                      g: 7
                  - color:
                      a: 1.0246457001441578
                      r: 4
                      b: 1
                      g: 7
          updated: 2000-01-23T04:56:07.000+00:00
          footerHtml: footerHtml
          tagIds:
          - 2
          - 2
          widgets:
            key: "{}"
          postSummary: postSummary
          archived: true
          headHtml: headHtml
          pageExpiryRedirectUrl: pageExpiryRedirectUrl
          abStatus: master
          useFeaturedImage: true
          abTestId: abTestId
          featuredImageAltText: featuredImageAltText
          blogAuthorId: blogAuthorId
          contentGroupId: contentGroupId
          rssSummary: rssSummary
          pageExpiryEnabled: true
          url: url
          enableGoogleAmpOutputOverride: true
          publicAccessRules:
          - null
          - null
          postBody: postBody
          themeSettingsValues:
            key: "{}"
          pageExpiryDate: 9
          publicAccessRulesEnabled: true
          currentState: AUTOMATED
          categoryId: 6
          linkRelCanonicalUrl: linkRelCanonicalUrl
        - publishDate: 2000-01-23T04:56:07.000+00:00
          language: af
          enableLayoutStylesheets: true
          metaDescription: metaDescription
          attachedStylesheets:
          - key: "{}"
          - key: "{}"
          password: password
          htmlTitle: htmlTitle
          publishImmediately: true
          translations:
            key:
              archivedInDashboard: true
              created: 2000-01-23T04:56:07.000+00:00
              tagIds:
              - 5
              - 5
              publishDate: 2000-01-23T04:56:07.000+00:00
              publicAccessRules:
              - null
              - null
              password: password
              authorName: authorName
              publicAccessRulesEnabled: true
              name: name
              campaign: campaign
              id: 1
              state: state
              updated: 2000-01-23T04:56:07.000+00:00
              slug: slug
          id: id
          state: state
          slug: slug
          createdById: createdById
          rssBody: rssBody
          currentlyPublished: true
          archivedInDashboard: true
          created: 2000-01-23T04:56:07.000+00:00
          contentTypeCategory: "0"
          mabExperimentId: mabExperimentId
          updatedById: updatedById
          translatedFromId: translatedFromId
          folderId: folderId
          widgetContainers:
            key: "{}"
          pageExpiryRedirectId: 7
          deletedAt: 2000-01-23T04:56:07.000+00:00
          dynamicPageDataSourceType: 5
          featuredImage: featuredImage
          authorName: authorName
          domain: domain
          name: name
          campaign: campaign
          dynamicPageDataSourceId: dynamicPageDataSourceId
          enableDomainStylesheets: true
          includeDefaultCustomCss: true
          layoutSections:
            key:
              cssStyle: cssStyle
              label: label
              type: type
[...]
