openapi: 3.0.1
info:
  description: "Provides a way for apps to add custom calling options to a contact\
    \ record. This works in conjunction with the [Calling SDK](#), which is used to\
    \ build your phone/calling UI. The endpoints here allow your service to appear\
    \ as an option to HubSpot users when they access the *Call* action on a contact\
    \ record. Once accessed, your custom phone/calling UI will be displayed in an\
    \ iframe at the specified URL with the specified dimensions on that record."
  title: Calling Extensions API
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- description: Operations to manage app-level calling extension settings
  name: Settings
paths:
  /crm/v3/extensions/calling/{appId}/settings:
    delete:
      description: Deletes this calling extension. This will remove your service as
        an option for all connected accounts.
      operationId: Archive
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Delete calling settings
      tags:
      - Settings
    get:
      description: Returns the calling extension settings configured for your app.
      operationId: GetByID
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                createdAt: 2019-10-30T03:30:17.883Z
                supportsCustomObjects: true
                isReady: true
                name: HubPhone
                width: 200
                url: https://www.example.com/hubspot/iframe
                height: 350
                updatedAt: 2019-11-30T03:30:17.883Z
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get calling settings
      tags:
      - Settings
    patch:
      description: Updates existing calling extension settings.
      operationId: Update
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsPatchRequest'
        description: Updated details for the settings.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                createdAt: 2019-10-30T03:30:17.883Z
                supportsCustomObjects: true
                isReady: true
                name: HubPhone
                width: 200
                url: https://www.example.com/hubspot/iframe
                height: 350
                updatedAt: 2019-11-30T03:30:17.883Z
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Update settings
      tags:
      - Settings
    post:
      description: "Used to set the menu label, target iframe URL, and dimensions\
        \ for your calling extension."
      operationId: Create
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsRequest'
        description: Settings state to create with.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                createdAt: 2019-10-30T03:30:17.883Z
                supportsCustomObjects: true
                isReady: true
                name: HubPhone
                width: 200
                url: https://www.example.com/hubspot/iframe
                height: 350
                updatedAt: 2019-11-30T03:30:17.883Z
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Configure a calling extension
      tags:
      - Settings
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    SettingsPatchRequest:
      description: Settings update request
      example:
        supportsCustomObjects: true
        isReady: true
        name: name
        width: 6
        url: url
        height: 0
      properties:
        name:
          description: The name of your calling service to display to users.
          type: string
        url:
          description: "The URL to your phone/calling UI, built with the [Calling\
            \ SDK](#)."
          type: string
        height:
          description: The target height of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        width:
          description: The target width of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        isReady:
          description: "When true, your service will appear as an option under the\
            \ *Call* action in contact records of connected accounts."
          type: boolean
        supportsCustomObjects:
          description: "When true, you are indicating that your service is compatible\
            \ with engagement v2 service and can be used with custom objects."
          type: boolean
      type: object
    SettingsRequest:
      description: Settings create request
      example:
        supportsCustomObjects: true
        isReady: true
        name: HubPhone
        width: 200
        url: https://www.example.com/hubspot/iframe
        height: 350
      properties:
        name:
          description: The name of your calling service to display to users.
          type: string
        url:
          description: "The URL to your phone/calling UI, built with the [Calling\
            \ SDK](#)."
          type: string
        height:
          description: The target height of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        width:
          description: The target width of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        isReady:
          description: "When true, your service will appear as an option under the\
            \ *Call* action in contact records of connected accounts."
          type: boolean
        supportsCustomObjects:
          description: "When true, you are indicating that your service is compatible\
            \ with engagement v2 service and can be used with custom objects."
          type: boolean
      required:
      - name
      - url
      type: object
    SettingsResponse:
      description: Current settings state
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        supportsCustomObjects: true
        isReady: true
        name: name
        width: 6
        url: url
        height: 0
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        name:
          description: The name of your calling service to display to users.
          type: string
        url:
          description: "The URL to your phone/calling UI, built with the [Calling\
            \ SDK](#)."
          type: string
        height:
          description: The target height of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        width:
          description: The target width of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        isReady:
          description: "When true, your service will appear as an option under the\
            \ *Call* action in contact records of connected accounts."
          type: boolean
        supportsCustomObjects:
          description: "When true, you are indicating that your service is compatible\
            \ with engagement v2 service and can be used with custom objects."
          type: boolean
        createdAt:
          description: When this calling extension was created.
          format: date-time
          type: string
        updatedAt:
          description: The last time the settings for this calling extension were
            modified.
          format: date-time
          type: string
      required:
      - createdAt
      - height
      - isReady
      - name
      - supportsCustomObjects
      - updatedAt
      - url
      - width
      type: object
  securitySchemes:
    developer_hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
