openapi: 3.0.1
info:
  description: "Provides a way for apps to add custom calling options to a contact\
    \ record. This works in conjunction with the [Calling SDK](#), which is used to\
    \ build your phone/calling UI. The endpoints here allow your service to appear\
    \ as an option to HubSpot users when they access the *Call* action on a contact\
    \ record. Once accessed, your custom phone/calling UI will be displayed in an\
    \ iframe at the specified URL with the specified dimensions on that record."
  title: Calling Extensions
  version: v3
  x-hubspot-product-tier-requirements:
    sales: STARTER
    service: STARTER
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: "Create an integration for a third-party calling service\
    \ that your company uses, rather than using HubSpot's native calling tool."
  x-hubspot-related-documentation:
  - name: Call SDK Guide
    url: https://hubspot.dev/guides/api/crm/extensions/calling-sdk
  x-hubspot-introduction: Use the calling extensions SDK to provide HubSpot users
    with custom calling options on CRM records.
servers:
- url: https://api.hubapi.com
tags:
- description: ""
  name: Settings
  x-hubspot-tag-name-english-source: Settings
- description: ""
  name: Recording_Settings
  x-hubspot-tag-name-english-source: Recording_Settings
paths:
  /crm/v3/extensions/calling/{appId}/settings:
    delete:
      description: Deletes this calling extension. This will remove your service as
        an option for all connected accounts.
      operationId: Archive
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Delete calling settings
      tags:
      - Settings
    get:
      description: Returns the calling extension settings configured for your app.
      operationId: GetByID
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                name: HubPhone
                url: https://www.example.com/hubspot/iframe
                width: 200
                height: 350
                isReady: true
                supportsCustomObjects: true
                createdAt: 2019-10-30T03:30:17.883Z
                updatedAt: 2019-11-30T03:30:17.883Z
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Get calling settings
      tags:
      - Settings
    patch:
      description: Updates existing calling extension settings.
      operationId: Update
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsPatchRequest'
        description: Updated details for the settings.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                name: HubPhone
                url: https://www.example.com/hubspot/iframe
                width: 200
                height: 350
                isReady: true
                supportsCustomObjects: true
                createdAt: 2019-10-30T03:30:17.883Z
                updatedAt: 2019-11-30T03:30:17.883Z
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Update settings
      tags:
      - Settings
    post:
      description: "Used to set the menu label, target iframe URL, and dimensions\
        \ for your calling extension."
      operationId: Create
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsRequest'
        description: Settings state to create with.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                name: HubPhone
                url: https://www.example.com/hubspot/iframe
                width: 200
                height: 350
                isReady: true
                supportsCustomObjects: true
                createdAt: 2019-10-30T03:30:17.883Z
                updatedAt: 2019-11-30T03:30:17.883Z
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Configure a calling extension
      tags:
      - Settings
  /crm/v3/extensions/calling/{appId}/settings/recording:
    get:
      operationId: "get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat"
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Recording_Settings
    patch:
      operationId: "patch-/crm/v3/extensions/calling/{appId}/settings/recording_updateUrlFormat"
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingSettingsPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Recording_Settings
    post:
      operationId: "post-/crm/v3/extensions/calling/{appId}/settings/recording_registerUrlFormat"
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingSettingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Recording_Settings
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    SettingsResponse:
      description: Current settings state
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        supportsCustomObjects: true
        isReady: true
        name: name
        width: 0
        url: url
        height: 6
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        createdAt:
          description: When this calling extension was created.
          format: date-time
          type: string
        supportsCustomObjects:
          description: "When true, you are indicating that your service is compatible\
            \ with engagement v2 service and can be used with custom objects."
          type: boolean
        isReady:
          description: "When true, your service will appear as an option under the\
            \ *Call* action in contact records of connected accounts."
          type: boolean
        name:
          description: The name of your calling service to display to users.
          type: string
        width:
          description: The target width of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        url:
          description: "The URL to your phone/calling UI, built with the [Calling\
            \ SDK](#)."
          type: string
        height:
          description: The target height of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        updatedAt:
          description: The last time the settings for this calling extension were
            modified.
          format: date-time
          type: string
      required:
      - createdAt
      - height
      - isReady
      - name
      - supportsCustomObjects
      - updatedAt
      - url
      - width
      type: object
    RecordingSettingsResponse:
      example:
        urlToRetrieveAuthedRecording: urlToRetrieveAuthedRecording
      properties:
        urlToRetrieveAuthedRecording:
          type: string
      required:
      - urlToRetrieveAuthedRecording
      type: object
    RecordingSettingsPatchRequest:
      example:
        urlToRetrieveAuthedRecording: urlToRetrieveAuthedRecording
      properties:
        urlToRetrieveAuthedRecording:
          type: string
      type: object
    RecordingSettingsRequest:
      example:
        urlToRetrieveAuthedRecording: urlToRetrieveAuthedRecording
      properties:
        urlToRetrieveAuthedRecording:
          type: string
      required:
      - urlToRetrieveAuthedRecording
      type: object
    SettingsRequest:
      description: Settings create request
      example:
        name: HubPhone
        url: https://www.example.com/hubspot/iframe
        width: 200
        height: 350
        isReady: true
        supportsCustomObjects: true
      properties:
        supportsCustomObjects:
          description: "When true, you are indicating that your service is compatible\
            \ with engagement v2 service and can be used with custom objects."
          example: true
          type: boolean
        isReady:
          description: "When true, your service will appear as an option under the\
            \ *Call* action in contact records of connected accounts."
          example: true
          type: boolean
        name:
          description: The name of your calling service to display to users.
          example: HubPhone
          type: string
        width:
          description: The target width of the iframe that will contain your phone/calling
            UI.
          example: 200
          format: int32
          type: integer
        url:
          description: "The URL to your phone/calling UI, built with the [Calling\
            \ SDK](#)."
          example: https://www.example.com/hubspot/iframe
          type: string
        height:
          description: The target height of the iframe that will contain your phone/calling
            UI.
          example: 350
          format: int32
          type: integer
      required:
      - name
      - url
      type: object
    SettingsPatchRequest:
      description: Settings update request
      example:
        supportsCustomObjects: true
        isReady: true
        name: name
        width: 0
        url: url
        height: 6
      properties:
        supportsCustomObjects:
          description: "When true, you are indicating that your service is compatible\
            \ with engagement v2 service and can be used with custom objects."
          type: boolean
        isReady:
          description: "When true, your service will appear as an option under the\
            \ *Call* action in contact records of connected accounts."
          type: boolean
        name:
          description: The name of your calling service to display to users.
          type: string
        width:
          description: The target width of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
        url:
          description: "The URL to your phone/calling UI, built with the [Calling\
            \ SDK](#)."
          type: string
        height:
          description: The target height of the iframe that will contain your phone/calling
            UI.
          format: int32
          type: integer
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
  securitySchemes:
    developer_hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  sales: STARTER
  service: STARTER
x-hubspot-documentation-banner: NONE
