openapi: 3.0.1
info:
  title: Domains
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- description: Operations for fetching domains
  name: Domains
paths:
  /cms/v3/domains/:
    get:
      description: Returns all existing domains that have been created. Results can
        be limited and filtered by creation or updated date.
      operationId: GetPage
      parameters:
      - description: Only return domains created at this date.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains created after this date.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains created before this date.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains updated at this date.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains updated after this date.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains updated before this date.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total: 2
                results:
                - id: "1234"
                  createdAt: 2017-07-24T17:24:09.141Z
                  updatedAt: 2017-07-25T18:20:00.000Z
                  domain: 234.hs-sites.com
                  isPrimaryLandingPage: false
                  isPrimaryEmail: false
                  isPrimaryBlogPost: true
                  isPrimarySitePage: false
                  isPrimaryKnowledge: false
                  isResolving: true
                  isManuallyMarkedAsResolving: false
                  isHttpsEnabled: true
                  isHttpsOnly: false
                  isUsedForBlogPost: true
                  isUsedForSitePage: false
                  isUsedForLandingPage: false
                  isUsedForEmail: false
                  isUsedForKnowledge: false
                  expectedCname: 234.group34.sites.hubspot.net
                  redirectTo: ""
                - id: "4321"
                  createdAt: 2017-07-11T13:00:52.928Z
                  updatedAt: 2019-10-08T16:54:57.165Z
                  domain: test.demo.com
                  isPrimaryLandingPage: false
                  isPrimaryEmail: false
                  isPrimaryBlogPost: true
                  isPrimarySitePage: false
                  isPrimaryKnowledge: false
                  isResolving: true
                  isManuallyMarkedAsResolving: false
                  isHttpsEnabled: true
                  isHttpsOnly: false
                  isUsedForBlogPost: true
                  isUsedForSitePage: false
                  isUsedForLandingPage: false
                  isUsedForEmail: false
                  isUsedForKnowledge: false
                  expectedCname: 234.group34.sites.hubspot.net
                  redirectTo: ""
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalDomainForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - content
      - oauth2:
        - cms.domains.read
      - private_apps:
        - cms.domains.read
      - private_apps:
        - cms.domains.write
      - oauth2:
        - cms.domains.write
      - private_apps_legacy:
        - cms.knowledge_base.settings.write
      - oauth2_legacy:
        - cms.knowledge_base.settings.write
      - oauth2_legacy:
        - content
      summary: Get current domains
      tags:
      - Domains
  /cms/v3/domains/{domainId}:
    get:
      description: Returns a single domains with the id specified.
      operationId: GetByID
      parameters:
      - description: The unique ID of the domain.
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: "3210329704"
                createdAt: 2017-07-11T13:00:52.928Z
                updatedAt: 2019-10-08T16:54:57.165Z
                domain: 99558489.hubspot.com
                isPrimaryLandingPage: false
                isPrimaryEmail: false
                isPrimaryBlogPost: true
                isPrimarySitePage: false
                isPrimaryKnowledge: false
                isResolving: true
                isManuallyMarkedAsResolving: false
                isHttpsEnabled: true
                isHttpsOnly: false
                isUsedForBlogPost: true
                isUsedForSitePage: false
                isUsedForLandingPage: false
                isUsedForEmail: false
                isUsedForKnowledge: false
                expectedCname: 99558489.group39.sites.hubspotqa.net
                redirectTo: ""
              schema:
                $ref: '#/components/schemas/Domain'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - content
      - oauth2:
        - cms.domains.read
      - private_apps:
        - cms.domains.read
      - private_apps:
        - cms.domains.write
      - oauth2:
        - cms.domains.write
      - private_apps_legacy:
        - cms.knowledge_base.settings.write
      - oauth2_legacy:
        - cms.knowledge_base.settings.write
      - oauth2_legacy:
        - content
      summary: Get a single domain
      tags:
      - Domains
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    Domain:
      example:
        isUsedForLandingPage: true
        primaryBlogPost: true
        primaryKnowledge: true
        created: 2000-01-23T04:56:07.000+00:00
        secondaryToDomain: secondaryToDomain
        manuallyMarkedAsResolving: true
        isUsedForKnowledge: true
        isUsedForBlogPost: true
        isUsedForSitePage: true
        isResolving: true
        isSslEnabled: true
        isUsedForEmail: true
        domain: domain
        primarySitePage: true
        primaryLandingPage: true
        id: id
        correctCname: correctCname
        isSslOnly: true
        updated: 2000-01-23T04:56:07.000+00:00
        primaryEmail: true
      properties:
        id:
          description: The unique ID of this domain.
          type: string
        domain:
          description: The actual domain or sub-domain. e.g. www.hubspot.com
          type: string
        primaryLandingPage:
          type: boolean
        primaryEmail:
          type: boolean
        primaryBlogPost:
          type: boolean
        primarySitePage:
          type: boolean
        primaryKnowledge:
          type: boolean
        secondaryToDomain:
          type: string
        isResolving:
          description: Whether the DNS for this domain is optimally configured for
            use with HubSpot.
          type: boolean
        manuallyMarkedAsResolving:
          type: boolean
        isSslEnabled:
          type: boolean
        isSslOnly:
          type: boolean
        isUsedForBlogPost:
          description: Whether the domain is used for CMS blog posts.
          type: boolean
        isUsedForSitePage:
          description: Whether the domain is used for CMS site pages.
          type: boolean
        isUsedForLandingPage:
          description: Whether the domain is used for CMS landing pages.
          type: boolean
        isUsedForEmail:
          description: Whether the domain is used for CMS email web pages.
          type: boolean
        isUsedForKnowledge:
          description: Whether the domain is used for CMS knowledge pages.
          type: boolean
        correctCname:
          type: string
        created:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
      required:
      - domain
      - id
      - isResolving
      - isUsedForBlogPost
      - isUsedForEmail
      - isUsedForKnowledge
      - isUsedForLandingPage
      - isUsedForSitePage
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
    CollectionResponseWithTotalDomainForwardPaging:
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
        results:
        - isUsedForLandingPage: true
          primaryBlogPost: true
          primaryKnowledge: true
          created: 2000-01-23T04:56:07.000+00:00
          secondaryToDomain: secondaryToDomain
          manuallyMarkedAsResolving: true
          isUsedForKnowledge: true
          isUsedForBlogPost: true
          isUsedForSitePage: true
          isResolving: true
          isSslEnabled: true
          isUsedForEmail: true
          domain: domain
          primarySitePage: true
          primaryLandingPage: true
          id: id
          correctCname: correctCname
          isSslOnly: true
          updated: 2000-01-23T04:56:07.000+00:00
          primaryEmail: true
        - isUsedForLandingPage: true
          primaryBlogPost: true
          primaryKnowledge: true
          created: 2000-01-23T04:56:07.000+00:00
          secondaryToDomain: secondaryToDomain
          manuallyMarkedAsResolving: true
          isUsedForKnowledge: true
          isUsedForBlogPost: true
          isUsedForSitePage: true
          isResolving: true
          isSslEnabled: true
          isUsedForEmail: true
          domain: domain
          primarySitePage: true
          primaryLandingPage: true
          id: id
          correctCname: correctCname
          isSslOnly: true
          updated: 2000-01-23T04:56:07.000+00:00
          primaryEmail: true
      properties:
        total:
          format: int32
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Domain'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      - total
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            cms.knowledge_base.settings.write: Update knowledge base settings
            content: Read from and write to my Content
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            cms.domains.write: Create or update domains.
            cms.domains.read: Read domains.
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
    private_apps:
      in: header
      name: private-app
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
