openapi: 3.0.1
info:
  title: Domains
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- description: Operations for fetching domains
  name: Domains
paths:
  /cms/v3/domains/:
    get:
      description: Returns all existing domains that have been created. Results can
        be limited and filtered by creation or updated date.
      operationId: get-/cms/v3/domains/_getPage
      parameters:
      - description: Only return domains created at this date.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Only return domains created after this date.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Only return domains created before this date.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Only return domains updated at this date.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Only return domains updated after this date.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Only return domains updated before this date.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: properties
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total: 2
                results:
                - id: "1234"
                  createdAt: 2017-07-24T17:24:09.141Z
                  updatedAt: 2017-07-25T18:20:00.000Z
                  domain: 234.hs-sites.com
                  isPrimaryLandingPage: false
                  isPrimaryEmail: false
                  isPrimaryBlogPost: true
                  isPrimarySitePage: false
                  isPrimaryKnowledge: false
                  isResolving: true
                  isManuallyMarkedAsResolving: false
                  isHttpsEnabled: true
                  isHttpsOnly: false
                  isUsedForBlogPost: true
                  isUsedForSitePage: false
                  isUsedForLandingPage: false
                  isUsedForEmail: false
                  isUsedForKnowledge: false
                  expectedCname: 234.group34.sites.hubspot.net
                  redirectTo: ""
                - id: "4321"
                  createdAt: 2017-07-11T13:00:52.928Z
                  updatedAt: 2019-10-08T16:54:57.165Z
                  domain: test.demo.com
                  isPrimaryLandingPage: false
                  isPrimaryEmail: false
                  isPrimaryBlogPost: true
                  isPrimarySitePage: false
                  isPrimaryKnowledge: false
                  isResolving: true
                  isManuallyMarkedAsResolving: false
                  isHttpsEnabled: true
                  isHttpsOnly: false
                  isUsedForBlogPost: true
                  isUsedForSitePage: false
                  isUsedForLandingPage: false
                  isUsedForEmail: false
                  isUsedForKnowledge: false
                  expectedCname: 234.group34.sites.hubspot.net
                  redirectTo: ""
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalDomain'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      summary: Get current domains
      tags:
      - Domains
  /cms/v3/domains/{domainId}:
    get:
      description: Returns a single domains with the id specified.
      operationId: "get-/cms/v3/domains/{domainId}_getById"
      parameters:
      - description: The unique ID of the domain.
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                id: "3210329704"
                createdAt: 2017-07-11T13:00:52.928Z
                updatedAt: 2019-10-08T16:54:57.165Z
                domain: 99558489.hubspot.com
                isPrimaryLandingPage: false
                isPrimaryEmail: false
                isPrimaryBlogPost: true
                isPrimarySitePage: false
                isPrimaryKnowledge: false
                isResolving: true
                isManuallyMarkedAsResolving: false
                isHttpsEnabled: true
                isHttpsOnly: false
                isUsedForBlogPost: true
                isUsedForSitePage: false
                isUsedForLandingPage: false
                isUsedForEmail: false
                isUsedForKnowledge: false
                expectedCname: 99558489.group39.sites.hubspotqa.net
                redirectTo: ""
              schema:
                $ref: '#/components/schemas/Domain'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      summary: Get a single domain
      tags:
      - Domains
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    DomainSetupInfo:
      example:
        supportsSslExternally: true
        whoIsEmailAddresses:
        - whoIsEmailAddresses
        - whoIsEmailAddresses
      properties:
        supportsSslExternally:
          type: boolean
        whoIsEmailAddresses:
          items:
            type: string
          type: array
      required:
      - supportsSslExternally
      - whoIsEmailAddresses
      type: object
    DomainCdnConfig:
      example:
        httpBody: httpBody
        minimumTlsVersion: "1.0"
        created: 1
        sslStatus: "0"
        cname: cname
        cdnId: cdnId
        certId: 7
        httpUrlPath: httpUrlPath
        domainId: 6
        alternateOriginHostname: alternateOriginHostname
        cdnGroupId: cdnGroupId
        validationMethod: "0"
        portalId: 1
        certExpirationDate: 1
        cnameTarget: cnameTarget
        id: 4
        updated: 1
      properties:
        portalId:
          format: int32
          type: integer
        created:
          format: int64
          type: integer
        updated:
          format: int64
          type: integer
        domainId:
          format: int64
          type: integer
        certId:
          format: int64
          type: integer
        certExpirationDate:
          format: int64
          type: integer
        cdnId:
          type: string
        cdnGroupId:
          type: string
        sslStatus:
          enum:
          - "0"
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          type: string
        validationMethod:
          enum:
          - "0"
          - "1"
          - "2"
          type: string
        httpBody:
          type: string
        httpUrlPath:
          type: string
        cname:
          type: string
        cnameTarget:
          type: string
        minimumTlsVersion:
          enum:
          - "1.0"
          - "1.1"
          - "1.2"
          - "1.3"
          - none
          - "null"
          type: string
        alternateOriginHostname:
          type: string
        id:
          format: int64
          type: integer
      required:
      - alternateOriginHostname
      - cdnGroupId
      - cdnId
      - certExpirationDate
      - certId
      - cname
      - cnameTarget
      - created
      - domainId
      - httpBody
      - httpUrlPath
      - id
      - minimumTlsVersion
      - portalId
      - sslStatus
      - updated
      - validationMethod
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    Domain:
      example:
        sslCname: sslCname
        primaryBlog: true
        setUpLanguage: setUpLanguage
        certificateId: 7
        sslRequestId: 9
        setupInfo:
          supportsSslExternally: true
          whoIsEmailAddresses:
          - whoIsEmailAddresses
          - whoIsEmailAddresses
        isResolving: true
        isDnsCorrect: true
        id: 1
        correctCname: correctCname
        isResolvingIgnoringManuallyMarkedAsResolving: true
        primaryEmail: true
        createdById: 5
        isUsedForLandingPage: true
        isLegacy: true
        created: 5
        updatedById: 9
        teamIds:
        - 2
        - 2
        domainCdnConfig:
          httpBody: httpBody
          minimumTlsVersion: "1.0"
          created: 1
          sslStatus: "0"
          cname: cname
          cdnId: cdnId
          certId: 7
          httpUrlPath: httpUrlPath
          domainId: 6
          alternateOriginHostname: alternateOriginHostname
          cdnGroupId: cdnGroupId
          validationMethod: "0"
          portalId: 1
          certExpirationDate: 1
          cnameTarget: cnameTarget
          id: 4
          updated: 1
        isSslEnabled: true
        isLegacyDomain: true
        apexIpAddresses:
        - apexIpAddresses
        - apexIpAddresses
        domain: domain
        brandId: 7
        primaryClickTracking: true
        isInternalDomain: true
        updated: 5
        consecutiveNonResolvingCount: 2
        actualIp: actualIp
        isSetupComplete: true
        primaryBlogPost: true
        deletable: true
        derivedBrandName: derivedBrandName
        isAnyPrimary: true
        isUsedForKnowledge: true
        isUsedForBlogPost: true
        isStagingDomain: true
        isUsedForEmail: true
        portalId: 6
        cosObjectType: CONTENT
        apexResolutionStatus: INELIGIBLE
        apexDomain: apexDomain
        isResolvingInternalProperty: true
        setupTaskId: 3
        primaryKnowledge: true
        actualCname: actualCname
        cdnPurgeEmbargoTime: 6
        fullCategoryKey: fullCategoryKey
        isUsedForAnyContentType: true
        secondaryToDomain: secondaryToDomain
        manuallyMarkedAsResolving: true
        label: label
        isUsedForSitePage: true
        primaryLegacyPage: true
        authorAt: 9
        primarySitePage: true
        primaryLandingPage: true
        siteId: 4
        publicSuffix: publicSuffix
        isSslOnly: true
      properties:
        portalId:
          format: int32
          type: integer
        id:
          format: int64
          type: integer
        created:
          format: int64
          type: integer
        updated:
          format: int64
          type: integer
        domain:
          type: string
        primaryLandingPage:
          type: boolean
        primaryEmail:
          type: boolean
        primaryBlog:
          type: boolean
        primaryBlogPost:
          type: boolean
        primarySitePage:
          type: boolean
        primaryKnowledge:
          type: boolean
        primaryLegacyPage:
          type: boolean
        primaryClickTracking:
          type: boolean
        fullCategoryKey:
          type: string
        secondaryToDomain:
          type: string
        isResolving:
          type: boolean
        isDnsCorrect:
          type: boolean
        manuallyMarkedAsResolving:
          type: boolean
        consecutiveNonResolvingCount:
          format: int32
          type: integer
        sslCname:
          type: string
        isSslEnabled:
          type: boolean
        isSslOnly:
          type: boolean
        certificateId:
          format: int64
          type: integer
        sslRequestId:
          format: int64
          type: integer
        isUsedForBlogPost:
          type: boolean
        isUsedForSitePage:
          type: boolean
        isUsedForLandingPage:
          type: boolean
        isUsedForEmail:
          type: boolean
        isUsedForKnowledge:
          type: boolean
        setupTaskId:
          format: int64
          type: integer
        isSetupComplete:
          type: boolean
        setUpLanguage:
          type: string
        teamIds:
          items:
            format: int64
            type: integer
          type: array
        actualCname:
          type: string
        correctCname:
          type: string
        actualIp:
          type: string
        apexResolutionStatus:
          enum:
          - INELIGIBLE
          - SUGGEST_RESOLVING
          - ALREADY_RESOLVING
          - ERROR
          type: string
        apexDomain:
          type: string
        publicSuffix:
          type: string
        apexIpAddresses:
          items:
            type: string
          type: array
        siteId:
          format: int64
          type: integer
        brandId:
          format: int64
          type: integer
        deletable:
          type: boolean
        domainCdnConfig:
          $ref: '#/components/schemas/DomainCdnConfig'
        setupInfo:
          $ref: '#/components/schemas/DomainSetupInfo'
        derivedBrandName:
          type: string
        createdById:
          format: int32
          type: integer
        updatedById:
          format: int32
          type: integer
        label:
          type: string
        isAnyPrimary:
          type: boolean
        isLegacyDomain:
          type: boolean
        isInternalDomain:
          type: boolean
        isResolvingInternalProperty:
          type: boolean
        isResolvingIgnoringManuallyMarkedAsResolving:
          type: boolean
        isUsedForAnyContentType:
          type: boolean
        isLegacy:
          type: boolean
        authorAt:
          format: int64
          type: integer
        cosObjectType:
          enum:
          - CONTENT
          - EXTENSION_RESOURCE
          - LAYOUT
          - CUSTOM_WIDGET
          - WIDGET
          - FORM
          - PLACEMENT
          - IMAGE
          - DOMAIN_SETTINGS
          - SITE_SETTINGS
          - EMAIL_ADDRESS
          - WORKFLOW
          - HUBDB_TABLE
          - REDIRECT_URL
          - DESIGN_FOLDER
          - SITE_MAP
          - DOMAIN
          - BLOG
          - FILE
          - FOLDER
          - SITE_MENU
          - THEME
          - CONTENT_GROUP
          - FOLLOW_ME
          - KNOWLEDGE_BASE
          - LIST_MEMBERSHIP
          - CONTACT_MEMBERSHIP
          - PASSWORD_PROTECTED
          - UNRESTRICTED_ACCESS
          - MARKETPLACE_LISTING
          - LAYOUT_SECTION
          - THEME_SETTINGS
          - VIDEO_PLAYER
          - URL_MAPPING
          - KNOWLEDGE_CATEGORY
          - KNOWLEDGE_HOMEPAGE_CATEGORY
          - RAW_ASSET
          - GLOBAL_CONTENT
          - HUBDB_TABLE_ROW
          - BLOG_AUTHOR
          - SERVERLESS_FUNCTION
          - KNOWLEDGE_CATEGORY_TRANSLATION
          type: string
        cdnPurgeEmbargoTime:
          format: int64
          type: integer
        isStagingDomain:
          type: boolean
      required:
      - actualCname
      - actualIp
      - apexDomain
      - apexIpAddresses
      - apexResolutionStatus
      - authorAt
      - brandId
      - cdnPurgeEmbargoTime
      - certificateId
      - consecutiveNonResolvingCount
      - correctCname
      - cosObjectType
      - created
      - createdById
      - deletable
      - derivedBrandName
      - domain
      - domainCdnConfig
      - fullCategoryKey
      - id
      - isAnyPrimary
      - isDnsCorrect
      - isInternalDomain
      - isLegacy
      - isLegacyDomain
      - isResolving
      - isResolvingIgnoringManuallyMarkedAsResolving
      - isResolvingInternalProperty
      - isSetupComplete
      - isSslEnabled
      - isSslOnly
      - isStagingDomain
      - isUsedForAnyContentType
      - isUsedForBlogPost
      - isUsedForEmail
      - isUsedForKnowledge
      - isUsedForLandingPage
      - isUsedForSitePage
      - label
      - manuallyMarkedAsResolving
      - portalId
      - primaryBlog
      - primaryBlogPost
      - primaryClickTracking
      - primaryEmail
      - primaryKnowledge
      - primaryLandingPage
      - primaryLegacyPage
      - primarySitePage
      - publicSuffix
      - secondaryToDomain
      - setUpLanguage
      - setupInfo
      - setupTaskId
      - siteId
      - sslCname
      - sslRequestId
      - teamIds
      - updated
      - updatedById
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
    CollectionResponseWithTotalDomain:
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
        results:
        - sslCname: sslCname
          primaryBlog: true
          setUpLanguage: setUpLanguage
          certificateId: 7
          sslRequestId: 9
          setupInfo:
            supportsSslExternally: true
            whoIsEmailAddresses:
            - whoIsEmailAddresses
            - whoIsEmailAddresses
          isResolving: true
          isDnsCorrect: true
          id: 1
          correctCname: correctCname
          isResolvingIgnoringManuallyMarkedAsResolving: true
          primaryEmail: true
          createdById: 5
          isUsedForLandingPage: true
          isLegacy: true
          created: 5
          updatedById: 9
          teamIds:
          - 2
          - 2
          domainCdnConfig:
            httpBody: httpBody
            minimumTlsVersion: "1.0"
            created: 1
            sslStatus: "0"
            cname: cname
            cdnId: cdnId
            certId: 7
            httpUrlPath: httpUrlPath
            domainId: 6
            alternateOriginHostname: alternateOriginHostname
            cdnGroupId: cdnGroupId
            validationMethod: "0"
            portalId: 1
            certExpirationDate: 1
            cnameTarget: cnameTarget
            id: 4
            updated: 1
          isSslEnabled: true
          isLegacyDomain: true
          apexIpAddresses:
          - apexIpAddresses
          - apexIpAddresses
          domain: domain
          brandId: 7
          primaryClickTracking: true
          isInternalDomain: true
          updated: 5
          consecutiveNonResolvingCount: 2
          actualIp: actualIp
          isSetupComplete: true
          primaryBlogPost: true
          deletable: true
          derivedBrandName: derivedBrandName
          isAnyPrimary: true
          isUsedForKnowledge: true
          isUsedForBlogPost: true
          isStagingDomain: true
          isUsedForEmail: true
          portalId: 6
          cosObjectType: CONTENT
          apexResolutionStatus: INELIGIBLE
          apexDomain: apexDomain
          isResolvingInternalProperty: true
          setupTaskId: 3
          primaryKnowledge: true
          actualCname: actualCname
          cdnPurgeEmbargoTime: 6
          fullCategoryKey: fullCategoryKey
          isUsedForAnyContentType: true
          secondaryToDomain: secondaryToDomain
          manuallyMarkedAsResolving: true
          label: label
          isUsedForSitePage: true
          primaryLegacyPage: true
          authorAt: 9
          primarySitePage: true
          primaryLandingPage: true
          siteId: 4
          publicSuffix: publicSuffix
          isSslOnly: true
        - sslCname: sslCname
          primaryBlog: true
          setUpLanguage: setUpLanguage
          certificateId: 7
          sslRequestId: 9
          setupInfo:
            supportsSslExternally: true
            whoIsEmailAddresses:
            - whoIsEmailAddresses
            - whoIsEmailAddresses
          isResolving: true
          isDnsCorrect: true
          id: 1
          correctCname: correctCname
          isResolvingIgnoringManuallyMarkedAsResolving: true
          primaryEmail: true
          createdById: 5
          isUsedForLandingPage: true
          isLegacy: true
          created: 5
          updatedById: 9
          teamIds:
          - 2
          - 2
          domainCdnConfig:
            httpBody: httpBody
            minimumTlsVersion: "1.0"
            created: 1
            sslStatus: "0"
            cname: cname
            cdnId: cdnId
            certId: 7
            httpUrlPath: httpUrlPath
            domainId: 6
            alternateOriginHostname: alternateOriginHostname
            cdnGroupId: cdnGroupId
            validationMethod: "0"
            portalId: 1
            certExpirationDate: 1
            cnameTarget: cnameTarget
            id: 4
            updated: 1
          isSslEnabled: true
          isLegacyDomain: true
          apexIpAddresses:
          - apexIpAddresses
          - apexIpAddresses
          domain: domain
          brandId: 7
          primaryClickTracking: true
          isInternalDomain: true
          updated: 5
          consecutiveNonResolvingCount: 2
          actualIp: actualIp
          isSetupComplete: true
          primaryBlogPost: true
          deletable: true
          derivedBrandName: derivedBrandName
          isAnyPrimary: true
          isUsedForKnowledge: true
          isUsedForBlogPost: true
          isStagingDomain: true
          isUsedForEmail: true
          portalId: 6
          cosObjectType: CONTENT
          apexResolutionStatus: INELIGIBLE
          apexDomain: apexDomain
          isResolvingInternalProperty: true
          setupTaskId: 3
          primaryKnowledge: true
          actualCname: actualCname
          cdnPurgeEmbargoTime: 6
          fullCategoryKey: fullCategoryKey
          isUsedForAnyContentType: true
          secondaryToDomain: secondaryToDomain
          manuallyMarkedAsResolving: true
          label: label
          isUsedForSitePage: true
          primaryLegacyPage: true
          authorAt: 9
          primarySitePage: true
          primaryLandingPage: true
          siteId: 4
          publicSuffix: publicSuffix
          isSslOnly: true
      properties:
        total:
          format: int32
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Domain'
          type: array
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
      - total
      type: object
  securitySchemes:
    hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
