/*
CMS Performance API

Use these endpoints to get a time series view of your website's performance.

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package performance

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// PublicPerformanceApiService PublicPerformanceApi service
type PublicPerformanceApiService service

type ApiGetCmsV3PerformanceGetPageRequest struct {
	ctx        _context.Context
	ApiService *PublicPerformanceApiService
	domain     *string
	path       *string
	pad        *bool
	sum        *bool
	period     *string
	interval   *string
	start      *int64
	end        *int64
}

// The domain to search return data for.
func (r ApiGetCmsV3PerformanceGetPageRequest) Domain(domain string) ApiGetCmsV3PerformanceGetPageRequest {
	r.domain = &domain
	return r
}

// The url path of the domain to return data for.
func (r ApiGetCmsV3PerformanceGetPageRequest) Path(path string) ApiGetCmsV3PerformanceGetPageRequest {
	r.path = &path
	return r
}

// Specifies whether the time series data should have empty intervals if performance data is not present to create a continuous set.
func (r ApiGetCmsV3PerformanceGetPageRequest) Pad(pad bool) ApiGetCmsV3PerformanceGetPageRequest {
	r.pad = &pad
	return r
}

// Specifies whether the time series data should be summated for the given period. Defaults to false.
func (r ApiGetCmsV3PerformanceGetPageRequest) Sum(sum bool) ApiGetCmsV3PerformanceGetPageRequest {
	r.sum = &sum
	return r
}

// A relative period to return time series data for. This value is ignored if start and/or end are provided. Valid periods: [15m, 30m, 1h, 4h, 12h, 1d, 1w]
func (r ApiGetCmsV3PerformanceGetPageRequest) Period(period string) ApiGetCmsV3PerformanceGetPageRequest {
	r.period = &period
	return r
}

// The time series interval to group data by. Valid intervals: [1m, 5m, 15m, 30m, 1h, 4h, 12h, 1d, 1w]
func (r ApiGetCmsV3PerformanceGetPageRequest) Interval(interval string) ApiGetCmsV3PerformanceGetPageRequest {
	r.interval = &interval
	return r
}

// A timestamp in milliseconds that indicates the start of the time period.
func (r ApiGetCmsV3PerformanceGetPageRequest) Start(start int64) ApiGetCmsV3PerformanceGetPageRequest {
	r.start = &start
	return r
}

// A timestamp in milliseconds that indicates the end of the time period.
func (r ApiGetCmsV3PerformanceGetPageRequest) End(end int64) ApiGetCmsV3PerformanceGetPageRequest {
	r.end = &end
	return r
}

func (r ApiGetCmsV3PerformanceGetPageRequest) Execute() (PublicPerformanceResponse, *_nethttp.Response, error) {
	return r.ApiService.GetCmsV3PerformanceGetPageExecute(r)
}

/*
GetCmsV3PerformanceGetPage View your website's performance.

Returns time series data website performance data for the given domain and/or path.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCmsV3PerformanceGetPageRequest
*/
func (a *PublicPerformanceApiService) GetCmsV3PerformanceGetPage(ctx _context.Context) ApiGetCmsV3PerformanceGetPageRequest {
	return ApiGetCmsV3PerformanceGetPageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return PublicPerformanceResponse
func (a *PublicPerformanceApiService) GetCmsV3PerformanceGetPageExecute(r ApiGetCmsV3PerformanceGetPageRequest) (PublicPerformanceResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PublicPerformanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicPerformanceApiService.GetCmsV3PerformanceGetPage")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/performance/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.domain != nil {
		localVarQueryParams.Add("domain", parameterToString(*r.domain, ""))
	}
	if r.path != nil {
		localVarQueryParams.Add("path", parameterToString(*r.path, ""))
	}
	if r.pad != nil {
		localVarQueryParams.Add("pad", parameterToString(*r.pad, ""))
	}
	if r.sum != nil {
		localVarQueryParams.Add("sum", parameterToString(*r.sum, ""))
	}
	if r.period != nil {
		localVarQueryParams.Add("period", parameterToString(*r.period, ""))
	}
	if r.interval != nil {
		localVarQueryParams.Add("interval", parameterToString(*r.interval, ""))
	}
	if r.start != nil {
		localVarQueryParams.Add("start", parameterToString(*r.start, ""))
	}
	if r.end != nil {
		localVarQueryParams.Add("end", parameterToString(*r.end, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["hapikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("hapikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3PerformanceUptimeGetUptimeRequest struct {
	ctx        _context.Context
	ApiService *PublicPerformanceApiService
	domain     *string
	path       *string
	pad        *bool
	sum        *bool
	period     *string
	interval   *string
	start      *int64
	end        *int64
}

// The domain to search return data for.
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Domain(domain string) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.domain = &domain
	return r
}
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Path(path string) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.path = &path
	return r
}

// Specifies whether the time series data should have empty intervals if performance data is not present to create a continuous set.
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Pad(pad bool) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.pad = &pad
	return r
}

// Specifies whether the time series data should be summated for the given period. Defaults to false.
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Sum(sum bool) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.sum = &sum
	return r
}

// A relative period to return time series data for. This value is ignored if start and/or end are provided. Valid periods: [15m, 30m, 1h, 4h, 12h, 1d, 1w]
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Period(period string) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.period = &period
	return r
}

// The time series interval to group data by. Valid intervals: [1m, 5m, 15m, 30m, 1h, 4h, 12h, 1d, 1w]
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Interval(interval string) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.interval = &interval
	return r
}

// A timestamp in milliseconds that indicates the start of the time period.
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Start(start int64) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.start = &start
	return r
}

// A timestamp in milliseconds that indicates the end of the time period.
func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) End(end int64) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	r.end = &end
	return r
}

func (r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) Execute() (PublicPerformanceResponse, *_nethttp.Response, error) {
	return r.ApiService.GetCmsV3PerformanceUptimeGetUptimeExecute(r)
}

/*
GetCmsV3PerformanceUptimeGetUptime View your website's uptime.

Returns uptime time series website performance data for the given domain.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCmsV3PerformanceUptimeGetUptimeRequest
*/
func (a *PublicPerformanceApiService) GetCmsV3PerformanceUptimeGetUptime(ctx _context.Context) ApiGetCmsV3PerformanceUptimeGetUptimeRequest {
	return ApiGetCmsV3PerformanceUptimeGetUptimeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return PublicPerformanceResponse
func (a *PublicPerformanceApiService) GetCmsV3PerformanceUptimeGetUptimeExecute(r ApiGetCmsV3PerformanceUptimeGetUptimeRequest) (PublicPerformanceResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PublicPerformanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicPerformanceApiService.GetCmsV3PerformanceUptimeGetUptime")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/performance/uptime"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.domain != nil {
		localVarQueryParams.Add("domain", parameterToString(*r.domain, ""))
	}
	if r.path != nil {
		localVarQueryParams.Add("path", parameterToString(*r.path, ""))
	}
	if r.pad != nil {
		localVarQueryParams.Add("pad", parameterToString(*r.pad, ""))
	}
	if r.sum != nil {
		localVarQueryParams.Add("sum", parameterToString(*r.sum, ""))
	}
	if r.period != nil {
		localVarQueryParams.Add("period", parameterToString(*r.period, ""))
	}
	if r.interval != nil {
		localVarQueryParams.Add("interval", parameterToString(*r.interval, ""))
	}
	if r.start != nil {
		localVarQueryParams.Add("start", parameterToString(*r.start, ""))
	}
	if r.end != nil {
		localVarQueryParams.Add("end", parameterToString(*r.end, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["hapikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("hapikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
