openapi: 3.0.1
info:
  description: |-
    HubSpot uses **owners** to assign CRM objects to specific people in your organization. The endpoints described here are used to get a list of the owners that are available for an account. To assign an owner to an object, set the hubspot_owner_id property using the appropriate CRM object update or create a request.

    If teams are available for your HubSpot tier, these endpoints will also indicate which team(s) an owner can access, as well as which team is the owner's primary team.
  title: CRM Owners
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Owners
paths:
  /crm/v3/owners/:
    get:
      operationId: get-/crm/v3/owners/_getPage
      parameters:
      - description: Filter by email address (optional)
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicOwnerForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - contacts
      - oauth2:
        - crm.objects.owners.read
      summary: Get a page of owners
      tags:
      - Owners
  /crm/v3/owners/{ownerId}:
    get:
      operationId: "get-/crm/v3/owners/{ownerId}_getById"
      parameters:
      - explode: false
        in: path
        name: ownerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: idProperty
        required: false
        schema:
          default: id
          enum:
          - id
          - userId
          type: string
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOwner'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - contacts
      - oauth2:
        - crm.objects.owners.read
      summary: Read an owner by given `id` or `userId`
      tags:
      - Owners
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    PublicOwner:
      example:
        id: "6166860"
        email: jsmith@example.com
        firstName: John
        lastName: Smith
        userId: 1296619
        createdAt: 2019-10-30T03:30:17.883Z
        updatedAt: 2019-12-07T16:50:06.678Z
        archived: false
        teams:
        - id: "178588"
          name: West Coast Sales
          primary: true
        - id: "178590"
          name: California Sales
          primary: false
      properties:
        id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        userId:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        archived:
          type: boolean
        teams:
          items:
            $ref: '#/components/schemas/PublicTeam'
          type: array
      required:
      - archived
      - createdAt
      - id
      - updatedAt
      type: object
    PublicTeam:
      properties:
        id:
          type: string
        name:
          type: string
        primary:
          type: boolean
      required:
      - id
      - name
      - primary
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    CollectionResponsePublicOwnerForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - id: "6166860"
          email: jsmith@example.com
          firstName: John
          lastName: Smith
          userId: 1296619
          createdAt: 2019-10-30T03:30:17.883Z
          updatedAt: 2019-12-07T16:50:06.678Z
          archived: false
          teams:
          - id: "178588"
            name: West Coast Sales
            primary: true
          - id: "178590"
            name: California Sales
            primary: false
        - id: "6166860"
          email: jsmith@example.com
          firstName: John
          lastName: Smith
          userId: 1296619
          createdAt: 2019-10-30T03:30:17.883Z
          updatedAt: 2019-12-07T16:50:06.678Z
          archived: false
          teams:
          - id: "178588"
            name: West Coast Sales
            primary: true
          - id: "178590"
            name: California Sales
            primary: false
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicOwner'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            contacts: Read from and write to my Contacts
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    hapikey:
      in: query
      name: hapikey
      type: apiKey
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.objects.owners.read: ' '
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
