/*
Marketing Events Extension

These APIs allow you to interact with HubSpot's Marketing Events Extension. It allows you to: * Create, Read or update Marketing Event information in HubSpot * Specify whether a HubSpot contact has registered, attended or cancelled a registration to a Marketing Event. * Specify a URL that can be called to get the details of a Marketing Event.

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package marketing_events_beta

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// SubscriberStateChangesApiService SubscriberStateChangesApi service
type SubscriberStateChangesApiService service

type ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest struct {
	ctx                                     _context.Context
	ApiService                              *SubscriberStateChangesApiService
	externalEventId                         string
	subscriberState                         string
	externalAccountId                       *string
	batchInputMarketingEventEmailSubscriber *BatchInputMarketingEventEmailSubscriber
}

// The account id associated with the marketing event
func (r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest) ExternalAccountId(externalAccountId string) ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest {
	r.externalAccountId = &externalAccountId
	return r
}

// The details of the contacts to subscribe to the event
func (r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest) BatchInputMarketingEventEmailSubscriber(batchInputMarketingEventEmailSubscriber BatchInputMarketingEventEmailSubscriber) ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest {
	r.batchInputMarketingEventEmailSubscriber = &batchInputMarketingEventEmailSubscriber
	return r
}

func (r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest) Execute() (Error, *_nethttp.Response, error) {
	return r.ApiService.PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertExecute(r)
}

/*
PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsert Record

Record a subscription state between multiple HubSpot contacts and a marketing event, using contact email addresses.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalEventId The id of the marketing event
 @param subscriberState The new subscriber state for the HubSpot contacts and the specified marketing event
 @return ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest
*/
func (a *SubscriberStateChangesApiService) PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsert(ctx _context.Context, externalEventId string, subscriberState string) ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest {
	return ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest{
		ApiService:      a,
		ctx:             ctx,
		externalEventId: externalEventId,
		subscriberState: subscriberState,
	}
}

// Execute executes the request
//  @return Error
func (a *SubscriberStateChangesApiService) PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertExecute(r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsertRequest) (Error, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Error
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriberStateChangesApiService.PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateEmailUpsert")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/email-upsert"
	localVarPath = strings.Replace(localVarPath, "{"+"externalEventId"+"}", _neturl.PathEscape(parameterToString(r.externalEventId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subscriberState"+"}", _neturl.PathEscape(parameterToString(r.subscriberState, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.externalAccountId == nil {
		return localVarReturnValue, nil, reportError("externalAccountId is required and must be specified")
	}
	if r.batchInputMarketingEventEmailSubscriber == nil {
		return localVarReturnValue, nil, reportError("batchInputMarketingEventEmailSubscriber is required and must be specified")
	}

	localVarQueryParams.Add("externalAccountId", parameterToString(*r.externalAccountId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchInputMarketingEventEmailSubscriber
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["hapikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("hapikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest struct {
	ctx                                _context.Context
	ApiService                         *SubscriberStateChangesApiService
	externalEventId                    string
	subscriberState                    string
	externalAccountId                  *string
	batchInputMarketingEventSubscriber *BatchInputMarketingEventSubscriber
}

// The account id associated with the marketing event
func (r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest) ExternalAccountId(externalAccountId string) ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest {
	r.externalAccountId = &externalAccountId
	return r
}

// The details of the contacts to subscribe to the event
func (r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest) BatchInputMarketingEventSubscriber(batchInputMarketingEventSubscriber BatchInputMarketingEventSubscriber) ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest {
	r.batchInputMarketingEventSubscriber = &batchInputMarketingEventSubscriber
	return r
}

func (r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest) Execute() (Error, *_nethttp.Response, error) {
	return r.ApiService.PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertExecute(r)
}

/*
PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsert Record

Record a subscription state between multiple HubSpot contacts and a marketing event, using HubSpot contact ids.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalEventId The id of the marketing event
 @param subscriberState The new subscriber state for the HubSpot contacts and the specified marketing event
 @return ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest
*/
func (a *SubscriberStateChangesApiService) PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsert(ctx _context.Context, externalEventId string, subscriberState string) ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest {
	return ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest{
		ApiService:      a,
		ctx:             ctx,
		externalEventId: externalEventId,
		subscriberState: subscriberState,
	}
}

// Execute executes the request
//  @return Error
func (a *SubscriberStateChangesApiService) PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertExecute(r ApiPostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsertRequest) (Error, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Error
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriberStateChangesApiService.PostMarketingV3MarketingEventsEventsExternalEventIdSubscriberStateUpsert")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/marketing-events/events/{externalEventId}/{subscriberState}/upsert"
	localVarPath = strings.Replace(localVarPath, "{"+"externalEventId"+"}", _neturl.PathEscape(parameterToString(r.externalEventId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subscriberState"+"}", _neturl.PathEscape(parameterToString(r.subscriberState, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.externalAccountId == nil {
		return localVarReturnValue, nil, reportError("externalAccountId is required and must be specified")
	}
	if r.batchInputMarketingEventSubscriber == nil {
		return localVarReturnValue, nil, reportError("batchInputMarketingEventSubscriber is required and must be specified")
	}

	localVarQueryParams.Add("externalAccountId", parameterToString(*r.externalAccountId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.batchInputMarketingEventSubscriber
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["hapikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("hapikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
