/*
OAuthService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package oauth

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// TokensApiService TokensApi service
type TokensApiService service

type ApiPostOauthV1TokenCreateTokenRequest struct {
	ctx          _context.Context
	ApiService   *TokensApiService
	grantType    *string
	code         *string
	redirectUri  *string
	clientId     *string
	clientSecret *string
	refreshToken *string
}

func (r ApiPostOauthV1TokenCreateTokenRequest) GrantType(grantType string) ApiPostOauthV1TokenCreateTokenRequest {
	r.grantType = &grantType
	return r
}
func (r ApiPostOauthV1TokenCreateTokenRequest) Code(code string) ApiPostOauthV1TokenCreateTokenRequest {
	r.code = &code
	return r
}
func (r ApiPostOauthV1TokenCreateTokenRequest) RedirectUri(redirectUri string) ApiPostOauthV1TokenCreateTokenRequest {
	r.redirectUri = &redirectUri
	return r
}
func (r ApiPostOauthV1TokenCreateTokenRequest) ClientId(clientId string) ApiPostOauthV1TokenCreateTokenRequest {
	r.clientId = &clientId
	return r
}
func (r ApiPostOauthV1TokenCreateTokenRequest) ClientSecret(clientSecret string) ApiPostOauthV1TokenCreateTokenRequest {
	r.clientSecret = &clientSecret
	return r
}
func (r ApiPostOauthV1TokenCreateTokenRequest) RefreshToken(refreshToken string) ApiPostOauthV1TokenCreateTokenRequest {
	r.refreshToken = &refreshToken
	return r
}

func (r ApiPostOauthV1TokenCreateTokenRequest) Execute() (TokenResponseIF, *_nethttp.Response, error) {
	return r.ApiService.PostOauthV1TokenCreateTokenExecute(r)
}

/*
PostOauthV1TokenCreateToken Method for PostOauthV1TokenCreateToken

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostOauthV1TokenCreateTokenRequest
*/
func (a *TokensApiService) PostOauthV1TokenCreateToken(ctx _context.Context) ApiPostOauthV1TokenCreateTokenRequest {
	return ApiPostOauthV1TokenCreateTokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return TokenResponseIF
func (a *TokensApiService) PostOauthV1TokenCreateTokenExecute(r ApiPostOauthV1TokenCreateTokenRequest) (TokenResponseIF, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  TokenResponseIF
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TokensApiService.PostOauthV1TokenCreateToken")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/v1/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.grantType != nil {
		localVarFormParams.Add("grant_type", parameterToString(*r.grantType, ""))
	}
	if r.code != nil {
		localVarFormParams.Add("code", parameterToString(*r.code, ""))
	}
	if r.redirectUri != nil {
		localVarFormParams.Add("redirect_uri", parameterToString(*r.redirectUri, ""))
	}
	if r.clientId != nil {
		localVarFormParams.Add("client_id", parameterToString(*r.clientId, ""))
	}
	if r.clientSecret != nil {
		localVarFormParams.Add("client_secret", parameterToString(*r.clientSecret, ""))
	}
	if r.refreshToken != nil {
		localVarFormParams.Add("refresh_token", parameterToString(*r.refreshToken, ""))
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
