/*
Domains

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package domains

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"reflect"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DomainsApiService DomainsApi service
type DomainsApiService service

type ApiGetCmsV3DomainsDomainIdGetByIdRequest struct {
	ctx        _context.Context
	ApiService *DomainsApiService
	domainId   string
	archived   *bool
}

// Whether to return only results that have been archived.
func (r ApiGetCmsV3DomainsDomainIdGetByIdRequest) Archived(archived bool) ApiGetCmsV3DomainsDomainIdGetByIdRequest {
	r.archived = &archived
	return r
}

func (r ApiGetCmsV3DomainsDomainIdGetByIdRequest) Execute() (Domain, *_nethttp.Response, error) {
	return r.ApiService.GetCmsV3DomainsDomainIdGetByIdExecute(r)
}

/*
GetCmsV3DomainsDomainIdGetById Get a single domain

Returns a single domains with the id specified.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param domainId The unique ID of the domain.
 @return ApiGetCmsV3DomainsDomainIdGetByIdRequest
*/
func (a *DomainsApiService) GetCmsV3DomainsDomainIdGetById(ctx _context.Context, domainId string) ApiGetCmsV3DomainsDomainIdGetByIdRequest {
	return ApiGetCmsV3DomainsDomainIdGetByIdRequest{
		ApiService: a,
		ctx:        ctx,
		domainId:   domainId,
	}
}

// Execute executes the request
//  @return Domain
func (a *DomainsApiService) GetCmsV3DomainsDomainIdGetByIdExecute(r ApiGetCmsV3DomainsDomainIdGetByIdRequest) (Domain, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Domain
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainsApiService.GetCmsV3DomainsDomainIdGetById")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/domains/{domainId}"
	localVarPath = strings.Replace(localVarPath, "{"+"domainId"+"}", _neturl.PathEscape(parameterToString(r.domainId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["hapikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("hapikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3DomainsGetPageRequest struct {
	ctx           _context.Context
	ApiService    *DomainsApiService
	createdAt     *int64
	createdAfter  *int64
	createdBefore *int64
	updatedAt     *int64
	updatedAfter  *int64
	updatedBefore *int64
	sort          *[]string
	properties    *[]string
	after         *string
	before        *string
	limit         *int32
	archived      *bool
}

// Only return domains created at this date.
func (r ApiGetCmsV3DomainsGetPageRequest) CreatedAt(createdAt int64) ApiGetCmsV3DomainsGetPageRequest {
	r.createdAt = &createdAt
	return r
}

// Only return domains created after this date.
func (r ApiGetCmsV3DomainsGetPageRequest) CreatedAfter(createdAfter int64) ApiGetCmsV3DomainsGetPageRequest {
	r.createdAfter = &createdAfter
	return r
}

// Only return domains created before this date.
func (r ApiGetCmsV3DomainsGetPageRequest) CreatedBefore(createdBefore int64) ApiGetCmsV3DomainsGetPageRequest {
	r.createdBefore = &createdBefore
	return r
}

// Only return domains updated at this date.
func (r ApiGetCmsV3DomainsGetPageRequest) UpdatedAt(updatedAt int64) ApiGetCmsV3DomainsGetPageRequest {
	r.updatedAt = &updatedAt
	return r
}

// Only return domains updated after this date.
func (r ApiGetCmsV3DomainsGetPageRequest) UpdatedAfter(updatedAfter int64) ApiGetCmsV3DomainsGetPageRequest {
	r.updatedAfter = &updatedAfter
	return r
}

// Only return domains updated before this date.
func (r ApiGetCmsV3DomainsGetPageRequest) UpdatedBefore(updatedBefore int64) ApiGetCmsV3DomainsGetPageRequest {
	r.updatedBefore = &updatedBefore
	return r
}
func (r ApiGetCmsV3DomainsGetPageRequest) Sort(sort []string) ApiGetCmsV3DomainsGetPageRequest {
	r.sort = &sort
	return r
}
func (r ApiGetCmsV3DomainsGetPageRequest) Properties(properties []string) ApiGetCmsV3DomainsGetPageRequest {
	r.properties = &properties
	return r
}

// The paging cursor token of the last successfully read resource will be returned as the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
func (r ApiGetCmsV3DomainsGetPageRequest) After(after string) ApiGetCmsV3DomainsGetPageRequest {
	r.after = &after
	return r
}
func (r ApiGetCmsV3DomainsGetPageRequest) Before(before string) ApiGetCmsV3DomainsGetPageRequest {
	r.before = &before
	return r
}

// Maximum number of results per page.
func (r ApiGetCmsV3DomainsGetPageRequest) Limit(limit int32) ApiGetCmsV3DomainsGetPageRequest {
	r.limit = &limit
	return r
}

// Whether to return only results that have been archived.
func (r ApiGetCmsV3DomainsGetPageRequest) Archived(archived bool) ApiGetCmsV3DomainsGetPageRequest {
	r.archived = &archived
	return r
}

func (r ApiGetCmsV3DomainsGetPageRequest) Execute() (CollectionResponseWithTotalDomain, *_nethttp.Response, error) {
	return r.ApiService.GetCmsV3DomainsGetPageExecute(r)
}

/*
GetCmsV3DomainsGetPage Get current domains

Returns all existing domains that have been created. Results can be limited and filtered by creation or updated date.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCmsV3DomainsGetPageRequest
*/
func (a *DomainsApiService) GetCmsV3DomainsGetPage(ctx _context.Context) ApiGetCmsV3DomainsGetPageRequest {
	return ApiGetCmsV3DomainsGetPageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return CollectionResponseWithTotalDomain
func (a *DomainsApiService) GetCmsV3DomainsGetPageExecute(r ApiGetCmsV3DomainsGetPageRequest) (CollectionResponseWithTotalDomain, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionResponseWithTotalDomain
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainsApiService.GetCmsV3DomainsGetPage")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/domains/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.createdAt != nil {
		localVarQueryParams.Add("createdAt", parameterToString(*r.createdAt, ""))
	}
	if r.createdAfter != nil {
		localVarQueryParams.Add("createdAfter", parameterToString(*r.createdAfter, ""))
	}
	if r.createdBefore != nil {
		localVarQueryParams.Add("createdBefore", parameterToString(*r.createdBefore, ""))
	}
	if r.updatedAt != nil {
		localVarQueryParams.Add("updatedAt", parameterToString(*r.updatedAt, ""))
	}
	if r.updatedAfter != nil {
		localVarQueryParams.Add("updatedAfter", parameterToString(*r.updatedAfter, ""))
	}
	if r.updatedBefore != nil {
		localVarQueryParams.Add("updatedBefore", parameterToString(*r.updatedBefore, ""))
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("sort", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("sort", parameterToString(t, "multi"))
		}
	}
	if r.properties != nil {
		t := *r.properties
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("properties", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("properties", parameterToString(t, "multi"))
		}
	}
	if r.after != nil {
		localVarQueryParams.Add("after", parameterToString(*r.after, ""))
	}
	if r.before != nil {
		localVarQueryParams.Add("before", parameterToString(*r.before, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["hapikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("hapikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
