/*
CRM Owners

HubSpot uses **owners** to assign CRM objects to specific people in your organization. The endpoints described here are used to get a list of the owners that are available for an account. To assign an owner to an object, set the hubspot_owner_id property using the appropriate CRM object update or create a request.  If teams are available for your HubSpot tier, these endpoints will also indicate which team(s) an owner can access, as well as which team is the owner's primary team.

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package owners

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// OwnersApiService OwnersApi service
type OwnersApiService service

type ApiGetCrmV3OwnersGetPageRequest struct {
	ctx        context.Context
	ApiService *OwnersApiService
	email      *string
	after      *string
	limit      *int32
	archived   *bool
}

// Filter by email address (optional)
func (r ApiGetCrmV3OwnersGetPageRequest) Email(email string) ApiGetCrmV3OwnersGetPageRequest {
	r.email = &email
	return r
}

// The paging cursor token of the last successfully read resource will be returned as the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
func (r ApiGetCrmV3OwnersGetPageRequest) After(after string) ApiGetCrmV3OwnersGetPageRequest {
	r.after = &after
	return r
}

// The maximum number of results to display per page.
func (r ApiGetCrmV3OwnersGetPageRequest) Limit(limit int32) ApiGetCrmV3OwnersGetPageRequest {
	r.limit = &limit
	return r
}

// Whether to return only results that have been archived.
func (r ApiGetCrmV3OwnersGetPageRequest) Archived(archived bool) ApiGetCrmV3OwnersGetPageRequest {
	r.archived = &archived
	return r
}

func (r ApiGetCrmV3OwnersGetPageRequest) Execute() (*CollectionResponsePublicOwnerForwardPaging, *http.Response, error) {
	return r.ApiService.GetCrmV3OwnersGetPageExecute(r)
}

/*
GetCrmV3OwnersGetPage Get a page of owners

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCrmV3OwnersGetPageRequest
*/
func (a *OwnersApiService) GetCrmV3OwnersGetPage(ctx context.Context) ApiGetCrmV3OwnersGetPageRequest {
	return ApiGetCrmV3OwnersGetPageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return CollectionResponsePublicOwnerForwardPaging
func (a *OwnersApiService) GetCrmV3OwnersGetPageExecute(r ApiGetCrmV3OwnersGetPageRequest) (*CollectionResponsePublicOwnerForwardPaging, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CollectionResponsePublicOwnerForwardPaging
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnersApiService.GetCrmV3OwnersGetPage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/crm/v3/owners/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.email != nil {
		localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	}
	if r.after != nil {
		localVarQueryParams.Add("after", parameterToString(*r.after, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCrmV3OwnersOwnerIdGetByIdRequest struct {
	ctx        context.Context
	ApiService *OwnersApiService
	ownerId    int32
	idProperty *string
	archived   *bool
}

func (r ApiGetCrmV3OwnersOwnerIdGetByIdRequest) IdProperty(idProperty string) ApiGetCrmV3OwnersOwnerIdGetByIdRequest {
	r.idProperty = &idProperty
	return r
}

// Whether to return only results that have been archived.
func (r ApiGetCrmV3OwnersOwnerIdGetByIdRequest) Archived(archived bool) ApiGetCrmV3OwnersOwnerIdGetByIdRequest {
	r.archived = &archived
	return r
}

func (r ApiGetCrmV3OwnersOwnerIdGetByIdRequest) Execute() (*PublicOwner, *http.Response, error) {
	return r.ApiService.GetCrmV3OwnersOwnerIdGetByIdExecute(r)
}

/*
GetCrmV3OwnersOwnerIdGetById Read an owner by given `id` or `userId`

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ownerId
 @return ApiGetCrmV3OwnersOwnerIdGetByIdRequest
*/
func (a *OwnersApiService) GetCrmV3OwnersOwnerIdGetById(ctx context.Context, ownerId int32) ApiGetCrmV3OwnersOwnerIdGetByIdRequest {
	return ApiGetCrmV3OwnersOwnerIdGetByIdRequest{
		ApiService: a,
		ctx:        ctx,
		ownerId:    ownerId,
	}
}

// Execute executes the request
//  @return PublicOwner
func (a *OwnersApiService) GetCrmV3OwnersOwnerIdGetByIdExecute(r ApiGetCrmV3OwnersOwnerIdGetByIdRequest) (*PublicOwner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PublicOwner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OwnersApiService.GetCrmV3OwnersOwnerIdGetById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/crm/v3/owners/{ownerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"ownerId"+"}", url.PathEscape(parameterToString(r.ownerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.idProperty != nil {
		localVarQueryParams.Add("idProperty", parameterToString(*r.idProperty, ""))
	}
	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
