openapi: 3.0.1
info:
  description: "Use these endpoints for interacting with Blog Posts, Blog Authors,\
    \ and Blog Tags"
  title: Blog Post endpoints
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Blog Authors
paths:
  /cms/v3/blogs/authors:
    get:
      description: |
        Get the list of blog authors. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.
      operationId: GetPage
      parameters:
      - description: Only return Blog Authors created at exactly the specified time.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Authors created after the specified time.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Authors created before the specified time.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Authors last updated at exactly the specified
          time.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Authors last updated after the specified time.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return Blog Authors last updated before the specified time.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Specifies which fields to use for sorting results. Valid fields\
          \ are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt`\
          \ will be used by default."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to return. Default is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether to return deleted Blog Authors. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalBlogAuthorForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Get all Blog Authors
      tags:
      - Blog Authors
    post:
      description: Create a new Blog Author.
      operationId: Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogAuthor'
        description: The JSON representation of a new Blog Author.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogAuthor'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a new Blog Author
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/batch/archive:
    post:
      description: Delete the Blog Author objects identified in the request body.
      operationId: BatchArchive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Blog Author ids.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Delete a batch of Blog Authors
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/batch/create:
    post:
      description: Create the Blog Author objects detailed in the request body.
      operationId: BatchCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputBlogAuthor'
        description: The JSON array of new Blog Authors to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthor'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthorWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a batch of Blog Authors
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/batch/read:
    post:
      description: Retrieve the Blog Author objects identified in the request body.
      operationId: BatchRead
      parameters:
      - description: Specifies whether to return deleted Blog Authors. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        description: The JSON array of Blog Author ids.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthor'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthorWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieve a batch of Blog Authors
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/batch/update:
    post:
      description: Update the Blog Author objects identified in the request body.
      operationId: BatchUpdate
      parameters:
      - description: Specifies whether to update deleted Blog Authors. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        description: A JSON array of the JSON representations of the updated Blog
          Authors.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthor'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthorWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update a batch of Blog Authors
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/multi-language/attach-to-lang-group:
    post:
      description: Attach a Blog Author to a multi-language group.
      operationId: AttachToLangGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        description: The JSON representation of the AttachToLangPrimaryRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Attach a Blog Author to a multi-language group
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/multi-language/create-language-variation:
    post:
      description: Create a new language variation from an existing Blog Author.
      operationId: CreateLangVariation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogAuthorCloneRequestVNext'
        description: The JSON representation of the ContentLanguageCloneRequest object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogAuthor'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a new language variation
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/multi-language/detach-from-lang-group:
    post:
      description: Detach a Blog Author from a multi-language group.
      operationId: DetachFromLangGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        description: The JSON representation of the DetachFromLangGroupRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Detach a Blog Author from a multi-language group
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/multi-language/set-new-lang-primary:
    put:
      description: Set a Blog Author as the primary language of a multi-language group.
      operationId: SetLangPrimary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        description: The JSON representation of the SetNewLanguagePrimaryRequest object.
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Set a new primary language
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/multi-language/update-languages:
    post:
      description: Explicitly set new languages for each Blog Author in a multi-language
        group.
      operationId: UpdateLangs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        description: The JSON representation of the UpdateLanguagesRequest object.
        required: true
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update languages of multi-language group
      tags:
      - Blog Authors
  /cms/v3/blogs/authors/{objectId}:
    delete:
      description: Delete the Blog Author object identified by the id in the path.
      operationId: Archive
      parameters:
      - description: The Blog Author id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Delete a Blog Author
      tags:
      - Blog Authors
    get:
      description: Retrieve the Blog Author object identified by the id in the path.
      operationId: GetByID
      parameters:
      - description: The Blog Author id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to return deleted Blog Authors. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogAuthor'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Retrieve a Blog Author
      tags:
      - Blog Authors
    patch:
      description: |
        Sparse updates a single Blog Author object identified by the id in the path.
        All the column values need not be specified. Only the that need to be modified can be specified.
      operationId: Update
      parameters:
      - description: The Blog Author id.
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether to update deleted Blog Authors. Defaults to
          `false`.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogAuthor'
        description: The JSON representation of the updated Blog Author.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogAuthor'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update a Blog Author
      tags:
      - Blog Authors
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    BatchInputString:
      description: Wrapper for providing an array of strings as inputs.
      example:
        inputs:
        - inputs
        - inputs
      properties:
        inputs:
          description: Strings to input.
          items:
            type: string
          type: array
      required:
      - inputs
      type: object
    BatchInputBlogAuthor:
      description: Wrapper for providing an array of blog authors as inputs.
      example:
        inputs:
        - website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
        - website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
      properties:
        inputs:
          description: Blog authors to input.
          items:
            $ref: '#/components/schemas/BlogAuthor'
          type: array
      required:
      - inputs
      type: object
    StandardError:
      description: Model definition for a standard error.
      properties:
        status:
          description: Error status.
          type: string
        id:
          description: Error ID.
          type: string
        category:
          description: Model definition for an error category.
          type: object
        subCategory:
          description: Error subcategory.
          properties: {}
          type: object
        message:
          description: Error message.
          type: string
        errors:
          description: List of error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Error context.
          type: object
        links:
          additionalProperties:
            type: string
          description: Error links.
          type: object
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    BatchInputJsonNode:
      description: Wrapper for providing an array of JSON nodes as inputs.
      example:
        inputs:
        - "{}"
        - "{}"
      properties:
        inputs:
          description: JSON nodes to input.
          items:
            properties: {}
            type: object
          type: array
      required:
      - inputs
      type: object
    UpdateLanguagesRequestVNext:
      description: Request object for updating languages within a multi-language group.
      example:
        languages:
          key: af
        primaryId: primaryId
      properties:
        primaryId:
          description: ID of the primary object in the multi-language group.
          type: string
        languages:
          additionalProperties:
            enum:
            - af
            - af-na
            - af-za
            - agq
            - agq-cm
            - ak
            - ak-gh
            - am
            - am-et
            - ar
            - ar-001
            - ar-ae
            - ar-bh
            - ar-dj
            - ar-dz
            - ar-eg
            - ar-eh
            - ar-er
            - ar-il
            - ar-iq
            - ar-jo
            - ar-km
            - ar-kw
            - ar-lb
            - ar-ly
            - ar-ma
            - ar-mr
            - ar-om
            - ar-ps
            - ar-qa
            - ar-sa
            - ar-sd
            - ar-so
            - ar-ss
            - ar-sy
            - ar-td
            - ar-tn
            - ar-ye
            - as
            - as-in
            - asa
            - asa-tz
            - ast
            - ast-es
            - az
            - az-az
            - bas
            - bas-cm
            - be
            - be-by
            - bem
            - bem-zm
            - bez
            - bez-tz
            - bg
            - bg-bg
            - bm
            - bm-ml
            - bn
            - bn-bd
            - bn-in
            - bo
            - bo-cn
            - bo-in
            - br
            - br-fr
            - brx
            - brx-in
            - bs
            - bs-ba
            - ca
            - ca-ad
            - ca-es
            - ca-fr
            - ca-it
            - ccp
            - ccp-bd
            - ccp-in
            - ce
            - ce-ru
            - cgg
            - cgg-ug
            - chr
            - chr-us
            - ckb
            - ckb-iq
            - ckb-ir
            - cs
            - cs-cz
            - cu
            - cu-ru
            - cy
            - cy-gb
            - da
            - da-dk
            - da-gl
            - dav
            - dav-ke
            - de
            - de-at
            - de-be
            - de-ch
            - de-de
            - de-gr
            - de-it
            - de-li
            - de-lu
            - dje
            - dje-ne
            - dsb
            - dsb-de
            - dua
            - dua-cm
            - dyo
            - dyo-sn
            - dz
            - dz-bt
            - ebu
            - ebu-ke
            - ee
            - ee-gh
            - ee-tg
            - el
            - el-cy
            - el-gr
            - en
            - en-001
            - en-150
            - en-ae
            - en-ag
            - en-ai
            - en-as
            - en-at
            - en-au
            - en-bb
            - en-be
            - en-bi
            - en-bm
            - en-bs
            - en-bw
            - en-bz
            - en-ca
            - en-cc
            - en-ch
            - en-ck
            - en-cm
            - en-cx
            - en-cy
            - en-de
            - en-dg
            - en-dk
            - en-dm
            - en-er
            - en-fi
            - en-fj
            - en-fk
            - en-fm
            - en-gb
            - en-gd
            - en-gg
            - en-gh
            - en-gi
            - en-gm
            - en-gu
            - en-gy
            - en-hk
            - en-ie
            - en-il
            - en-im
            - en-in
            - en-io
            - en-je
            - en-jm
            - en-ke
            - en-ki
            - en-kn
            - en-ky
            - en-lc
            - en-lr
            - en-ls
            - en-lu
            - en-mg
            - en-mh
            - en-mo
            - en-mp
            - en-ms
            - en-mt
            - en-mu
            - en-mw
            - en-my
            - en-na
            - en-nf
            - en-ng
            - en-nl
            - en-nr
            - en-nu
            - en-nz
            - en-pg
            - en-ph
            - en-pk
            - en-pn
            - en-pr
            - en-pw
            - en-rw
            - en-sb
            - en-sc
            - en-sd
            - en-se
            - en-sg
            - en-sh
            - en-si
            - en-sl
            - en-ss
            - en-sx
            - en-sz
            - en-tc
            - en-tk
            - en-to
            - en-tt
            - en-tv
            - en-tz
            - en-ug
            - en-um
            - en-us
            - en-vc
            - en-vg
            - en-vi
            - en-vu
            - en-ws
            - en-za
            - en-zm
            - en-zw
            - eo
            - eo-001
            - es
            - es-419
            - es-ar
            - es-bo
            - es-br
            - es-bz
            - es-cl
            - es-co
            - es-cr
            - es-cu
            - es-do
            - es-ea
            - es-ec
            - es-es
            - es-gq
            - es-gt
            - es-hn
            - es-ic
            - es-mx
            - es-ni
            - es-pa
            - es-pe
            - es-ph
            - es-pr
            - es-py
            - es-sv
            - es-us
            - es-uy
            - es-ve
            - et
            - et-ee
            - eu
            - eu-es
            - ewo
            - ewo-cm
            - fa
            - fa-af
            - fa-ir
            - ff
            - ff-cm
            - ff-gn
            - ff-mr
            - ff-sn
            - fi
            - fi-fi
            - fil
            - fil-ph
            - fo
            - fo-dk
            - fo-fo
            - fr
            - fr-be
            - fr-bf
            - fr-bi
            - fr-bj
            - fr-bl
            - fr-ca
            - fr-cd
            - fr-cf
            - fr-cg
            - fr-ch
            - fr-ci
            - fr-cm
            - fr-dj
            - fr-dz
            - fr-fr
            - fr-ga
            - fr-gf
            - fr-gn
            - fr-gp
            - fr-gq
            - fr-ht
            - fr-km
            - fr-lu
            - fr-ma
            - fr-mc
            - fr-mf
            - fr-mg
            - fr-ml
            - fr-mq
            - fr-mr
            - fr-mu
            - fr-nc
            - fr-ne
            - fr-pf
            - fr-pm
            - fr-re
            - fr-rw
            - fr-sc
            - fr-sn
            - fr-sy
            - fr-td
            - fr-tg
            - fr-tn
            - fr-vu
            - fr-wf
            - fr-yt
            - fur
            - fur-it
            - fy
            - fy-nl
            - ga
            - ga-ie
            - gd
            - gd-gb
            - gl
            - gl-es
            - gsw
            - gsw-ch
            - gsw-fr
            - gsw-li
            - gu
            - gu-in
            - guz
            - guz-ke
            - gv
            - gv-im
            - ha
            - ha-gh
            - ha-ne
            - ha-ng
            - haw
            - haw-us
            - he
            - hi
            - hi-in
            - hr
            - hr-ba
            - hr-hr
            - hsb
            - hsb-de
            - hu
            - hu-hu
            - hy
            - hy-am
            - id
            - ig
            - ig-ng
            - ii
            - ii-cn
            - id-id
            - is
            - is-is
            - it
            - it-ch
            - it-it
            - it-sm
            - it-va
            - he-il
            - ja
            - ja-jp
            - jgo
            - jgo-cm
            - yi
            - yi-001
            - jmc
            - jmc-tz
            - ka
            - ka-ge
            - kab
            - kab-dz
            - kam
            - kam-ke
            - kde
            - kde-tz
            - kea
            - kea-cv
            - khq
            - khq-ml
            - ki
            - ki-ke
            - kk
            - kk-kz
            - kkj
            - kkj-cm
            - kl
            - kl-gl
            - kln
            - kln-ke
            - km
            - km-kh
            - kn
            - kn-in
            - ko
            - ko-kp
            - ko-kr
            - kok
            - kok-in
            - ks
            - ks-in
            - ksb
            - ksb-tz
            - ksf
            - ksf-cm
            - ksh
            - ksh-de
            - kw
            - kw-gb
            - ky
            - ky-kg
            - lag
            - lag-tz
            - lb
            - lb-lu
            - lg
            - lg-ug
            - lkt
            - lkt-us
            - ln
            - ln-ao
            - ln-cd
            - ln-cf
            - ln-cg
            - lo
            - lo-la
            - lrc
            - lrc-iq
            - lrc-ir
            - lt
            - lt-lt
            - lu
            - lu-cd
            - luo
            - luo-ke
            - luy
            - luy-ke
            - lv
            - lv-lv
            - mas
            - mas-ke
            - mas-tz
            - mer
            - mer-ke
            - mfe
            - mfe-mu
            - mg
            - mg-mg
            - mgh
            - mgh-mz
            - mgo
            - mgo-cm
            - mk
            - mk-mk
            - ml
            - ml-in
            - mn
            - mn-mn
            - mr
            - mr-in
            - ms
            - ms-bn
            - ms-my
            - ms-sg
            - mt
            - mt-mt
            - mua
            - mua-cm
            - my
            - my-mm
            - mzn
            - mzn-ir
            - naq
            - naq-na
            - nb
            - nb-no
            - nb-sj
            - nd
            - nd-zw
            - nds
            - nds-de
            - nds-nl
            - ne
            - ne-in
            - ne-np
            - nl
            - nl-aw
            - nl-be
            - nl-ch
            - nl-bq
            - nl-cw
            - nl-lu
            - nl-nl
            - nl-sr
            - nl-sx
            - nmg
            - nmg-cm
            - nn
            - nn-no
            - nnh
            - nnh-cm
            - "no"
            - no-no
            - nus
            - nus-ss
            - nyn
            - nyn-ug
            - om
            - om-et
            - om-ke
            - or
            - or-in
            - os
            - os-ge
            - os-ru
            - pa
            - pa-in
            - pa-pk
            - pl
            - pl-pl
            - prg
            - prg-001
            - ps
            - ps-af
            - pt
            - pt-ao
            - pt-br
            - pt-ch
            - pt-cv
            - pt-gq
            - pt-gw
            - pt-lu
            - pt-mo
            - pt-mz
            - pt-pt
            - pt-st
            - pt-tl
            - qu
            - qu-bo
            - qu-ec
            - qu-pe
            - rm
            - rm-ch
            - rn
            - rn-bi
            - ro
            - ro-md
            - ro-ro
            - rof
            - rof-tz
            - ru
            - ru-by
            - ru-kg
            - ru-kz
            - ru-md
            - ru-ru
            - ru-ua
            - rw
            - rw-rw
            - rwk
            - rwk-tz
            - sa
            - sah
            - sah-ru
            - saq
            - saq-ke
            - sbp
            - sbp-tz
            - sd
            - sd-pk
            - se
            - se-fi
            - se-no
            - se-se
            - seh
            - seh-mz
            - ses
            - ses-ml
            - sg
            - sg-cf
            - shi
            - shi-ma
            - si
            - si-lk
            - sk
            - sk-sk
            - sl
            - sl-si
            - smn
            - smn-fi
            - sn
            - sn-zw
            - so
            - so-dj
            - so-et
            - so-ke
            - so-so
            - sq
            - sq-al
            - sq-mk
            - sq-xk
            - sr
            - sr-ba
            - sr-cs
            - sr-me
            - sr-rs
            - sr-xk
            - sv
            - sv-ax
            - sv-fi
            - sv-se
            - sw
            - sw-cd
            - sw-ke
            - sw-tz
            - sw-ug
            - sy
            - ta
            - ta-in
            - ta-lk
            - ta-my
            - ta-sg
            - te
            - te-in
            - teo
            - teo-ke
            - teo-ug
            - tg
            - tg-tj
            - th
            - th-th
            - ti
            - ti-er
            - ti-et
            - tk
            - tk-tm
            - to
            - to-to
            - tr
            - tr-cy
            - tr-tr
            - tt
            - tt-ru
            - twq
            - twq-ne
            - tzm
            - tzm-ma
            - ug
            - ug-cn
            - uk
            - uk-ua
            - ur
            - ur-in
            - ur-pk
            - uz
            - uz-af
            - uz-uz
            - vai
            - vai-lr
            - vi
            - vi-vn
            - vo
            - vo-001
            - vun
            - vun-tz
            - wae
            - wae-ch
            - wo
            - wo-sn
            - xog
            - xog-ug
            - yav
            - yav-cm
            - yo
            - yo-bj
            - yo-ng
            - yue
            - yue-cn
            - yue-hk
            - zgh
            - zgh-ma
            - zh
            - zh-cn
            - zh-hk
            - zh-mo
            - zh-sg
            - zh-tw
            - zh-hans
            - zh-hant
            - zu
            - zu-za
            type: string
            x-hubspot-external-project-origin: true
          description: Map of object IDs to associated languages of object in the
            multi-language group.
          type: object
      required:
      - languages
      - primaryId
      type: object
    SetNewLanguagePrimaryRequestVNext:
      description: Request body object for setting a new primary language.
      example:
        id: id
      properties:
        id:
          description: ID of object to set as primary in multi-language group.
          type: string
      required:
      - id
      type: object
    BlogAuthorCloneRequestVNext:
      description: Request body object for cloning blog authors.
      example:
        language: language
        id: id
        primaryLanguage: primaryLanguage
        blogAuthor:
          website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
      properties:
        id:
          description: ID of the object to be cloned.
          type: string
        language:
          description: Language of newly cloned object.
          type: string
        primaryLanguage:
          description: Primary language in multi-language group.
          type: string
        blogAuthor:
          $ref: '#/components/schemas/BlogAuthor'
      required:
      - blogAuthor
      - id
      type: object
    DetachFromLangGroupRequestVNext:
      description: Request body object for detaching objects from multi-language groups.
      example:
        id: id
      properties:
        id:
          description: ID of the object to remove from a multi-language group.
          type: string
      required:
      - id
      type: object
    BlogAuthor:
      description: Model definition for a Blog Author.
      example:
        website: website
        displayName: displayName
        created: 2000-01-23T04:56:07.000+00:00
        facebook: facebook
        fullName: fullName
        bio: bio
        language: af
        linkedin: linkedin
        avatar: avatar
        translatedFromId: 6
        twitter: twitter
        deletedAt: 2000-01-23T04:56:07.000+00:00
        name: name
        id: id
        updated: 2000-01-23T04:56:07.000+00:00
        email: email
        slug: slug
      properties:
        id:
          description: The unique ID of the Blog Author.
          type: string
        fullName:
          type: string
        email:
          description: Email address of the Blog Author.
          type: string
        slug:
          type: string
        language:
          description: The explicitly defined ISO 639 language code of the blog author.
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mw
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-cm
          - ff-gn
          - ff-mr
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kde
          - kde-tz
          - kea
          - kea-cv
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mas
          - mas-ke
          - mas-tz
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-ch
          - nl-bq
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - "no"
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sbp
          - sbp-tz
          - sd
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - to
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zh-hans
          - zh-hant
          - zu
          - zu-za
          type: string
        translatedFromId:
          description: ID of the primary blog author this object was translated from.
          format: int64
          type: integer
        name:
          type: string
        displayName:
          description: The full name of the Blog Author to be displayed.
          type: string
        bio:
          description: A short biography of the blog author.
          type: string
        website:
          description: URL to the website of the Blog Author.
          type: string
        twitter:
          description: URL or username of the Twitter account associated with the
            Blog Author. This will be normalized into the Twitter url for said user.
          type: string
        facebook:
          description: URL to the Blog Author's Facebook page.
          type: string
        linkedin:
          description: URL to the blog author's LinkedIn page.
          type: string
        avatar:
          description: "URL to the blog author's avatar, if supplying a custom one."
          type: string
        created:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        deletedAt:
          description: The timestamp (ISO8601 format) when this Blog Author was deleted.
          format: date-time
          type: string
      required:
      - avatar
      - bio
      - created
      - deletedAt
      - displayName
      - email
      - facebook
      - fullName
      - id
      - language
      - linkedin
      - name
      - slug
      - translatedFromId
      - twitter
      - updated
      - website
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    AttachToLangPrimaryRequestVNext:
      description: Request body object fro attaching objects to multi-language groups.
      example:
        language: af
        id: id
        primaryId: primaryId
        primaryLanguage: af
      properties:
        id:
          description: ID of the object to add to a multi-language group.
          type: string
        language:
          description: Designated language of the object to add to a multi-language
            group.
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mw
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-cm
          - ff-gn
          - ff-mr
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kde
          - kde-tz
          - kea
          - kea-cv
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mas
          - mas-ke
          - mas-tz
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-ch
          - nl-bq
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - "no"
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sbp
          - sbp-tz
          - sd
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - to
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zh-hans
          - zh-hant
          - zu
          - zu-za
          type: string
        primaryId:
          description: ID of primary language object in multi-language group.
          type: string
        primaryLanguage:
          description: Primary language of the multi-language group.
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mw
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-cm
          - ff-gn
          - ff-mr
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kde
          - kde-tz
          - kea
          - kea-cv
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mas
          - mas-ke
          - mas-tz
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-ch
          - nl-bq
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - "no"
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sbp
          - sbp-tz
          - sd
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - to
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zh-hans
          - zh-hant
          - zu
          - zu-za
          type: string
      required:
      - id
      - language
      - primaryId
      type: object
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    BatchResponseBlogAuthor:
      description: Response object for batch operations on blog authors.
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
        - website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
        status: PENDING
      properties:
        status:
          description: Status of batch operation.
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        results:
          description: Results of batch operation.
          items:
            $ref: '#/components/schemas/BlogAuthor'
          type: array
        requestedAt:
          description: Time of batch operation request.
          format: date-time
          type: string
        startedAt:
          description: Time of batch operation start.
          format: date-time
          type: string
        completedAt:
          description: Time of batch operation completion.
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          description: Links associated with batch operation.
          type: object
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    ForwardPaging:
      description: Model definition for forward paging.
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    ErrorCategory:
      description: Model definition for an error category.
      type: object
    BatchResponseBlogAuthorWithErrors:
      description: Response object for batch operations on blog authors with errors.
      properties:
        status:
          description: Status of batch operation.
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        results:
          description: Results of batch operation.
          items:
            $ref: '#/components/schemas/BlogAuthor'
          type: array
        numErrors:
          description: Number of errors.
          format: int32
          type: integer
        errors:
          description: Errors in batch operation.
          items:
            $ref: '#/components/schemas/StandardError'
          type: array
        requestedAt:
          description: Time of batch operation request.
          format: date-time
          type: string
        startedAt:
          description: Time of batch operation start.
          format: date-time
          type: string
        completedAt:
          description: Time of batch operation completion.
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          description: Links associated with batch operation.
          type: object
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    NextPage:
      description: Model definition for a next page.
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
    CollectionResponseWithTotalBlogAuthorForwardPaging:
      description: Response object for collections of blog authors with pagination
        information.
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
        results:
        - website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
        - website: website
          displayName: displayName
          created: 2000-01-23T04:56:07.000+00:00
          facebook: facebook
          fullName: fullName
          bio: bio
          language: af
          linkedin: linkedin
          avatar: avatar
          translatedFromId: 6
          twitter: twitter
          deletedAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
          email: email
          slug: slug
      properties:
        total:
          description: Total number of blog authors.
          format: int32
          type: integer
        results:
          description: Collection of blog authors.
          items:
            $ref: '#/components/schemas/BlogAuthor'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      - total
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            content: Read from and write to my Content
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
