openapi: 3.0.1
info:
  description: |-
    CRM objects such as companies, contacts, deals, line items, products, tickets, and quotes are standard objects in HubSpot’s CRM. These core building blocks support custom properties, store critical information, and play a central role in the HubSpot application.

    ## Supported Object Types

    This API provides access to collections of CRM objects, which return a map of property names to values. Each object type has its own set of default properties, which can be found by exploring the [CRM Object Properties API](https://developers.hubspot.com/docs/methods/crm-properties/crm-properties-overview).

    |Object Type |Properties returned by default |
    |--|--|
    | `companies` | `name`, `domain` |
    | `contacts` | `firstname`, `lastname`, `email` |
    | `deals` | `dealname`, `amount`, `closedate`, `pipeline`, `dealstage` |
    | `products` | `name`, `description`, `price` |
    | `tickets` | `content`, `hs_pipeline`, `hs_pipeline_stage`, `hs_ticket_category`, `hs_ticket_priority`, `subject` |

    Find a list of all properties for an object type using the [CRM Object Properties](https://developers.hubspot.com/docs/methods/crm-properties/get-properties) API. e.g. `GET https://api.hubapi.com/properties/v2/companies/properties`. Change the properties returned in the response using the `properties` array in the request body.
  title: CRM Objects
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Associations
- name: Basic
- name: Batch
- name: GDPR
- name: Search
- name: Public_Object
paths:
  /crm/v3/objects/{objectType}:
    get:
      description: Read a page of objects. Control what is returned via the `properties`
        query param.
      operationId: GetPage
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: "A comma separated list of the properties to be returned in the\
          \ response. If any of the specified properties are not present on the requested\
          \ object(s), they will be ignored."
        explode: true
        in: query
        name: properties
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "A comma separated list of the properties to be returned along\
          \ with their history of previous values. If any of the specified properties\
          \ are not present on the requested object(s), they will be ignored. Usage\
          \ of this parameter will reduce the maximum number of objects that can be\
          \ read by a single request."
        explode: true
        in: query
        name: propertiesWithHistory
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "A comma separated list of object types to retrieve associated\
          \ IDs for. If any of the specified associations do not exist, they will\
          \ be ignored."
        explode: true
        in: query
        name: associations
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: List
      tags:
      - Basic
    post:
      description: "Create a CRM object with the given properties and return a copy\
        \ of the object, including the ID. Documentation and examples for creating\
        \ standard objects is provided."
      operationId: Create
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Create
      tags:
      - Basic
  /crm/v3/objects/{objectType}/batch/archive:
    post:
      operationId: BatchArchive
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectId'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Archive a batch of objects by ID
      tags:
      - Batch
  /crm/v3/objects/{objectType}/batch/create:
    post:
      operationId: BatchCreate
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Create a batch of objects
      tags:
      - Batch
  /crm/v3/objects/{objectType}/batch/read:
    post:
      operationId: BatchRead
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: "Read a batch of objects by internal ID, or unique property values"
      tags:
      - Batch
  /crm/v3/objects/{objectType}/batch/update:
    post:
      operationId: BatchUpdate
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Update a batch of objects
      tags:
      - Batch
  /crm/v3/objects/{objectType}/gdpr-delete:
    post:
      description: "Permanently delete a contact and all associated content to follow\
        \ GDPR. Use optional property 'idProperty' set to 'email' to identify contact\
        \ by email address. If email address is not found, the email address will\
        \ be added to a blocklist and prevent it from being used in the future."
      operationId: Delete
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGdprDeleteInput'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: GDPR DELETE
      tags:
      - GDPR
  /crm/v3/objects/{objectType}/merge:
    post:
      operationId: Merge
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Merge two objects with same type
      tags:
      - Public_Object
  /crm/v3/objects/{objectType}/search:
    post:
      operationId: Search
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      tags:
      - Search
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v3/objects/{objectType}/{objectId}:
    delete:
      description: "Move an Object identified by `{objectId}` to the recycling bin."
      operationId: Archive
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Archive
      tags:
      - Basic
    get:
      description: "Read an Object identified by `{objectId}`. `{objectId}` refers\
        \ to the internal object ID by default, or optionally any unique property\
        \ value as specified by the `idProperty` query param.  Control what is returned\
        \ via the `properties` query param."
      operationId: GetByID
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: "A comma separated list of the properties to be returned in the\
          \ response. If any of the specified properties are not present on the requested\
          \ object(s), they will be ignored."
        explode: true
        in: query
        name: properties
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "A comma separated list of the properties to be returned along\
          \ with their history of previous values. If any of the specified properties\
          \ are not present on the requested object(s), they will be ignored."
        explode: true
        in: query
        name: propertiesWithHistory
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "A comma separated list of object types to retrieve associated\
          \ IDs for. If any of the specified associations do not exist, they will\
          \ be ignored."
        explode: true
        in: query
        name: associations
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The name of a property whose values are unique for this object
          type
        explode: true
        in: query
        name: idProperty
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Read
      tags:
      - Basic
    patch:
      description: "Perform a partial update of an Object identified by `{objectId}`.\
        \ `{objectId}` refers to the internal object ID by default, or optionally\
        \ any unique property value as specified by the `idProperty` query param.\
        \ Provided property values will be overwritten. Read-only and non-existent\
        \ properties will be ignored. Properties values can be cleared by passing\
        \ an empty string."
      operationId: Update
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - description: The name of a property whose values are unique for this object
          type
        explode: true
        in: query
        name: idProperty
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Update
      tags:
      - Basic
  /crm/v3/objects/{objectType}/{objectId}/associations/{toObjectType}:
    get:
      operationId: AssociationsGetAll
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociatedIdForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: List associations of an object by type
      tags:
      - Associations
  /crm/v3/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}/{associationType}:
    delete:
      operationId: AssociationsArchive
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: associationType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Remove an association between two objects
      tags:
      - Associations
    put:
      operationId: AssociationsCreate
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: associationType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.objects.quotes.write
      - oauth2_legacy:
        - tickets
      - oauth2_legacy:
        - media_bridge.read
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2_legacy:
        - e-commerce
      - oauth2:
        - crm.objects.quotes.read
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Associate an object with another object
      tags:
      - Associations
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    StandardError:
      properties:
        status:
          type: string
        id:
          type: string
        category:
          $ref: '#/components/schemas/ErrorCategory'
        subCategory:
          properties: {}
          type: object
        message:
          type: string
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    CollectionResponseAssociatedId:
      example:
        paging:
          next:
            after: NTI1Cg%3D%3D
            link: ?after=NTI1Cg%3D%3D
          prev:
            before: before
            link: link
        results:
        - id: id
          type: type
        - id: id
          type: type
      properties:
        results:
          items:
            $ref: '#/components/schemas/AssociatedId'
          type: array
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
      type: object
    BatchResponseSimplePublicObject:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - id: "512"
          properties:
            property_string: value
            property_number: "17"
            property_date: "1572480000000"
            property_radio: option_1
            property_dropdown: choice_b
            property_checkbox: "false"
            property_multiple_checkboxes: chocolate;strawberry
          createdAt: 2019-10-30T03:30:17.883Z
          updatedAt: 2019-12-07T16:50:06.678Z
          archived: false
        - id: "512"
          properties:
            property_string: value
            property_number: "17"
            property_date: "1572480000000"
            property_radio: option_1
            property_dropdown: choice_b
            property_checkbox: "false"
            property_multiple_checkboxes: chocolate;strawberry
          createdAt: 2019-10-30T03:30:17.883Z
          updatedAt: 2019-12-07T16:50:06.678Z
          archived: false
        status: PENDING
      properties:
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        results:
          items:
            $ref: '#/components/schemas/SimplePublicObject'
          type: array
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        completedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    FilterGroup:
      example:
        filters:
        - propertyName: propertyName
          values:
          - values
          - values
          value: value
          operator: EQ
        - propertyName: propertyName
          values:
          - values
          - values
          value: value
          operator: EQ
      properties:
        filters:
          items:
            $ref: '#/components/schemas/Filter'
          type: array
      required:
      - filters
      type: object
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          after: NTI1Cg%3D%3D
          link: ?after=NTI1Cg%3D%3D
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    SimplePublicObjectId:
      example:
        id: id
      properties:
        id:
          type: string
      required:
      - id
      type: object
    BatchReadInputSimplePublicObjectId:
      example:
        propertiesWithHistory:
        - propertiesWithHistory
        - propertiesWithHistory
        idProperty: idProperty
        inputs:
        - id: id
        - id: id
        properties:
        - properties
        - properties
      properties:
        properties:
          items:
            type: string
          type: array
        propertiesWithHistory:
          items:
            type: string
          type: array
        idProperty:
          type: string
        inputs:
          items:
            $ref: '#/components/schemas/SimplePublicObjectId'
          type: array
      required:
      - inputs
      - properties
      - propertiesWithHistory
      type: object
    BatchInputSimplePublicObjectId:
      example:
        inputs:
        - id: id
        - id: id
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/SimplePublicObjectId'
          type: array
      required:
      - inputs
      type: object
    ValueWithTimestamp:
      example:
        sourceId: sourceId
        sourceType: sourceType
        sourceLabel: sourceLabel
        updatedByUserId: 0
        value: value
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        value:
          type: string
        timestamp:
          format: date-time
          type: string
        sourceType:
          type: string
        sourceId:
          type: string
        sourceLabel:
          type: string
        updatedByUserId:
          format: int32
          type: integer
      required:
      - sourceType
      - timestamp
      - value
      type: object
    CollectionResponseWithTotalSimplePublicObjectForwardPaging:
      example:
        total: 0
        paging:
          next:
            after: NTI1Cg%3D%3D
            link: ?after=NTI1Cg%3D%3D
        results:
        - id: "512"
          properties:
            property_string: value
            property_number: "17"
            property_date: "1572480000000"
            property_radio: option_1
            property_dropdown: choice_b
            property_checkbox: "false"
            property_multiple_checkboxes: chocolate;strawberry
          createdAt: 2019-10-30T03:30:17.883Z
          updatedAt: 2019-12-07T16:50:06.678Z
          archived: false
        - id: "512"
          properties:
            property_string: value
            property_number: "17"
            property_date: "1572480000000"
            property_radio: option_1
            property_dropdown: choice_b
            property_checkbox: "false"
            property_multiple_checkboxes: chocolate;strawberry
          createdAt: 2019-10-30T03:30:17.883Z
          updatedAt: 2019-12-07T16:50:06.678Z
          archived: false
      properties:
        total:
          format: int32
          type: integer
        results:
          items:
            $ref: '#/components/schemas/SimplePublicObject'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      - total
      type: object
    SimplePublicObject:
      example:
        id: "512"
        properties:
          property_string: value
          property_number: "17"
          property_date: "1572480000000"
          property_radio: option_1
          property_dropdown: choice_b
          property_checkbox: "false"
          property_multiple_checkboxes: chocolate;strawberry
        createdAt: 2019-10-30T03:30:17.883Z
        updatedAt: 2019-12-07T16:50:06.678Z
        archived: false
      properties:
        id:
          type: string
        properties:
          additionalProperties:
            type: string
          type: object
        propertiesWithHistory:
          additionalProperties:
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
            type: array
          type: object
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        archived:
          type: boolean
        archivedAt:
          format: date-time
          type: string
      required:
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
    BatchInputSimplePublicObjectInput:
      example:
        inputs:
        - properties:
            property_string: value
            property_number: "17"
            property_date: "1572480000000"
            property_radio: option_1
            property_dropdown: choice_b
            property_checkbox: "false"
            property_multiple_checkboxes: chocolate;strawberry
        - properties:
            property_string: value
            property_number: "17"
            property_date: "1572480000000"
            property_radio: option_1
            property_dropdown: choice_b
            property_checkbox: "false"
            property_multiple_checkboxes: chocolate;strawberry
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/SimplePublicObjectInput'
          type: array
      required:
      - inputs
      type: object
    Paging:
      example:
        next:
          after: NTI1Cg%3D%3D
          link: ?after=NTI1Cg%3D%3D
        prev:
          before: before
          link: link
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
      type: object
    PublicObjectSearchRequest:
      example:
        query: query
        limit: 0
        after: 6
        sorts:
        - sorts
        - sorts
        properties:
        - properties
        - properties
        filterGroups:
        - filters:
          - propertyName: propertyName
            values:
            - values
            - values
            value: value
            operator: EQ
          - propertyName: propertyName
            values:
            - values
            - values
            value: value
            operator: EQ
        - filters:
          - propertyName: propertyName
            values:
            - values
            - values
            value: value
            operator: EQ
          - propertyName: propertyName
            values:
            - values
            - values
            value: value
            operator: EQ
      properties:
        filterGroups:
          items:
            $ref: '#/components/schemas/FilterGroup'
          type: array
        sorts:
          items:
            type: string
          type: array
        query:
          type: string
        properties:
          items:
            type: string
          type: array
        limit:
          format: int32
          type: integer
        after:
          format: int32
          type: integer
      required:
      - after
      - filterGroups
      - limit
      - properties
      - sorts
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    BatchResponseSimplePublicObjectWithErrors:
      properties:
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        results:
          items:
            $ref: '#/components/schemas/SimplePublicObject'
          type: array
        numErrors:
          format: int32
          type: integer
        errors:
          items:
            $ref: '#/components/schemas/StandardError'
          type: array
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        completedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    PublicGdprDeleteInput:
      example:
        idProperty: idProperty
        objectId: objectId
      properties:
        objectId:
          type: string
        idProperty:
          type: string
      required:
      - objectId
      type: object
    SimplePublicObjectInput:
      example:
        properties:
          property_string: value
          property_number: "17"
          property_date: "1572480000000"
          property_radio: option_1
          property_dropdown: choice_b
          property_checkbox: "false"
          property_multiple_checkboxes: chocolate;strawberry
      properties:
        properties:
          additionalProperties:
            type: string
          type: object
      required:
      - properties
      type: object
    CollectionResponseSimplePublicObjectWithAssociationsForwardPaging:
      example:
        paging:
          next:
            after: NTI1Cg%3D%3D
            link: ?after=NTI1Cg%3D%3D
        results:
        - associations:
            key:
              paging:
                next:
                  after: NTI1Cg%3D%3D
                  link: ?after=NTI1Cg%3D%3D
                prev:
                  before: before
                  link: link
              results:
              - id: id
                type: type
              - id: id
                type: type
          createdAt: 2000-01-23T04:56:07.000+00:00
          archived: true
          archivedAt: 2000-01-23T04:56:07.000+00:00
          propertiesWithHistory:
            key:
            - sourceId: sourceId
              sourceType: sourceType
              sourceLabel: sourceLabel
              updatedByUserId: 0
              value: value
              timestamp: 2000-01-23T04:56:07.000+00:00
            - sourceId: sourceId
              sourceType: sourceType
              sourceLabel: sourceLabel
              updatedByUserId: 0
              value: value
              timestamp: 2000-01-23T04:56:07.000+00:00
          id: id
          properties:
            key: properties
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - associations:
            key:
              paging:
                next:
                  after: NTI1Cg%3D%3D
                  link: ?after=NTI1Cg%3D%3D
                prev:
                  before: before
                  link: link
              results:
              - id: id
                type: type
              - id: id
                type: type
          createdAt: 2000-01-23T04:56:07.000+00:00
          archived: true
          archivedAt: 2000-01-23T04:56:07.000+00:00
          propertiesWithHistory:
            key:
            - sourceId: sourceId
              sourceType: sourceType
              sourceLabel: sourceLabel
              updatedByUserId: 0
              value: value
              timestamp: 2000-01-23T04:56:07.000+00:00
            - sourceId: sourceId
              sourceType: sourceType
              sourceLabel: sourceLabel
              updatedByUserId: 0
              value: value
              timestamp: 2000-01-23T04:56:07.000+00:00
          id: id
          properties:
            key: properties
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        results:
          items:
            $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      type: object
    PublicMergeInput:
      example:
        objectIdToMerge: objectIdToMerge
        primaryObjectId: primaryObjectId
      properties:
        primaryObjectId:
          type: string
        objectIdToMerge:
          type: string
      required:
      - objectIdToMerge
      - primaryObjectId
      type: object
    ErrorCategory:
      properties:
        name:
          type: string
        httpStatus:
          enum:
          - CONTINUE
          - SWITCHING_PROTOCOLS
          - PROCESSING
          - OK
          - CREATED
          - ACCEPTED
          - NON_AUTHORITATIVE_INFORMATION
          - NO_CONTENT
          - RESET_CONTENT
          - PARTIAL_CONTENT
          - MULTI_STATUS
          - ALREADY_REPORTED
          - IM_USED
          - MULTIPLE_CHOICES
          - MOVED_PERMANENTLY
          - FOUND
          - SEE_OTHER
          - NOT_MODIFIED
          - USE_PROXY
          - TEMPORARY_REDIRECT
          - PERMANENT_REDIRECT
          - BAD_REQUEST
          - UNAUTHORIZED
          - PAYMENT_REQUIRED
          - FORBIDDEN
          - NOT_FOUND
          - METHOD_NOT_ALLOWED
          - NOT_ACCEPTABLE
          - PROXY_AUTHENTICATION_REQUIRED
          - REQUEST_TIMEOUT
          - CONFLICT
          - GONE
          - LENGTH_REQUIRED
          - PRECONDITION_FAILED
          - REQUEST_ENTITY_TOO_LARGE
          - REQUEST_URI_TOO_LONG
          - UNSUPPORTED_MEDIA_TYPE
          - REQUESTED_RANGE_NOT_SATISFIABLE
          - EXPECTATION_FAILED
          - IM_A_TEAPOT
          - MISDIRECTED_REQUEST
          - UNPROCESSABLE_ENTITY
          - LOCKED
          - FAILED_DEPENDENCY
          - UPGRADE_REQUIRED
          - PRECONDITION_REQUIRED
          - TOO_MANY_REQUESTS
          - REQUEST_HEADERS_FIELDS_TOO_LARGE
          - INTERNAL_STALE_SERVICE_DISCOVERY
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - MIGRATION_IN_PROGRESS
          - INTERNAL_SERVER_ERROR
          - NOT_IMPLEMENTED
          - BAD_GATEWAY
          - SERVICE_UNAVAILABLE
          - GATEWAY_TIMEOUT
          - HTTP_VERSION_NOT_SUPPORTED
          - VARIANT_ALSO_NEGOTIATES
          - INSUFFICIENT_STORAGE
          - LOOP_DETECTED
          - NOT_EXTENDED
          - NETWORK_AUTHENTICATION_REQUIRED
          type: string
      required:
      - httpStatus
      - name
      type: object
    SimplePublicObjectWithAssociations:
      example:
        associations:
          key:
            paging:
              next:
                after: NTI1Cg%3D%3D
                link: ?after=NTI1Cg%3D%3D
              prev:
                before: before
                link: link
            results:
            - id: id
              type: type
            - id: id
              type: type
        createdAt: 2000-01-23T04:56:07.000+00:00
        archived: true
        archivedAt: 2000-01-23T04:56:07.000+00:00
        propertiesWithHistory:
          key:
          - sourceId: sourceId
            sourceType: sourceType
            sourceLabel: sourceLabel
            updatedByUserId: 0
            value: value
            timestamp: 2000-01-23T04:56:07.000+00:00
          - sourceId: sourceId
            sourceType: sourceType
            sourceLabel: sourceLabel
            updatedByUserId: 0
            value: value
            timestamp: 2000-01-23T04:56:07.000+00:00
        id: id
        properties:
          key: properties
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          type: string
        properties:
          additionalProperties:
            type: string
          type: object
        propertiesWithHistory:
          additionalProperties:
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
            type: array
          type: object
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        archived:
          type: boolean
        archivedAt:
          format: date-time
          type: string
        associations:
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociatedId'
          type: object
      required:
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
    Filter:
      example:
        propertyName: propertyName
        values:
        - values
        - values
        value: value
        operator: EQ
      properties:
        value:
          type: string
        values:
          items:
            type: string
          type: array
        propertyName:
          type: string
        operator:
          description: "null"
          enum:
          - EQ
          - NEQ
          - LT
          - LTE
          - GT
          - GTE
          - BETWEEN
          - IN
          - NOT_IN
          - HAS_PROPERTY
          - NOT_HAS_PROPERTY
          - CONTAINS_TOKEN
          - NOT_CONTAINS_TOKEN
          type: string
      required:
      - operator
      - propertyName
      type: object
    BatchInputSimplePublicObjectBatchInput:
      example:
        inputs:
        - id: id
          properties:
            key: properties
        - id: id
          properties:
            key: properties
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/SimplePublicObjectBatchInput'
          type: array
      required:
      - inputs
      type: object
    PreviousPage:
      example:
        before: before
        link: link
      properties:
        before:
          type: string
        link:
          type: string
      required:
      - before
      type: object
    CollectionResponseAssociatedIdForwardPaging:
      example:
        paging:
          next:
            after: NTI1Cg%3D%3D
            link: ?after=NTI1Cg%3D%3D
        results:
        - id: id
          type: type
        - id: id
          type: type
      properties:
        results:
          items:
            $ref: '#/components/schemas/AssociatedId'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      type: object
    SimplePublicObjectBatchInput:
      example:
        id: id
        properties:
          key: properties
      properties:
        properties:
          additionalProperties:
            type: string
          type: object
        id:
          type: string
      required:
      - id
      - properties
      type: object
    AssociatedId:
      example:
        id: id
        type: type
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
      type: object
    NextPage:
      example:
        after: NTI1Cg%3D%3D
        link: ?after=NTI1Cg%3D%3D
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.objects.custom.read: View custom object records
            tickets: Read and write tickets
            media_bridge.read: Read media and media events
            contacts: Read from and write to my Contacts
            crm.objects.custom.write: Change custom object records
            e-commerce: e-commerce
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    hapikey:
      in: query
      name: hapikey
      type: apiKey
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.objects.companies.write: ' '
            crm.objects.companies.read: ' '
            crm.objects.line_items.write: Line Items
            crm.objects.quotes.read: Quotes
            crm.objects.deals.write: ' '
            crm.objects.line_items.read: Line Items
            crm.objects.deals.read: ' '
            crm.objects.quotes.write: Quotes
            crm.objects.contacts.read: ' '
            crm.objects.contacts.write: ' '
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
