openapi: 3.0.1
info:
  description: HTTP API for triggering instances of custom behavioral events
  title: Send Event Completions
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: ENTERPRISE
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: You want to track more complex interactions that visitors
    perform when they navigate to your website and engage with your content.
  x-hubspot-related-documentation:
  - name: Custom Behavioral Events Guide
    url: https://hubspot.dev/guides/api/analytics/events
  x-hubspot-introduction: Use the custom behavioral events API to define events that
    you can later create and associate with records in your HubSpot CRM.
servers:
- url: https://api.hubapi.com
tags:
- description: ""
  name: Behavioral_Events_Tracking
  x-hubspot-tag-name-english-source: Behavioral_Events_Tracking
paths:
  /events/v3/send:
    post:
      description: Endpoint to send an instance of a behavioral event
      operationId: Send_send
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehavioralEventHttpCompletionRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - analytics.behavioral_events.send
      - oauth2_legacy:
        - analytics.behavioral_events.send
      summary: Sends Custom Behavioral Event
      tags:
      - Behavioral_Events_Tracking
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    BehavioralEventHttpCompletionRequest:
      example:
        occurredAt: 2000-01-23T04:56:07.000+00:00
        eventName: eventName
        utk: utk
        uuid: uuid
        email: email
        properties:
          key: properties
        objectId: objectId
      properties:
        occurredAt:
          description: "The time when this event occurred (if any). If this isn't\
            \ set, the current time will be used"
          format: date-time
          type: string
        eventName:
          description: Internal name of the event-type to trigger
          type: string
        utk:
          description: User token
          type: string
        uuid:
          type: string
        email:
          description: Email of visitor
          type: string
        properties:
          additionalProperties:
            type: string
          description: Map of properties for the event in the format property internal
            name - property value
          type: object
        objectId:
          description: The object id that this event occurred on. Could be a contact
            id or a visitor id.
          type: string
      required:
      - eventName
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            behavioral_events.event_definitions.read_write: Read from and write to
              custom behavioral events definitions
            analytics.behavioral_events.send: Send Behavioral Event Completions
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: ENTERPRISE
x-hubspot-documentation-banner: NONE
