openapi: 3.0.1
info:
  description: HTTP API for triggering instances of custom behavioral events
  title: Custom Behavioral Events API
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Behavioral_Events_Tracking
paths:
  /events/v3/send:
    post:
      description: Endpoint to send an instance of a behavioral event
      operationId: Send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehavioralEventHttpCompletionRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - analytics.behavioral_events.send
      - oauth2_legacy:
        - analytics.behavioral_events.send
      summary: Sends Custom Behavioral Event
      tags:
      - Behavioral_Events_Tracking
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    BehavioralEventHttpCompletionRequest:
      example:
        occurredAt: 2000-01-23T04:56:07.000+00:00
        eventName: eventName
        utk: utk
        email: email
        properties:
          key: properties
        objectId: objectId
      properties:
        utk:
          description: User token
          type: string
        email:
          description: Email of visitor
          type: string
        eventName:
          description: Internal name of the event-type to trigger
          type: string
        properties:
          additionalProperties:
            type: string
          description: Map of properties for the event in the format property internal
            name - property value
          type: object
        occurredAt:
          description: "The time when this event occurred (if any). If this isn't\
            \ set, the current time will be used"
          format: date-time
          type: string
        objectId:
          description: The object id that this event occurred on. Could be a contact
            id or a visitor id.
          type: string
      required:
      - eventName
      - properties
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            analytics.behavioral_events.send: Send Behavioral Event Completions
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
