openapi: 3.0.1
info:
  description: Associations define the relationships between objects in HubSpot. These
    endpoints allow you to create, read, and remove associations.
  title: Associations
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Batch
- name: Types
paths:
  /crm/v3/associations/{fromObjectType}/{toObjectType}/batch/archive:
    post:
      description: Remove the associations between all pairs of objects identified
        in the request body.
      operationId: post-/crm/v3/associations/{fromObjectType}/{toObjectType}/batch/archive_archive
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicAssociation'
        required: false
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - media_bridge.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2_legacy:
        - e-commerce
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Archive a batch of associations
      tags:
      - Batch
  /crm/v3/associations/{fromObjectType}/{toObjectType}/batch/create:
    post:
      description: Associate all pairs of objects identified in the request body.
      operationId: post-/crm/v3/associations/{fromObjectType}/{toObjectType}/batch/create_create
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicAssociation'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicAssociation'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicAssociation'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - media_bridge.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2_legacy:
        - e-commerce
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Create a batch of associations
      tags:
      - Batch
  /crm/v3/associations/{fromObjectType}/{toObjectType}/batch/read:
    post:
      description: Get the IDs of all `{toObjectType}` objects associated with those
        specified in the request body.
      operationId: post-/crm/v3/associations/{fromObjectType}/{toObjectType}/batch/read_read
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicObjectId'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicAssociationMulti'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicAssociationMulti'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - media_bridge.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2_legacy:
        - e-commerce
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: Read a batch of associations
      tags:
      - Batch
  /crm/v3/associations/{fromObjectType}/{toObjectType}/types:
    get:
      description: List all the valid association types available between two object
        types
      operationId: get-/crm/v3/associations/{fromObjectType}/{toObjectType}/types_getAll
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicAssociationDefiniton'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - media_bridge.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - hapikey: []
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.deals.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.companies.read
      - oauth2_legacy:
        - e-commerce
      - oauth2_legacy:
        - contacts
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.companies.write
      summary: List association types
      tags:
      - Types
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    AssociatedId:
      example:
        id: "172859"
        type: contact_to_company
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
      type: object
    BatchInputPublicAssociation:
      example:
        inputs:
        - from:
            id: "53628"
          to:
            id: "12726"
          type: contact_to_company
        - from:
            id: "53628"
          to:
            id: "12726"
          type: contact_to_company
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/PublicAssociation'
          type: array
      required:
      - inputs
      type: object
    BatchInputPublicObjectId:
      example:
        inputs:
        - id: "37295"
        - id: "37295"
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/PublicObjectId'
          type: array
      required:
      - inputs
      type: object
    BatchResponsePublicAssociation:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 0
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        results:
        - from:
            id: "53628"
          to:
            id: "12726"
          type: contact_to_company
        - from:
            id: "53628"
          to:
            id: "12726"
          type: contact_to_company
        errors:
        - subCategory: '{}'
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category:
            httpStatus: CONTINUE
            name: name
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        - subCategory: '{}'
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category:
            httpStatus: CONTINUE
            name: name
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        status: PENDING
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicAssociation'
          type: array
        numErrors:
          format: int32
          type: integer
        errors:
          items:
            $ref: '#/components/schemas/StandardError'
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        completedAt:
          format: date-time
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    BatchResponsePublicAssociationMulti:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 0
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        results:
        - from:
            id: "53628"
          to:
          - id: "12726"
            type: contact_to_company
          - id: "61352"
            type: contact_to_company
        - from:
            id: "53628"
          to:
          - id: "12726"
            type: contact_to_company
          - id: "61352"
            type: contact_to_company
        errors:
        - subCategory: '{}'
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category:
            httpStatus: CONTINUE
            name: name
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        - subCategory: '{}'
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category:
            httpStatus: CONTINUE
            name: name
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        status: PENDING
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicAssociationMulti'
          type: array
        numErrors:
          format: int32
          type: integer
        errors:
          items:
            $ref: '#/components/schemas/StandardError'
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        completedAt:
          format: date-time
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    CollectionResponsePublicAssociationDefiniton:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - name: name
          id: id
        - name: name
          id: id
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicAssociationDefiniton'
          type: array
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    ErrorCategory:
      example:
        httpStatus: CONTINUE
        name: name
      properties:
        httpStatus:
          enum:
          - CONTINUE
          - SWITCHING_PROTOCOLS
          - PROCESSING
          - OK
          - CREATED
          - ACCEPTED
          - NON_AUTHORITATIVE_INFORMATION
          - NO_CONTENT
          - RESET_CONTENT
          - PARTIAL_CONTENT
          - MULTI_STATUS
          - ALREADY_REPORTED
          - IM_USED
          - MULTIPLE_CHOICES
          - MOVED_PERMANENTLY
          - FOUND
          - SEE_OTHER
          - NOT_MODIFIED
          - USE_PROXY
          - TEMPORARY_REDIRECT
          - PERMANENT_REDIRECT
          - BAD_REQUEST
          - UNAUTHORIZED
          - PAYMENT_REQUIRED
          - FORBIDDEN
          - NOT_FOUND
          - METHOD_NOT_ALLOWED
          - NOT_ACCEPTABLE
          - PROXY_AUTHENTICATION_REQUIRED
          - REQUEST_TIMEOUT
          - CONFLICT
          - GONE
          - LENGTH_REQUIRED
          - PRECONDITION_FAILED
          - REQUEST_ENTITY_TOO_LARGE
          - REQUEST_URI_TOO_LONG
          - UNSUPPORTED_MEDIA_TYPE
          - REQUESTED_RANGE_NOT_SATISFIABLE
          - EXPECTATION_FAILED
          - IM_A_TEAPOT
          - MISDIRECTED_REQUEST
          - UNPROCESSABLE_ENTITY
          - LOCKED
          - FAILED_DEPENDENCY
          - UPGRADE_REQUIRED
          - PRECONDITION_REQUIRED
          - TOO_MANY_REQUESTS
          - REQUEST_HEADERS_FIELDS_TOO_LARGE
          - INTERNAL_STALE_SERVICE_DISCOVERY
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - INTERNAL_SERVER_ERROR
          - NOT_IMPLEMENTED
          - BAD_GATEWAY
          - SERVICE_UNAVAILABLE
          - GATEWAY_TIMEOUT
          - HTTP_VERSION_NOT_SUPPORTED
          - VARIANT_ALSO_NEGOTIATES
          - INSUFFICIENT_STORAGE
          - LOOP_DETECTED
          - NOT_EXTENDED
          - NETWORK_AUTHENTICATION_REQUIRED
          type: string
        name:
          type: string
      required:
      - httpStatus
      - name
      type: object
    ErrorDetail:
      example:
        subCategory: subCategory
        code: code
        in: in
        context:
          missingScopes:
          - scope1
          - scope2
        message: message
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    PublicAssociation:
      example:
        from:
          id: "53628"
        to:
          id: "12726"
        type: contact_to_company
      properties:
        from:
          $ref: '#/components/schemas/PublicObjectId'
        to:
          $ref: '#/components/schemas/PublicObjectId'
        type:
          type: string
      required:
      - from
      - to
      - type
      type: object
    PublicAssociationDefiniton:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
    PublicAssociationMulti:
      example:
        from:
          id: "53628"
        to:
        - id: "12726"
          type: contact_to_company
        - id: "61352"
          type: contact_to_company
      properties:
        from:
          $ref: '#/components/schemas/PublicObjectId'
        to:
          description: The IDs of objects that are associated with the object identified
            by the ID in 'from'.
          items:
            $ref: '#/components/schemas/AssociatedId'
          type: array
      required:
      - from
      - to
      type: object
    PublicObjectId:
      example:
        id: "37295"
      properties:
        id:
          description: The unique ID that identifies an object.
          type: string
      required:
      - id
      type: object
    StandardError:
      example:
        subCategory: '{}'
        context:
          key:
          - context
          - context
        links:
          key: links
        id: id
        category:
          httpStatus: CONTINUE
          name: name
        message: message
        errors:
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        status: status
      properties:
        status:
          type: string
        id:
          type: string
        category:
          $ref: '#/components/schemas/ErrorCategory'
        subCategory:
          properties: {}
          type: object
        message:
          type: string
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            e-commerce: e-commerce
            crm.objects.custom.write: Change custom object records
            contacts: Read from and write to my Contacts
            media_bridge.read: Read media and media events
            tickets: Read and write tickets
            crm.objects.custom.read: View custom object records
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    hapikey:
      in: query
      name: hapikey
      type: apiKey
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.objects.deals.write: ' '
            crm.objects.deals.read: ' '
            crm.objects.contacts.read: ' '
            crm.objects.companies.read: ' '
            crm.objects.companies.write: ' '
            crm.objects.contacts.write: ' '
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
