/*
HubDB endpoints

HubDB is a relational data store that presents data as rows, columns, and cells in a table, much like a spreadsheet. HubDB tables can be added or modified [in the HubSpot CMS](https://knowledge.hubspot.com/cos-general/how-to-edit-hubdb-tables), but you can also use the API endpoints documented here. For more information on HubDB tables and using their data on a HubSpot site, see the [CMS developers site](https://designers.hubspot.com/docs/tools/hubdb). You can also see the [documentation for dynamic pages](https://designers.hubspot.com/docs/tutorials/how-to-build-dynamic-pages-with-hubdb) for more details about the `useForPages` field.  HubDB tables support `draft` and `published` versions. This allows you to update data in the table, either for testing or to allow for a manual approval process, without affecting any live pages using the existing data. Draft data can be reviewed, and published by a user working in HubSpot or published via the API. Draft data can also be discarded, allowing users to go back to the published version of the data without disrupting it. If a table is set to be `allowed for public access`, you can access the published version of the table and rows without any authentication by specifying the portal id via the query parameter `portalId`.

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package hubdb

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"

	"github.com/clarkmcc/go-hubspot"
	"net/url"
	"os"
	"reflect"
	"strings"
	"time"
)

// TablesApiService TablesApi service
type TablesApiService service

type ApiDeleteCmsV3HubdbTablesTableIdOrNameArchiveTableRequest struct {
	ctx           context.Context
	ApiService    *TablesApiService
	tableIdOrName string
}

func (r ApiDeleteCmsV3HubdbTablesTableIdOrNameArchiveTableRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCmsV3HubdbTablesTableIdOrNameArchiveTableExecute(r)
}

/*
DeleteCmsV3HubdbTablesTableIdOrNameArchiveTable Archive a table

Archive (soft delete) an existing HubDB table. This archives both the published and draft versions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to archive.
 @return ApiDeleteCmsV3HubdbTablesTableIdOrNameArchiveTableRequest
*/
func (a *TablesApiService) DeleteCmsV3HubdbTablesTableIdOrNameArchiveTable(ctx context.Context, tableIdOrName string) ApiDeleteCmsV3HubdbTablesTableIdOrNameArchiveTableRequest {
	return ApiDeleteCmsV3HubdbTablesTableIdOrNameArchiveTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
func (a *TablesApiService) DeleteCmsV3HubdbTablesTableIdOrNameArchiveTableExecute(r ApiDeleteCmsV3HubdbTablesTableIdOrNameArchiveTableRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.DeleteCmsV3HubdbTablesTableIdOrNameArchiveTable")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest struct {
	ctx           context.Context
	ApiService    *TablesApiService
	sort          *[]string
	after         *string
	limit         *int32
	createdAt     *time.Time
	createdAfter  *time.Time
	createdBefore *time.Time
	updatedAt     *time.Time
	updatedAfter  *time.Time
	updatedBefore *time.Time
	archived      *bool
}

// Specifies which fields to use for sorting results. Valid fields are &#x60;name&#x60;, &#x60;createdAt&#x60;, &#x60;updatedAt&#x60;, &#x60;createdBy&#x60;, &#x60;updatedBy&#x60;. &#x60;createdAt&#x60; will be used by default.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) Sort(sort []string) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.sort = &sort
	return r
}

// The cursor token value to get the next set of results. You can get this from the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) After(after string) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.after = &after
	return r
}

// The maximum number of results to return. Default is 1000.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) Limit(limit int32) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.limit = &limit
	return r
}

// Only return tables created at exactly the specified time.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) CreatedAt(createdAt time.Time) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.createdAt = &createdAt
	return r
}

// Only return tables created after the specified time.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) CreatedAfter(createdAfter time.Time) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.createdAfter = &createdAfter
	return r
}

// Only return tables created before the specified time.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) CreatedBefore(createdBefore time.Time) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.createdBefore = &createdBefore
	return r
}

// Only return tables last updated at exactly the specified time.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) UpdatedAt(updatedAt time.Time) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.updatedAt = &updatedAt
	return r
}

// Only return tables last updated after the specified time.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) UpdatedAfter(updatedAfter time.Time) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.updatedAfter = &updatedAfter
	return r
}

// Only return tables last updated before the specified time.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) UpdatedBefore(updatedBefore time.Time) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.updatedBefore = &updatedBefore
	return r
}

// Specifies whether to return archived tables. Defaults to &#x60;false&#x60;.
func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) Archived(archived bool) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	r.archived = &archived
	return r
}

func (r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) Execute() (*CollectionResponseWithTotalHubDbTableV3ForwardPaging, *http.Response, error) {
	return r.ApiService.GetCmsV3HubdbTablesDraftGetAllDraftTablesExecute(r)
}

/*
GetCmsV3HubdbTablesDraftGetAllDraftTables Return all draft tables

Returns the details for each draft table defined in the specified account, including column definitions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest
*/
func (a *TablesApiService) GetCmsV3HubdbTablesDraftGetAllDraftTables(ctx context.Context) ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest {
	return ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return CollectionResponseWithTotalHubDbTableV3ForwardPaging
func (a *TablesApiService) GetCmsV3HubdbTablesDraftGetAllDraftTablesExecute(r ApiGetCmsV3HubdbTablesDraftGetAllDraftTablesRequest) (*CollectionResponseWithTotalHubDbTableV3ForwardPaging, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CollectionResponseWithTotalHubDbTableV3ForwardPaging
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.GetCmsV3HubdbTablesDraftGetAllDraftTables")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/draft"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("sort", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("sort", parameterToString(t, "multi"))
		}
	}
	if r.after != nil {
		localVarQueryParams.Add("after", parameterToString(*r.after, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.createdAt != nil {
		localVarQueryParams.Add("createdAt", parameterToString(*r.createdAt, ""))
	}
	if r.createdAfter != nil {
		localVarQueryParams.Add("createdAfter", parameterToString(*r.createdAfter, ""))
	}
	if r.createdBefore != nil {
		localVarQueryParams.Add("createdBefore", parameterToString(*r.createdBefore, ""))
	}
	if r.updatedAt != nil {
		localVarQueryParams.Add("updatedAt", parameterToString(*r.updatedAt, ""))
	}
	if r.updatedAfter != nil {
		localVarQueryParams.Add("updatedAfter", parameterToString(*r.updatedAfter, ""))
	}
	if r.updatedBefore != nil {
		localVarQueryParams.Add("updatedBefore", parameterToString(*r.updatedBefore, ""))
	}
	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3HubdbTablesGetAllTablesRequest struct {
	ctx           context.Context
	ApiService    *TablesApiService
	sort          *[]string
	after         *string
	limit         *int32
	createdAt     *time.Time
	createdAfter  *time.Time
	createdBefore *time.Time
	updatedAt     *time.Time
	updatedAfter  *time.Time
	updatedBefore *time.Time
	archived      *bool
}

// Specifies which fields to use for sorting results. Valid fields are &#x60;name&#x60;, &#x60;createdAt&#x60;, &#x60;updatedAt&#x60;, &#x60;createdBy&#x60;, &#x60;updatedBy&#x60;. &#x60;createdAt&#x60; will be used by default.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) Sort(sort []string) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.sort = &sort
	return r
}

// The cursor token value to get the next set of results. You can get this from the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) After(after string) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.after = &after
	return r
}

// The maximum number of results to return. Default is 1000.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) Limit(limit int32) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.limit = &limit
	return r
}

// Only return tables created at exactly the specified time.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) CreatedAt(createdAt time.Time) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.createdAt = &createdAt
	return r
}

// Only return tables created after the specified time.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) CreatedAfter(createdAfter time.Time) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.createdAfter = &createdAfter
	return r
}

// Only return tables created before the specified time.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) CreatedBefore(createdBefore time.Time) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.createdBefore = &createdBefore
	return r
}

// Only return tables last updated at exactly the specified time.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) UpdatedAt(updatedAt time.Time) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.updatedAt = &updatedAt
	return r
}

// Only return tables last updated after the specified time.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) UpdatedAfter(updatedAfter time.Time) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.updatedAfter = &updatedAfter
	return r
}

// Only return tables last updated before the specified time.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) UpdatedBefore(updatedBefore time.Time) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.updatedBefore = &updatedBefore
	return r
}

// Specifies whether to return archived tables. Defaults to &#x60;false&#x60;.
func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) Archived(archived bool) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	r.archived = &archived
	return r
}

func (r ApiGetCmsV3HubdbTablesGetAllTablesRequest) Execute() (*CollectionResponseWithTotalHubDbTableV3ForwardPaging, *http.Response, error) {
	return r.ApiService.GetCmsV3HubdbTablesGetAllTablesExecute(r)
}

/*
GetCmsV3HubdbTablesGetAllTables Get all published tables

Returns the details for the `published` version of each table defined in an account, including column definitions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCmsV3HubdbTablesGetAllTablesRequest
*/
func (a *TablesApiService) GetCmsV3HubdbTablesGetAllTables(ctx context.Context) ApiGetCmsV3HubdbTablesGetAllTablesRequest {
	return ApiGetCmsV3HubdbTablesGetAllTablesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return CollectionResponseWithTotalHubDbTableV3ForwardPaging
func (a *TablesApiService) GetCmsV3HubdbTablesGetAllTablesExecute(r ApiGetCmsV3HubdbTablesGetAllTablesRequest) (*CollectionResponseWithTotalHubDbTableV3ForwardPaging, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CollectionResponseWithTotalHubDbTableV3ForwardPaging
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.GetCmsV3HubdbTablesGetAllTables")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("sort", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("sort", parameterToString(t, "multi"))
		}
	}
	if r.after != nil {
		localVarQueryParams.Add("after", parameterToString(*r.after, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.createdAt != nil {
		localVarQueryParams.Add("createdAt", parameterToString(*r.createdAt, ""))
	}
	if r.createdAfter != nil {
		localVarQueryParams.Add("createdAfter", parameterToString(*r.createdAfter, ""))
	}
	if r.createdBefore != nil {
		localVarQueryParams.Add("createdBefore", parameterToString(*r.createdBefore, ""))
	}
	if r.updatedAt != nil {
		localVarQueryParams.Add("updatedAt", parameterToString(*r.updatedAt, ""))
	}
	if r.updatedAfter != nil {
		localVarQueryParams.Add("updatedAfter", parameterToString(*r.updatedAfter, ""))
	}
	if r.updatedBefore != nil {
		localVarQueryParams.Add("updatedBefore", parameterToString(*r.updatedBefore, ""))
	}
	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest struct {
	ctx           context.Context
	ApiService    *TablesApiService
	tableIdOrName string
	format        *string
}

// The file format to export. Possible values include &#x60;CSV&#x60;, &#x60;XLSX&#x60;, and &#x60;XLS&#x60;.
func (r ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest) Format(format string) ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest {
	r.format = &format
	return r
}

func (r ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest) Execute() (**os.File, *http.Response, error) {
	return r.ApiService.GetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableExecute(r)
}

/*
GetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTable Export a draft table

Exports the `draft` version of a table to CSV / EXCEL format.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to export.
 @return ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest
*/
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTable(ctx context.Context, tableIdOrName string) ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest {
	return ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return *os.File
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableExecute(r ApiGetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTableRequest) (**os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue **os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.GetCmsV3HubdbTablesTableIdOrNameDraftExportExportDraftTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		localVarQueryParams.Add("format", parameterToString(*r.format, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.ms-excel", "text/csv", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest struct {
	ctx               context.Context
	ApiService        *TablesApiService
	tableIdOrName     string
	archived          *bool
	includeForeignIds *bool
}

// Set this to &#x60;true&#x60; to return an archived table. Defaults to &#x60;false&#x60;.
func (r ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest) Archived(archived bool) ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest {
	r.archived = &archived
	return r
}

// Set this to &#x60;true&#x60; to populate foreign ID values in the result.
func (r ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest) IncludeForeignIds(includeForeignIds bool) ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest {
	r.includeForeignIds = &includeForeignIds
	return r
}

func (r ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.GetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdExecute(r)
}

/*
GetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsById Get details for a draft table

Get the details for the `draft` version of a specific HubDB table. This will include the definitions for the columns in the table and the number of rows in the table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to return.
 @return ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest
*/
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsById(ctx context.Context, tableIdOrName string) ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest {
	return ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdExecute(r ApiGetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsByIdRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.GetCmsV3HubdbTablesTableIdOrNameDraftGetDraftTableDetailsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	if r.includeForeignIds != nil {
		localVarQueryParams.Add("includeForeignIds", parameterToString(*r.includeForeignIds, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest struct {
	ctx           context.Context
	ApiService    *TablesApiService
	tableIdOrName string
	format        *string
}

// The file format to export. Possible values include &#x60;CSV&#x60;, &#x60;XLSX&#x60;, and &#x60;XLS&#x60;.
func (r ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest) Format(format string) ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest {
	r.format = &format
	return r
}

func (r ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest) Execute() (**os.File, *http.Response, error) {
	return r.ApiService.GetCmsV3HubdbTablesTableIdOrNameExportExportTableExecute(r)
}

/*
GetCmsV3HubdbTablesTableIdOrNameExportExportTable Export a published version of a table

Exports the `published` version of a table to CSV / EXCEL format.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to export.
 @return ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest
*/
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameExportExportTable(ctx context.Context, tableIdOrName string) ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest {
	return ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return *os.File
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameExportExportTableExecute(r ApiGetCmsV3HubdbTablesTableIdOrNameExportExportTableRequest) (**os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue **os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.GetCmsV3HubdbTablesTableIdOrNameExportExportTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/export"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		localVarQueryParams.Add("format", parameterToString(*r.format, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.ms-excel", "text/csv", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest struct {
	ctx               context.Context
	ApiService        *TablesApiService
	tableIdOrName     string
	archived          *bool
	includeForeignIds *bool
}

// Set this to &#x60;true&#x60; to return details for an archived table. Defaults to &#x60;false&#x60;.
func (r ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest) Archived(archived bool) ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest {
	r.archived = &archived
	return r
}

// Set this to &#x60;true&#x60; to populate foreign ID values in the result.
func (r ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest) IncludeForeignIds(includeForeignIds bool) ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest {
	r.includeForeignIds = &includeForeignIds
	return r
}

func (r ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.GetCmsV3HubdbTablesTableIdOrNameGetTableDetailsExecute(r)
}

/*
GetCmsV3HubdbTablesTableIdOrNameGetTableDetails Get details for a published table

Returns the details for the `published` version of the specified table. This will include the definitions for the columns in the table and the number of rows in the table.

**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to return.
 @return ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest
*/
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameGetTableDetails(ctx context.Context, tableIdOrName string) ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest {
	return ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) GetCmsV3HubdbTablesTableIdOrNameGetTableDetailsExecute(r ApiGetCmsV3HubdbTablesTableIdOrNameGetTableDetailsRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.GetCmsV3HubdbTablesTableIdOrNameGetTableDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	if r.includeForeignIds != nil {
		localVarQueryParams.Add("includeForeignIds", parameterToString(*r.includeForeignIds, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest struct {
	ctx                 context.Context
	ApiService          *TablesApiService
	tableIdOrName       string
	hubDbTableV3Request *HubDbTableV3Request
	archived            *bool
	includeForeignIds   *bool
}

// The JSON schema for the table being updated.
func (r ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest) HubDbTableV3Request(hubDbTableV3Request HubDbTableV3Request) ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest {
	r.hubDbTableV3Request = &hubDbTableV3Request
	return r
}

// Specifies whether to return archived tables. Defaults to &#x60;false&#x60;.
func (r ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest) Archived(archived bool) ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest {
	r.archived = &archived
	return r
}

// Set this to &#x60;true&#x60; to populate foreign ID values in the result.
func (r ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest) IncludeForeignIds(includeForeignIds bool) ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest {
	r.includeForeignIds = &includeForeignIds
	return r
}

func (r ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.PatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableExecute(r)
}

/*
PatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTable Update an existing table

Update an existing HubDB table. You can use this endpoint to add or remove columns to the table as well as restore an archived table. Tables updated using the endpoint will only modify the `draft` verion of the table. Use `publish` endpoint to push all the changes to the `published` version. To restore a table, include the query parameter `archived=true` and `"archived": false` in the json body.
**Note:** You need to include all the columns in the input when you are adding/removing/updating a column. If you do not include an already existing column in the request, it will be deleted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to update.
 @return ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest
*/
func (a *TablesApiService) PatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTable(ctx context.Context, tableIdOrName string) ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest {
	return ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) PatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableExecute(r ApiPatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTableRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PatchCmsV3HubdbTablesTableIdOrNameDraftUpdateDraftTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hubDbTableV3Request == nil {
		return localVarReturnValue, nil, reportError("hubDbTableV3Request is required and must be specified")
	}

	if r.archived != nil {
		localVarQueryParams.Add("archived", parameterToString(*r.archived, ""))
	}
	if r.includeForeignIds != nil {
		localVarQueryParams.Add("includeForeignIds", parameterToString(*r.includeForeignIds, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hubDbTableV3Request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCmsV3HubdbTablesCreateTableRequest struct {
	ctx                 context.Context
	ApiService          *TablesApiService
	hubDbTableV3Request *HubDbTableV3Request
}

// The JSON schema for the table being created.
func (r ApiPostCmsV3HubdbTablesCreateTableRequest) HubDbTableV3Request(hubDbTableV3Request HubDbTableV3Request) ApiPostCmsV3HubdbTablesCreateTableRequest {
	r.hubDbTableV3Request = &hubDbTableV3Request
	return r
}

func (r ApiPostCmsV3HubdbTablesCreateTableRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.PostCmsV3HubdbTablesCreateTableExecute(r)
}

/*
PostCmsV3HubdbTablesCreateTable Create a new table

Creates a new draft HubDB table given a JSON schema. The table name and label should be unique for each account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostCmsV3HubdbTablesCreateTableRequest
*/
func (a *TablesApiService) PostCmsV3HubdbTablesCreateTable(ctx context.Context) ApiPostCmsV3HubdbTablesCreateTableRequest {
	return ApiPostCmsV3HubdbTablesCreateTableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) PostCmsV3HubdbTablesCreateTableExecute(r ApiPostCmsV3HubdbTablesCreateTableRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PostCmsV3HubdbTablesCreateTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hubDbTableV3Request == nil {
		return localVarReturnValue, nil, reportError("hubDbTableV3Request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hubDbTableV3Request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest struct {
	ctx                    context.Context
	ApiService             *TablesApiService
	tableIdOrName          string
	hubDbTableCloneRequest *HubDbTableCloneRequest
}

// JSON object with the properties newName and newLabel. You can set copyRows to false to clone the table with copying rows and default is true.
func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest) HubDbTableCloneRequest(hubDbTableCloneRequest HubDbTableCloneRequest) ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest {
	r.hubDbTableCloneRequest = &hubDbTableCloneRequest
	return r
}

func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.PostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableExecute(r)
}

/*
PostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTable Clone a table

Clone an existing HubDB table. The `newName` and `newLabel` of the new table can be sent as JSON in the `body` parameter. This will create the cloned table as a `draft`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to clone.
 @return ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest
*/
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTable(ctx context.Context, tableIdOrName string) ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest {
	return ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableExecute(r ApiPostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTableRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PostCmsV3HubdbTablesTableIdOrNameDraftCloneCloneDraftTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hubDbTableCloneRequest == nil {
		return localVarReturnValue, nil, reportError("hubDbTableCloneRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hubDbTableCloneRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest struct {
	ctx           context.Context
	ApiService    *TablesApiService
	tableIdOrName string
	config        *string
	file          **os.File
}

// Configuration for the import in JSON format as described above.
func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest) Config(config string) ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest {
	r.config = &config
	return r
}

// The source CSV file to be imported.
func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest) File(file *os.File) ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest {
	r.file = &file
	return r
}

func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest) Execute() (*ImportResult, *http.Response, error) {
	return r.ApiService.PostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableExecute(r)
}

/*
PostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTable Import data into draft table

Import the contents of a CSV file into an existing HubDB table. The data will always be imported into the `draft` version of the table. Use `/publish` endpoint to push these changes to `published` version.
This endpoint takes a multi-part POST request. The first part will be a set of JSON-formatted options for the import and you can specify this with the name as `config`.  The second part will be the CSV file you want to import and you can specify this with the name as `file`. Refer the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) to check the details and format of the JSON-formatted options for the import.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID of the destination table where data will be imported.
 @return ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest
*/
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTable(ctx context.Context, tableIdOrName string) ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest {
	return ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return ImportResult
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableExecute(r ApiPostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTableRequest) (*ImportResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ImportResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PostCmsV3HubdbTablesTableIdOrNameDraftImportImportDraftTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.config != nil {
		localVarFormParams.Add("config", parameterToString(*r.config, ""))
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName string
	var fileLocalVarFileBytes []byte

	fileLocalVarFormFileName = "file"

	var fileLocalVarFile *os.File
	if r.file != nil {
		fileLocalVarFile = *r.file
	}
	if fileLocalVarFile != nil {
		fbs, _ := ioutil.ReadAll(fileLocalVarFile)
		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
	}
	formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest struct {
	ctx               context.Context
	ApiService        *TablesApiService
	tableIdOrName     string
	includeForeignIds *bool
}

// Set this to &#x60;true&#x60; to populate foreign ID values in the response.
func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest) IncludeForeignIds(includeForeignIds bool) ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest {
	r.includeForeignIds = &includeForeignIds
	return r
}

func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.PostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableExecute(r)
}

/*
PostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTable Publish a table from draft

Publishes the table by copying the data and table schema changes from draft version to the published version, meaning any website pages using data from the table will be updated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to publish.
 @return ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest
*/
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTable(ctx context.Context, tableIdOrName string) ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest {
	return ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableExecute(r ApiPostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTableRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PostCmsV3HubdbTablesTableIdOrNameDraftPublishPublishDraftTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeForeignIds != nil {
		localVarQueryParams.Add("includeForeignIds", parameterToString(*r.includeForeignIds, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest struct {
	ctx               context.Context
	ApiService        *TablesApiService
	tableIdOrName     string
	includeForeignIds *bool
}

// Set this to &#x60;true&#x60; to populate foreign ID values in the response.
func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest) IncludeForeignIds(includeForeignIds bool) ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest {
	r.includeForeignIds = &includeForeignIds
	return r
}

func (r ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.PostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableExecute(r)
}

/*
PostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTable Reset a draft table

Replaces the data in the `draft` version of the table with values from the `published` version. Any unpublished changes in the `draft` will be lost after this call is made.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to reset.
 @return ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest
*/
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTable(ctx context.Context, tableIdOrName string) ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest {
	return ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableExecute(r ApiPostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTableRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PostCmsV3HubdbTablesTableIdOrNameDraftResetResetDraftTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeForeignIds != nil {
		localVarQueryParams.Add("includeForeignIds", parameterToString(*r.includeForeignIds, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest struct {
	ctx               context.Context
	ApiService        *TablesApiService
	tableIdOrName     string
	includeForeignIds *bool
}

// Set this to &#x60;true&#x60; to populate foreign ID values in the response.
func (r ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest) IncludeForeignIds(includeForeignIds bool) ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest {
	r.includeForeignIds = &includeForeignIds
	return r
}

func (r ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest) Execute() (*HubDbTableV3, *http.Response, error) {
	return r.ApiService.PostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableExecute(r)
}

/*
PostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTable Unpublish a table

Unpublishes the table, meaning any website pages using data from the table will not render any data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tableIdOrName The ID or name of the table to publish.
 @return ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest
*/
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTable(ctx context.Context, tableIdOrName string) ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest {
	return ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest{
		ApiService:    a,
		ctx:           ctx,
		tableIdOrName: tableIdOrName,
	}
}

// Execute executes the request
//  @return HubDbTableV3
func (a *TablesApiService) PostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableExecute(r ApiPostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTableRequest) (*HubDbTableV3, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HubDbTableV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesApiService.PostCmsV3HubdbTablesTableIdOrNameUnpublishUnpublishTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish"
	localVarPath = strings.Replace(localVarPath, "{"+"tableIdOrName"+"}", url.PathEscape(parameterToString(r.tableIdOrName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeForeignIds != nil {
		localVarQueryParams.Add("includeForeignIds", parameterToString(*r.includeForeignIds, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(hubspot.ContextKey).(hubspot.Authorizer); ok {
			auth.Apply(hubspot.AuthorizationRequest{
				QueryParams: localVarQueryParams,
				FormParams:  localVarFormParams,
				Headers:     localVarHeaderParams,
			})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
