/*
Accounting Extension

These APIs allow you to interact with HubSpot's Accounting Extension. It allows you to: * Specify the URLs that HubSpot will use when making webhook requests to your external accounting system. * Respond to webhook calls made to your external accounting system by HubSpot

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package accounting

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// SettingsApiService SettingsApi service
type SettingsApiService service

type ApiGetCrmV3ExtensionsAccountingSettingsAppIdGetByIdRequest struct {
	ctx        context.Context
	ApiService *SettingsApiService
	appId      int32
}

func (r ApiGetCrmV3ExtensionsAccountingSettingsAppIdGetByIdRequest) Execute() (*AccountingAppSettings, *http.Response, error) {
	return r.ApiService.GetCrmV3ExtensionsAccountingSettingsAppIdGetByIdExecute(r)
}

/*
GetCrmV3ExtensionsAccountingSettingsAppIdGetById Get URL settings

Returns the URL settings for an accounting app with the specified ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appId The ID of the accounting app. This is the identifier of the application created in your HubSpot developer portal.
 @return ApiGetCrmV3ExtensionsAccountingSettingsAppIdGetByIdRequest
*/
func (a *SettingsApiService) GetCrmV3ExtensionsAccountingSettingsAppIdGetById(ctx context.Context, appId int32) ApiGetCrmV3ExtensionsAccountingSettingsAppIdGetByIdRequest {
	return ApiGetCrmV3ExtensionsAccountingSettingsAppIdGetByIdRequest{
		ApiService: a,
		ctx:        ctx,
		appId:      appId,
	}
}

// Execute executes the request
//  @return AccountingAppSettings
func (a *SettingsApiService) GetCrmV3ExtensionsAccountingSettingsAppIdGetByIdExecute(r ApiGetCrmV3ExtensionsAccountingSettingsAppIdGetByIdRequest) (*AccountingAppSettings, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccountingAppSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsApiService.GetCrmV3ExtensionsAccountingSettingsAppIdGetById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/crm/v3/extensions/accounting/settings/{appId}"
	localVarPath = strings.Replace(localVarPath, "{"+"appId"+"}", url.PathEscape(parameterToString(r.appId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest struct {
	ctx                   context.Context
	ApiService            *SettingsApiService
	appId                 int32
	accountingAppSettings *AccountingAppSettings
}

func (r ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest) AccountingAppSettings(accountingAppSettings AccountingAppSettings) ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest {
	r.accountingAppSettings = &accountingAppSettings
	return r
}

func (r ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.PutCrmV3ExtensionsAccountingSettingsAppIdReplaceExecute(r)
}

/*
PutCrmV3ExtensionsAccountingSettingsAppIdReplace Add/Update URL Settings

Add/Update the URL settings for an accounting app with the specified ID.  All URLs must use the `https` protocol.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appId The ID of the accounting app. This is the identifier of the application created in your HubSpot developer portal.
 @return ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest
*/
func (a *SettingsApiService) PutCrmV3ExtensionsAccountingSettingsAppIdReplace(ctx context.Context, appId int32) ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest {
	return ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest{
		ApiService: a,
		ctx:        ctx,
		appId:      appId,
	}
}

// Execute executes the request
func (a *SettingsApiService) PutCrmV3ExtensionsAccountingSettingsAppIdReplaceExecute(r ApiPutCrmV3ExtensionsAccountingSettingsAppIdReplaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsApiService.PutCrmV3ExtensionsAccountingSettingsAppIdReplace")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/crm/v3/extensions/accounting/settings/{appId}"
	localVarPath = strings.Replace(localVarPath, "{"+"appId"+"}", url.PathEscape(parameterToString(r.appId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountingAppSettings == nil {
		return nil, reportError("accountingAppSettings is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountingAppSettings
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
