/*
Accounting Extension

These APIs allow you to interact with HubSpot's Accounting Extension. It allows you to: * Specify the URLs that HubSpot will use when making webhook requests to your external accounting system. * Respond to webhook calls made to your external accounting system by HubSpot

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package accounting

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// UserAccountsApiService UserAccountsApi service
type UserAccountsApiService service

type ApiDeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveRequest struct {
	ctx        context.Context
	ApiService *UserAccountsApiService
	accountId  string
}

func (r ApiDeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveExecute(r)
}

/*
DeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchive Delete user account

Deletes a user account from HubSpot, meaning that HubSpot will no longer send requests to the external accounting system for this user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The ID of the user account to delete.
 @return ApiDeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveRequest
*/
func (a *UserAccountsApiService) DeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchive(ctx context.Context, accountId string) ApiDeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveRequest {
	return ApiDeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveRequest{
		ApiService: a,
		ctx:        ctx,
		accountId:  accountId,
	}
}

// Execute executes the request
func (a *UserAccountsApiService) DeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveExecute(r ApiDeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchiveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAccountsApiService.DeleteCrmV3ExtensionsAccountingUserAccountsAccountIdArchive")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/crm/v3/extensions/accounting/user-accounts/{accountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterToString(r.accountId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest struct {
	ctx                              context.Context
	ApiService                       *UserAccountsApiService
	createUserAccountRequestExternal *CreateUserAccountRequestExternal
}

// The external accounting system user account information.
func (r ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest) CreateUserAccountRequestExternal(createUserAccountRequestExternal CreateUserAccountRequestExternal) ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest {
	r.createUserAccountRequestExternal = &createUserAccountRequestExternal
	return r
}

func (r ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.PutCrmV3ExtensionsAccountingUserAccountsReplaceExecute(r)
}

/*
PutCrmV3ExtensionsAccountingUserAccountsReplace Create a user account

Creates an account which contains the information about the account in the external accounting system.  This *must* be called after a user connects their HubSpot account to the external accounting system, as there is no other way for HubSpot to obtain the external account details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest
*/
func (a *UserAccountsApiService) PutCrmV3ExtensionsAccountingUserAccountsReplace(ctx context.Context) ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest {
	return ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *UserAccountsApiService) PutCrmV3ExtensionsAccountingUserAccountsReplaceExecute(r ApiPutCrmV3ExtensionsAccountingUserAccountsReplaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAccountsApiService.PutCrmV3ExtensionsAccountingUserAccountsReplace")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/crm/v3/extensions/accounting/user-accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createUserAccountRequestExternal == nil {
		return nil, reportError("createUserAccountRequestExternal is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createUserAccountRequestExternal
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
