openapi: 3.0.1
info:
  description: "The CRM uses schemas to define how custom objects should store and\
    \ represent information in the HubSpot CRM. Schemas define details about an object's\
    \ type, properties, and associations. The schema can be uniquely identified by\
    \ its **object type ID**."
  title: Schemas
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: Create a new object for storing information about cars at
    a car dealership. Your object definition could include properties to store information
    as well as the filters available on the custom object index page.
  x-hubspot-related-documentation:
  - name: Custom Object Guide
    url: https://hubspot.dev/guides/api/crm/crm-custom-objects
  x-hubspot-introduction: "Use the custom objects schema API to define new types of\
    \ CRM records in your account. After setting up an object schema, you'll then\
    \ be able to create custom records under that object both in HubSpot and using\
    \ the custom object records API."
servers:
- url: https://api.hubapi.com
tags:
- name: Core
- name: Public_Object_Schemas
paths:
  /crm/v3/schemas/{objectType}:
    delete:
      description: Deletes a schema. Any existing records of this schema must be deleted
        **first**. Otherwise this call will fail.
      operationId: "delete-/crm/v3/schemas/{objectType}_archive"
      parameters:
      - description: Fully qualified name or object type ID of your schema.
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.schemas.custom.write
      summary: Delete a schema
      tags:
      - Core
    get:
      description: Returns an existing object schema.
      operationId: "get-/crm/v3/schemas/{objectType}_getById"
      parameters:
      - description: Fully qualified name or object type ID of your schema.
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectSchema'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.schemas.custom.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2_legacy:
        - crm.schemas.custom.read
      summary: Get an existing schema
      tags:
      - Core
    patch:
      description: Update the details for an existing object schema.
      operationId: "patch-/crm/v3/schemas/{objectType}_update"
      parameters:
      - description: Fully qualified name or object type ID of your schema.
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTypeDefinitionPatch'
        description: Attributes to update in your schema.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTypeDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.schemas.custom.write
        - crm.objects.custom.write
      - private_apps_legacy:
        - crm.schemas.custom.write
      summary: Update a schema
      tags:
      - Core
  /crm/v3/schemas/{objectType}/associations:
    post:
      description: Defines a new association between the primary schema's object type
        and other object types.
      operationId: "post-/crm/v3/schemas/{objectType}/associations_createAssociation"
      parameters:
      - description: Fully qualified name or object type ID of your schema.
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationDefinitionEgg'
        description: Attributes that define the association.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.schemas.custom.write
        - crm.objects.custom.write
      - private_apps_legacy:
        - crm.schemas.custom.write
      summary: Create an association
      tags:
      - Core
  /crm/v3/schemas/{objectType}/purge:
    delete:
      deprecated: true
      operationId: "delete-/crm/v3/schemas/{objectType}/purge_purge"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.schemas.custom.write
      tags:
      - Public_Object_Schemas
  /crm/v3/schemas/{objectType}/associations/{associationIdentifier}:
    delete:
      description: Removes an existing association from a schema.
      operationId: "delete-/crm/v3/schemas/{objectType}/associations/{associationIdentifier}_archiveAssociation"
      parameters:
      - description: Fully qualified name or object type ID of your schema.
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of the association to remove.
        explode: false
        in: path
        name: associationIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.schemas.custom.write
      summary: Remove an association
      tags:
      - Core
  /crm/v3/schemas:
    get:
      description: Returns all object schemas that have been defined for your account.
      operationId: get-/crm/v3/schemas_getAll
      parameters:
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseObjectSchemaNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.schemas.custom.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - oauth2_legacy:
        - crm.schemas.custom.read
      summary: Get all schemas
      tags:
      - Core
    post:
      description: "Define a new object schema, along with custom properties and associations.\
        \ The entire object schema, including its object type ID, properties, and\
        \ associations will be returned in the response."
      operationId: post-/crm/v3/schemas_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectSchemaEgg'
        description: "Object schema definition, including properties and associations."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectSchema'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy:
        - crm.schemas.custom.write
        - crm.objects.custom.write
      - private_apps_legacy:
        - crm.schemas.custom.write
      summary: Create a new schema
      tags:
      - Core
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ObjectTypeDefinitionPatch:
      description: Defines attributes to update on an object type.
      example:
        primaryDisplayProperty: my_object_property
        requiredProperties:
        - my_object_property
        searchableProperties:
        - my_object_property
      properties:
        secondaryDisplayProperties:
          description: The names of secondary properties for this object. These will
            be displayed as secondary on the HubSpot record page for this object type.
          items:
            type: string
          type: array
        requiredProperties:
          description: The names of properties that should be **required** when creating
            an object of this type.
          example:
          - my_object_property
          items:
            type: string
          type: array
        searchableProperties:
          description: Names of properties that will be indexed for this object type
            in by HubSpot's product search.
          example:
          - my_object_property
          items:
            type: string
          type: array
        primaryDisplayProperty:
          description: The name of the primary property for this object. This will
            be displayed as primary on the HubSpot record page for this object type.
          example: my_object_property
          type: string
        description:
          type: string
        restorable:
          type: boolean
        labels:
          $ref: '#/components/schemas/ObjectTypeDefinitionLabels'
      type: object
    CollectionResponseObjectSchemaNoPaging:
      example:
        results:
        - id: "123456"
          createdAt: 2020-02-20T18:07:11.390Z
          updatedAt: 2020-02-20T18:09:07.555Z
          properties:
          - updatedAt: 2020-02-20T18:07:11.802Z
            createdAt: 2020-02-20T18:07:11.802Z
            name: my_object_property
            label: My object property
            type: string
            fieldType: text
            groupName: my_object_information
            displayOrder: -1
            calculated: false
            externalOptions: false
            archived: false
            hasUniqueValue: false
          associations:
          - id: "123"
            fromObjectTypeId: 2-123456
            toObjectTypeId: 0-1
            name: my_object_to_contact
          labels:
            singular: My object
            plural: My objects
          requiredProperties:
          - my_object_property
          searchableProperties:
          - my_object_property
          primaryDisplayProperty: my_object_property
          metaType: PORTAL_SPECIFIC
          fullyQualifiedName: p7878787_my_object"
          name: my_object
        - id: "123456"
          createdAt: 2020-02-20T18:07:11.390Z
          updatedAt: 2020-02-20T18:09:07.555Z
          properties:
          - updatedAt: 2020-02-20T18:07:11.802Z
            createdAt: 2020-02-20T18:07:11.802Z
            name: my_object_property
            label: My object property
            type: string
            fieldType: text
            groupName: my_object_information
            displayOrder: -1
            calculated: false
            externalOptions: false
            archived: false
            hasUniqueValue: false
          associations:
          - id: "123"
            fromObjectTypeId: 2-123456
            toObjectTypeId: 0-1
            name: my_object_to_contact
          labels:
            singular: My object
            plural: My objects
          requiredProperties:
          - my_object_property
          searchableProperties:
          - my_object_property
          primaryDisplayProperty: my_object_property
          metaType: PORTAL_SPECIFIC
          fullyQualifiedName: p7878787_my_object"
          name: my_object
      properties:
        results:
          items:
            $ref: '#/components/schemas/ObjectSchema'
          type: array
      required:
      - results
      type: object
    ObjectTypeDefinition:
      description: Defines an object type.
      example:
        id: "123456"
        createdAt: 2020-02-20T18:07:11.390Z
        updatedAt: 2020-02-21T14:13:28.818002Z
        labels:
          singular: My object
          plural: My objects
        requiredProperties:
        - my_object_property
        searchableProperties:
        - my_object_property
        primaryDisplayProperty: my_object_property
        portalId: 12345678
        metaType: PORTAL_SPECIFIC
        name: my_object
      properties:
        secondaryDisplayProperties:
          description: The names of secondary properties for this object. These will
            be displayed as secondary on the HubSpot record page for this object type.
          items:
            type: string
          type: array
        objectTypeId:
          type: string
        description:
          type: string
        fullyQualifiedName:
          type: string
        labels:
          $ref: '#/components/schemas/ObjectTypeDefinitionLabels'
        archived:
          type: boolean
        createdAt:
          description: When the object type was created.
          format: date-time
          type: string
        requiredProperties:
          description: The names of properties that should be **required** when creating
            an object of this type.
          example:
          - my_object_property
          items:
            type: string
          type: array
        searchableProperties:
          description: Names of properties that will be indexed for this object type
            in by HubSpot's product search.
          example:
          - my_object_property
          items:
            type: string
          type: array
        portalId:
          description: The ID of the account that this object type is specific to.
          example: 12345678
          format: int32
          type: integer
        primaryDisplayProperty:
          description: The name of the primary property for this object. This will
            be displayed as primary on the HubSpot record page for this object type.
          example: my_object_property
          type: string
        name:
          description: A unique name for this object. For internal use only.
          example: my_object
          type: string
        id:
          description: "A unique ID for this object type. Will be defined as {meta-type}-{unique\
            \ ID}."
          example: "123456"
          type: string
        updatedAt:
          description: When the object type was last updated.
          format: date-time
          type: string
      required:
      - id
      - labels
      - name
      - requiredProperties
      type: object
    OptionInput:
      description: Defines a enumeration property option
      example:
        label: Option A
        description: Choice number one
        value: A
        displayOrder: 1
        hidden: false
      properties:
        hidden:
          description: Hidden options won't be shown in HubSpot.
          example: false
          type: boolean
        displayOrder:
          description: Options are shown in order starting with the lowest positive
            integer value. Values of -1 will cause the option to be displayed after
            any positive values.
          example: 1
          format: int32
          type: integer
        description:
          description: A description of the option.
          example: Choice number one
          type: string
        label:
          description: A human-readable option label that will be shown in HubSpot.
          example: Option A
          type: string
        value:
          description: "The internal value of the option, which must be used when\
            \ setting the property value through the API."
          example: A
          type: string
      required:
      - displayOrder
      - hidden
      - label
      - value
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    ObjectTypePropertyCreate:
      description: Defines a property to create.
      example:
        label: My object property
        type: enumeration
        fieldType: select
        groupName: my_object_information
        displayOrder: 2
        hasUniqueValue: false
        options:
        - label: Option A
          description: Choice number one
          value: A
          displayOrder: 1
        - label: Option B
          description: Choice number two
          value: B
          displayOrder: 2
      properties:
        hidden:
          type: boolean
        optionSortStrategy:
          description: Controls how the property options will be sorted in the HubSpot
            UI.
          enum:
          - DISPLAY_ORDER
          - ALPHABETICAL
          type: string
        displayOrder:
          description: The order that this property should be displayed in the HubSpot
            UI relative to other properties for this object type. Properties are displayed
            in order starting with the lowest positive integer value. A value of -1
            will cause the property to be displayed **after** any positive values.
          example: 2
          format: int32
          type: integer
        description:
          description: A description of the property that will be shown as help text
            in HubSpot.
          type: string
        showCurrencySymbol:
          description: Whether the property will display the currency symbol in the
            HubSpot UI.
          type: boolean
        label:
          description: A human-readable property label that will be shown in HubSpot.
          example: My object property
          type: string
        type:
          description: The data type of the property.
          enum:
          - string
          - number
          - date
          - datetime
          - enumeration
          - bool
          example: enumeration
          type: string
        formField:
          description: Whether the property can be used in a HubSpot form.
          type: boolean
        groupName:
          description: The name of the group this property belongs to.
          example: my_object_information
          type: string
        referencedObjectType:
          description: "Defines the options this property will return, e.g. OWNER\
            \ would return name of users on the portal."
          type: string
        textDisplayHint:
          description: Controls how text properties are formatted in the HubSpot UI
          enum:
          - unformatted_single_line
          - multi_line
          - email
          - phone_number
          - domain_name
          - ip_address
          - physical_address
          - postal_code
          type: string
        name:
          description: "The internal property name, which must be used when referencing\
            \ the property from the API."
          type: string
        options:
          description: A list of available options for the property. This field is
            only required for enumerated properties.
          example:
          - label: Option A
            value: A
            description: Choice number one
            displayOrder: 1
          - label: Option B
            value: B
            description: Choice number two
            displayOrder: 2
          items:
            $ref: '#/components/schemas/OptionInput'
          type: array
        searchableInGlobalSearch:
          description: Allow users to search for information entered to this field
            (limited to 3 properties)
          type: boolean
        numberDisplayHint:
          description: Controls how numeric properties are formatted in the HubSpot
            UI
          enum:
          - unformatted
          - formatted
          - currency
          - percentage
          - duration
          - probability
          type: string
        hasUniqueValue:
          description: "Whether or not the property's value must be unique. Once set,\
            \ this can't be changed."
          example: false
          type: boolean
        fieldType:
          description: Controls how the property appears in HubSpot.
          example: select
          type: string
      required:
      - fieldType
      - label
      - name
      - type
      type: object
    PropertyModificationMetadata:
      properties:
        readOnlyOptions:
          description: ""
          type: boolean
        readOnlyValue:
          description: ""
          type: boolean
        readOnlyDefinition:
          description: ""
          type: boolean
        archivable:
          description: ""
          type: boolean
      required:
      - archivable
      - readOnlyDefinition
      - readOnlyValue
      type: object
    AssociationDefinitionEgg:
      description: Defines an association between two object types.
      example:
        fromObjectTypeId: 2-123456
        toObjectTypeId: contact
        name: my_object_to_contact
      properties:
        fromObjectTypeId:
          description: ID of the primary object type to link from.
          example: 2-123456
          type: string
        name:
          description: A unique name for this association.
          example: my_object_to_contact
          type: string
        toObjectTypeId:
          description: ID of the target object type ID to link to.
          example: contact
          type: string
      required:
      - fromObjectTypeId
      - toObjectTypeId
      type: object
    AssociationDefinition:
      description: Defines an association between two object types.
      example:
        id: "105"
        fromObjectTypeId: 2-123456
        toObjectTypeId: 0-1
        name: my_object_to_contact
      properties:
        createdAt:
          description: When the association was defined.
          format: date-time
          type: string
        fromObjectTypeId:
          description: ID of the primary object type to link from.
          example: 2-123456
          type: string
        name:
          description: A unique name for this association.
          example: my_object_to_contact
          type: string
        id:
          description: A unique ID for this association.
          example: "105"
          type: string
        toObjectTypeId:
          description: ID of the target object type ID to link to.
          example: 0-1
          type: string
        updatedAt:
          description: When the association was last updated.
          format: date-time
          type: string
      required:
      - fromObjectTypeId
      - id
      - toObjectTypeId
      type: object
    ObjectSchema:
      description: "Defines an object schema, including its properties and associations."
      example:
        id: "123456"
        createdAt: 2020-02-20T18:07:11.390Z
        updatedAt: 2020-02-20T18:09:07.555Z
        properties:
        - updatedAt: 2020-02-20T18:07:11.802Z
          createdAt: 2020-02-20T18:07:11.802Z
          name: my_object_property
          label: My object property
          type: string
          fieldType: text
          groupName: my_object_information
          displayOrder: -1
          calculated: false
          externalOptions: false
          archived: false
          hasUniqueValue: false
        associations:
        - id: "123"
          fromObjectTypeId: 2-123456
          toObjectTypeId: 0-1
          name: my_object_to_contact
        labels:
          singular: My object
          plural: My objects
        requiredProperties:
        - my_object_property
        searchableProperties:
        - my_object_property
        primaryDisplayProperty: my_object_property
        metaType: PORTAL_SPECIFIC
        fullyQualifiedName: p7878787_my_object"
        name: my_object
      properties:
        associations:
          description: Associations defined for a given object type.
          example:
          - id: "123"
            name: my_object_to_contact
            toObjectTypeId: 0-1
            fromObjectTypeId: 2-123456
          items:
            $ref: '#/components/schemas/AssociationDefinition'
          type: array
        secondaryDisplayProperties:
          description: The names of secondary properties for this object. These will
            be displayed as secondary on the HubSpot record page for this object type.
          items:
            type: string
          type: array
        objectTypeId:
          type: string
        description:
          type: string
        fullyQualifiedName:
          description: "An assigned unique ID for the object, including portal ID\
            \ and object name."
          example: p7878787_my_object"
          type: string
        labels:
          $ref: '#/components/schemas/ObjectTypeDefinitionLabels'
        archived:
          type: boolean
        createdAt:
          description: When the object schema was created.
          format: date-time
          type: string
        requiredProperties:
          description: The names of properties that should be **required** when creating
            an object of this type.
          example:
          - my_object_property
          items:
            type: string
          type: array
        searchableProperties:
          description: Names of properties that will be indexed for this object type
            in by HubSpot's product search.
          example:
          - my_object_property
          items:
            type: string
          type: array
        primaryDisplayProperty:
          description: The name of the primary property for this object. This will
            be displayed as primary on the HubSpot record page for this object type.
          example: my_object_property
          type: string
        name:
          description: A unique name for the schema's object type.
          example: my_object
          type: string
        id:
          description: "A unique ID for this schema's object type. Will be defined\
            \ as {meta-type}-{unique ID}."
          example: "123456"
          type: string
        properties:
          description: Properties defined for this object type.
          example:
          - name: my_object_property
            type: string
            label: My object property
            archived: false
            createdAt: 2020-02-20T18:07:11.802Z
            fieldType: text
            groupName: my_object_information
            updatedAt: 2020-02-20T18:07:11.802Z
            calculated: false
            displayOrder: -1
            hasUniqueValue: false
            externalOptions: false
          items:
            $ref: '#/components/schemas/Property'
          type: array
        updatedAt:
          description: When the object schema was last updated.
          format: date-time
          type: string
      required:
      - associations
      - id
      - labels
      - name
      - properties
      - requiredProperties
      type: object
    ObjectSchemaEgg:
      description: "Defines a new object type, its properties, and associations."
      example:
        name: my_object
        labels:
          singular: My object
          plural: My objects
        primaryDisplayProperty: my_object_property
        requiredProperties:
        - my_object_property
        properties:
        - name: my_object_property
          label: My object property
          isPrimaryDisplayLabel: true
        associatedObjects:
        - CONTACT
        metaType: PORTAL_SPECIFIC
      properties:
        secondaryDisplayProperties:
          description: The names of secondary properties for this object. These will
            be displayed as secondary on the HubSpot record page for this object type.
          items:
            type: string
          type: array
        requiredProperties:
          description: The names of properties that should be **required** when creating
            an object of this type.
          example:
          - my_object_property
          items:
            type: string
          type: array
        searchableProperties:
          description: Names of properties that will be indexed for this object type
            in by HubSpot's product search.
          items:
            type: string
          type: array
        primaryDisplayProperty:
          description: The name of the primary property for this object. This will
            be displayed as primary on the HubSpot record page for this object type.
          example: my_object_property
          type: string
        name:
          description: A unique name for this object. For internal use only.
          example: my_object
          type: string
        description:
          type: string
        associatedObjects:
          description: Associations defined for this object type.
          example:
          - CONTACT
          items:
            type: string
          type: array
        properties:
          description: Properties defined for this object type.
          example:
          - name: my_object_property
            label: My object property
            isPrimaryDisplayLabel: true
          items:
            $ref: '#/components/schemas/ObjectTypePropertyCreate'
          type: array
        labels:
          $ref: '#/components/schemas/ObjectTypeDefinitionLabels'
      required:
      - associatedObjects
      - labels
      - name
      - properties
      - requiredProperties
      type: object
    ObjectTypeDefinitionLabels:
      description: Singular and plural labels for the object. Used in CRM display.
      example:
        singular: My object
        plural: My objects
      properties:
        plural:
          description: The word for multiple objects. (There’s no way to change this
            later.)
          example: My objects
          type: string
        singular:
          description: The word for one object. (There’s no way to change this later.)
          example: My object
          type: string
      type: object
    Option:
      description: The options available when a property is an enumeration
      example:
        label: Option A
        description: Choice number one
        value: A
        displayOrder: 1
        hidden: false
      properties:
        hidden:
          description: Hidden options will not be displayed in HubSpot.
          example: false
          type: boolean
        displayOrder:
          description: Options are displayed in order starting with the lowest positive
            integer value. Values of -1 will cause the option to be displayed after
            any positive values.
          example: 1
          format: int32
          type: integer
        description:
          description: A description of the option.
          example: Choice number one
          type: string
        label:
          description: A human-readable option label that will be shown in HubSpot.
          example: Option A
          type: string
        value:
          description: "The internal value of the option, which must be used when\
            \ setting the property value through the API."
          example: A
          type: string
      required:
      - hidden
      - label
      - value
      type: object
    Property:
      description: Defines a property
      example:
        name: my_object_property
        label: My object property
        type: enumeration
        fieldType: select
        groupName: my_object_information
        displayOrder: 2
        hasUniqueValue: false
        modificationMetadata:
          readOnlyOptions: false
          readOnlyValue: false
          readOnlyDefinition: false
          archivable: true
        options:
        - label: Option A
          description: Choice number one
          value: A
          displayOrder: 1
          hidden: false
        - label: Option B
          description: Choice number two
          value: B
          displayOrder: 2
          hidden: false
      properties:
        createdUserId:
          description: The internal ID of the user who created the property in HubSpot.
            This field may not exist if the property was created outside of HubSpot.
          type: string
        hidden:
          type: boolean
        modificationMetadata:
          $ref: '#/components/schemas/PropertyModificationMetadata'
        displayOrder:
          description: The order that this property should be displayed in the HubSpot
            UI relative to other properties for this object type. Properties are displayed
            in order starting with the lowest positive integer value. A value of -1
            will cause the property to be displayed **after** any positive values.
          example: 2
          format: int32
          type: integer
        description:
          description: A description of the property that will be shown as help text
            in HubSpot.
          type: string
        showCurrencySymbol:
          description: Whether the property will display the currency symbol set in
            the account settings.
          type: boolean
        label:
          description: A human-readable property label that will be shown in HubSpot.
          example: My object property
          type: string
        type:
          description: The property data type.
          example: enumeration
          type: string
        hubspotDefined:
          description: This will be true for default object properties built into
            HubSpot.
          type: boolean
        formField:
          description: Whether or not the property can be used in a HubSpot form.
          type: boolean
        createdAt:
          description: When the property was created
          format: date-time
          type: string
        archivedAt:
          description: When the property was archived.
          format: date-time
          type: string
        archived:
          description: Whether or not the property is archived.
          type: boolean
        groupName:
          description: The name of the property group the property belongs to.
          example: my_object_information
          type: string
        referencedObjectType:
          description: "If this property is related to other object(s), they'll be\
            \ listed here."
          type: string
        name:
          description: "The internal property name, which must be used when referencing\
            \ the property via the API."
          example: my_object_property
          type: string
        options:
          description: "A list of valid options for the property. This field is required\
            \ for enumerated properties, but will be empty for other property types."
          example:
          - label: Option A
            value: A
            hidden: false
            description: Choice number one
            displayOrder: 1
          - label: Option B
            value: B
            hidden: false
            description: Choice number two
            displayOrder: 2
          items:
            $ref: '#/components/schemas/Option'
          type: array
        calculationFormula:
          type: string
        hasUniqueValue:
          description: "Whether or not the property's value must be unique. Once set,\
            \ this can't be changed."
          example: false
          type: boolean
        fieldType:
          description: Controls how the property appears in HubSpot.
          example: select
          type: string
        updatedUserId:
          description: The internal user ID of the user who updated the property in
            HubSpot. This field may not exist if the property was updated outside
            of HubSpot.
          type: string
        calculated:
          description: "For default properties, true indicates that the property is\
            \ calculated by a HubSpot process. It has no effect for custom properties."
          type: boolean
        externalOptions:
          description: "For default properties, true indicates that the options are\
            \ stored externally to the property settings."
          type: boolean
        updatedAt:
          description: ""
          format: date-time
          type: string
      required:
      - description
      - fieldType
      - groupName
      - label
      - name
      - options
      - type
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.schemas.custom.read: View custom object definitions
            crm.objects.custom.read: View custom object records
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
x-hubspot-documentation-banner: NONE
