openapi: 3.0.1
info:
  title: CRM Imports
  version: v3
servers:
- url: https://api.hubapi.com
tags:
- name: Core
- name: Public_Imports
paths:
  /crm/v3/imports/{importId}/errors:
    get:
      operationId: GetErrors
      parameters:
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: false
        in: path
        name: importId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicImportErrorForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - crm.import
      - private_apps_legacy:
        - crm.import
      tags:
      - Public_Imports
  /crm/v3/imports/{importId}:
    get:
      description: "A complete summary of an import record, including any updates."
      operationId: GetByID
      parameters:
      - explode: false
        in: path
        name: importId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - crm.import
      - private_apps_legacy:
        - crm.import
      summary: Get the information on any import
      tags:
      - Core
  /crm/v3/imports/{importId}/cancel:
    post:
      description: This allows a developer to cancel an active import.
      operationId: Cancel
      parameters:
      - explode: false
        in: path
        name: importId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - crm.import
      - private_apps_legacy:
        - crm.import
      summary: Cancel an active import
      tags:
      - Core
  /crm/v3/imports/:
    get:
      description: Returns a paged list of active imports for this account.
      operationId: GetPage
      parameters:
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicImportResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - crm.import
      - private_apps_legacy:
        - crm.import
      summary: Get active imports
      tags:
      - Core
    post:
      description: Begins importing data from the specified file resources. This uploads
        the corresponding file and uses the import request object to convert rows
        in the files to objects.
      operationId: Create
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Create_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - crm.import
      - private_apps_legacy:
        - crm.import
      summary: Start a new import
      tags:
      - Core
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    CollectionResponsePublicImportResponse:
      example:
        paging:
          next:
            link: link
            after: after
          prev:
            before: before
            link: link
        results:
        - id: "1471"
          createdAt: 2020-01-14T22:45:00.153Z
          updatedAt: 2020-01-14T22:45:00.153Z
          state: DONE
          optOutImport: false
          metadata:
            objectLists:
            - objectType: contacts
              listId: "3"
            counters:
              TOTAL_ROWS: 1000
              PROPERTY_VALUES_EMITTED: 1000
              CREATED_OBJECTS: 1000
              UNIQUE_OBJECTS_WRITTEN: 1000
            fileIds:
            - "32938649"
        - id: "1471"
          createdAt: 2020-01-14T22:45:00.153Z
          updatedAt: 2020-01-14T22:45:00.153Z
          state: DONE
          optOutImport: false
          metadata:
            objectLists:
            - objectType: contacts
              listId: "3"
            counters:
              TOTAL_ROWS: 1000
              PROPERTY_VALUES_EMITTED: 1000
              CREATED_OBJECTS: 1000
              UNIQUE_OBJECTS_WRITTEN: 1000
            fileIds:
            - "32938649"
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicImportResponse'
          type: array
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
      type: object
    PublicObjectListRecord:
      description: A summary detailing which list contains the imported objects.
      example:
        objectType: contacts
        listId: "3"
      properties:
        listId:
          description: The ID of the list containing the imported objects.
          type: string
        objectType:
          description: The type of object contained in the list.
          type: string
      required:
      - listId
      - objectType
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
        prev:
          before: before
          link: link
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    ImportTemplate:
      properties:
        templateType:
          enum:
          - admin_defined
          - previous_import
          - user_file
          type: string
        templateId:
          format: int32
          type: integer
      required:
      - templateId
      - templateType
      type: object
    ImportRowCore:
      example:
        rowData:
        - rowData
        - rowData
        lineNumber: 0
        pageName: pageName
        fileId: 6
      properties:
        lineNumber:
          format: int32
          type: integer
        fileId:
          format: int32
          type: integer
        rowData:
          items:
            type: string
          type: array
        pageName:
          type: string
      required:
      - fileId
      - lineNumber
      - rowData
      type: object
    ActionResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        status: PENDING
      properties:
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        completedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - completedAt
      - startedAt
      - status
      type: object
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    PublicImportError:
      example:
        createdAt: 5
        extraContext: extraContext
        objectTypeId: objectTypeId
        errorType: INCORRECT_NUMBER_OF_COLUMNS
        knownColumnNumber: 1
        id: id
        sourceData:
          rowData:
          - rowData
          - rowData
          lineNumber: 0
          pageName: pageName
          fileId: 6
        objectType: CONTACT
        invalidValue: invalidValue
      properties:
        errorType:
          enum:
          - INCORRECT_NUMBER_OF_COLUMNS
          - INVALID_OBJECT_ID
          - INVALID_ASSOCIATION_IDENTIFIER
          - NO_OBJECT_ID_FROM_ASSOCIATION_IDENTIFIER
          - MULTIPLE_COMPANIES_WITH_THIS_DOMAIN
          - PROPERTY_DEFINITION_NOT_FOUND
          - PROPERTY_VALUE_NOT_FOUND
          - COULD_NOT_FIND_OWNER
          - MULTIPLE_OWNERS_FOUND
          - COULD_NOT_FIND_BUSINESS_UNIT
          - COULD_NOT_PARSE_NUMBER
          - COULD_NOT_PARSE_DATE
          - COULD_NOT_PARSE_TERM
          - OUTSIDE_VALID_TIME_RANGE
          - OUTSIDE_VALID_TERM_RANGE
          - COULD_NOT_PARSE_ROW
          - INVALID_ENUMERATION_OPTION
          - AMBIGUOUS_ENUMERATION_OPTION
          - FAILED_VALIDATION
          - FAILED_TO_CREATE_ASSOCIATION
          - FILE_NOT_FOUND
          - INVALID_COLUMN_CONFIGURATION
          - INVALID_FILE_TYPE
          - INVALID_SPREADSHEET
          - INVALID_SHEET_COUNT
          - FAILED_TO_PROCESS_OBJECT_WITH_EMPTY_PROPERTY_VALUES
          - UNKNOWN_BAD_REQUEST
          - GDPR_BLACKLISTED_EMAIL
          - DUPLICATE_ASSOCIATION_ID
          - LIMIT_EXCEEDED
          - PORTAL_WIDE_CUSTOM_OBJECT_LIMIT_EXCEEDED
          - INVALID_ALTERNATE_ID
          - INVALID_EMAIL
          - INVALID_DOMAIN
          - DUPLICATE_ROW_CONTENT
          - INVALID_NUMBER_SIZE
          - UNKNOWN_ERROR
          - FAILED_TO_OPT_OUT_CONTACT
          - INVALID_REQUIRED_PROPERTY
          - MISSING_REQUIRED_PROPERTY
          - DUPLICATE_ALTERNATE_ID
          - DUPLICATE_OBJECT_ID
          - DUPLICATE_UNIQUE_PROPERTY_VALUE
          - BLANK_VALUE_PROVIDED
          - UNKNOWN_ASSOCIATION_RECORD_ID
          - INVALID_RECORD_ID
          - DUPLICATE_RECORD_ID
          - INVALID_CUSTOM_PROPERTY_VALIDATION
          - CREATE_ONLY_IMPORT
          - UPDATE_ONLY_IMPORT
          - COLUMN_TOO_LARGE
          - ROW_DATA_TOO_LARGE
          - INVALID_EVENT_TIMESTAMP
          - INVALID_EVENT
          - DUPLICATE_EVENT
          - MISSING_EVENT_DEFINITION
          type: string
        sourceData:
          $ref: '#/components/schemas/ImportRowCore'
        objectType:
          enum:
          - CONTACT
          - COMPANY
          - DEAL
          - ENGAGEMENT
          - TICKET
          - OWNER
          - PRODUCT
          - LINE_ITEM
          - BET_DELIVERABLE_SERVICE
          - CONTENT
          - CONVERSATION
          - BET_ALERT
          - PORTAL
          - QUOTE
          - FORM_SUBMISSION_INBOUNDDB
          - QUOTA
          - UNSUBSCRIBE
          - COMMUNICATION
          - FEEDBACK_SUBMISSION
          - ATTRIBUTION
          - SALESFORCE_SYNC_ERROR
          - RESTORABLE_CRM_OBJECT
          - HUB
          - LANDING_PAGE
          - PRODUCT_OR_FOLDER
          - TASK
          - FORM
          - MARKETING_EMAIL
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AD
          - KEYWORD
          - CAMPAIGN
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SITE_PAGE
          - BLOG_POST
          - IMPORT
          - EXPORT
          - CTA
          - TASK_TEMPLATE
          - AUTOMATION_PLATFORM_FLOW
          - OBJECT_LIST
          - NOTE
          - MEETING_EVENT
          - CALL
          - EMAIL
          - PUBLISHING_TASK
          - CONVERSATION_SESSION
          - CONTACT_CREATE_ATTRIBUTION
          - INVOICE
          - MARKETING_EVENT
          - CONVERSATION_INBOX
          - CHATFLOW
          - MEDIA_BRIDGE
          - SEQUENCE
          - SEQUENCE_STEP
          - FORECAST
          - SNIPPET
          - TEMPLATE
          - DEAL_CREATE_ATTRIBUTION
          - QUOTE_TEMPLATE
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_FIELD
          - SEQUENCE_ENROLLMENT
          - SUBSCRIPTION
          - ACCEPTANCE_TEST
          - SOCIAL_BROADCAST
          - DEAL_SPLIT
          - DEAL_REGISTRATION
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - PORTAL_OBJECT_SYNC_MESSAGE
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - SEQUENCE_STEP_ENROLLMENT
          - APPROVAL
          - APPROVAL_STEP
          - CTA_VARIANT
          - SALES_DOCUMENT
          - DISCOUNT
          - FEE
          - TAX
          - MARKETING_CALENDAR
          - PERMISSIONS_TESTING
          - PRIVACY_SCANNER_COOKIE
          - DATA_SYNC_STATE
          - WEB_INTERACTIVE
          - PLAYBOOK
          - FOLDER
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - COMMERCE_PAYMENT
          - GSC_PROPERTY
          - SOX_PROTECTED_DUMMY_TYPE
          - BLOG_LISTING_PAGE
          - QUARANTINED_SUBMISSION
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - MARKETING_CAMPAIGN_UTM
          - DISCOUNT_TEMPLATE
          - DISCOUNT_CODE
          - FEEDBACK_SURVEY
          - CMS_URL
          - SALES_TASK
          - SALES_WORKLOAD
          - USER
          - POSTAL_MAIL
          - SCHEMAS_BACKEND_TEST
          - PAYMENT_LINK
          - SUBMISSION_TAG
          - CAMPAIGN_STEP
          - SCHEDULING_PAGE
          - SOX_PROTECTED_TEST_TYPE
          - ORDER
          - MARKETING_SMS
          - PARTNER_ACCOUNT
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - PLAYLIST
          - CLIP
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - MIC
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - PLAYLIST_FOLDER
          - LEAD
          - ABANDONED_CART
          - EXTERNAL_WEB_URL
          - VIEW
          - VIEW_BLOCK
          - ROSTER
          - CART
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - SOCIAL_PROFILE
          - PARTNER_CLIENT
          - ROSTER_MEMBER
          - MARKETING_EVENT_ATTENDANCE
          - ALL_PAGES
          - AI_FORECAST
          - CRM_PIPELINES_DUMMY_TYPE
          - UNKNOWN
          type: string
        invalidValue:
          type: string
        extraContext:
          type: string
        objectTypeId:
          type: string
        knownColumnNumber:
          format: int32
          type: integer
        createdAt:
          format: int32
          type: integer
        id:
          type: string
      required:
      - createdAt
      - errorType
      - id
      - sourceData
      type: object
    PreviousPage:
      example:
        before: before
        link: link
      properties:
        before:
          type: string
        link:
          type: string
      required:
      - before
      type: object
    PublicImportMetadata:
      description: An object detailing a summary of the import record outputs
      example:
        objectLists:
        - objectType: contacts
          listId: "3"
        counters:
          TOTAL_ROWS: 2
          PROPERTY_VALUES_EMITTED: 2
          CREATED_OBJECTS: 1
          UPDATED_OBJECTS: 1
          UNIQUE_OBJECTS_WRITTEN: 2
        fileIds:
        - "3579849"
      properties:
        objectLists:
          description: The lists containing the imported objects.
          items:
            $ref: '#/components/schemas/PublicObjectListRecord'
          type: array
        counters:
          additionalProperties:
            format: int32
            type: integer
          description: Summarized outcomes of each row a developer attempted to import
            into HubSpot.
          type: object
        fileIds:
          description: The IDs of files uploaded in the File Manager API.
          items:
            type: string
          type: array
      required:
      - counters
      - fileIds
      - objectLists
      type: object
    CollectionResponsePublicImportErrorForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - createdAt: 5
          extraContext: extraContext
          objectTypeId: objectTypeId
          errorType: INCORRECT_NUMBER_OF_COLUMNS
          knownColumnNumber: 1
          id: id
          sourceData:
            rowData:
            - rowData
            - rowData
            lineNumber: 0
            pageName: pageName
            fileId: 6
          objectType: CONTACT
          invalidValue: invalidValue
        - createdAt: 5
          extraContext: extraContext
          objectTypeId: objectTypeId
          errorType: INCORRECT_NUMBER_OF_COLUMNS
          knownColumnNumber: 1
          id: id
          sourceData:
            rowData:
            - rowData
            - rowData
            lineNumber: 0
            pageName: pageName
            fileId: 6
          objectType: CONTACT
          invalidValue: invalidValue
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicImportError'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      type: object
    PublicImportResponse:
      description: "A current summary of the import, whether complete or not."
      example:
        id: "1471"
        createdAt: 2020-01-14T22:45:00.153Z
        updatedAt: 2020-01-14T22:45:00.153Z
        state: DONE
        optOutImport: false
        metadata:
          objectLists:
          - objectType: contacts
            listId: "3"
          counters:
            TOTAL_ROWS: 1000
            PROPERTY_VALUES_EMITTED: 1000
            CREATED_OBJECTS: 1000
            UNIQUE_OBJECTS_WRITTEN: 1000
          fileIds:
          - "32938649"
      properties:
        state:
          description: The status of the import.
          enum:
          - STARTED
          - PROCESSING
          - DONE
          - FAILED
          - CANCELED
          - DEFERRED
          - REVERTED
          type: string
        importTemplate:
          $ref: '#/components/schemas/ImportTemplate'
        importRequestJson:
          properties: {}
          type: object
        importSource:
          enum:
          - API
          - CRM_UI
          - IMPORT
          - MOBILE_ANDROID
          - MOBILE_IOS
          - SALESFORCE
          type: string
        createdAt:
          format: date-time
          type: string
        metadata:
          $ref: '#/components/schemas/PublicImportMetadata'
        importName:
          type: string
        updatedAt:
          format: date-time
          type: string
        optOutImport:
          description: Whether or not the import is a list of people disqualified
            from receiving emails.
          type: boolean
        id:
          type: string
      required:
      - createdAt
      - id
      - metadata
      - optOutImport
      - state
      - updatedAt
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
    Create_request:
      properties:
        files:
          description: A list of files containing the data to import
          format: binary
          type: string
        importRequest:
          description: JSON formatted metadata about the import. This includes a name
            for the import and the column mappings for each file. See the overview
            tab for more on the required format.
          type: string
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.import: Create or modify all your CRM data through bulk imports
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
x-hubspot-documentation-banner: NONE
