openapi: 3.0.1
info:
  title: Automation Actions V4
  version: v4
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: PROFESSIONAL
    service: PROFESSIONAL
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: "You want to empower other users in your account to automate\
    \ specialized parts of their day-to-day processes (e.g., creating highly customized\
    \ quotes based on the data from an enrolled contact and their associations)."
  x-hubspot-related-documentation:
  - name: Custom Workflow Actions Guide
    url: https://hubspot.dev/guides/api/automation/custom-workflow-actions
  x-hubspot-introduction: "Use the automation API to define custom actions in the\
    \ HubSpot workflows tool, which allows users in your account to integrate with\
    \ external services as they build out a HubSpot workflow."
servers:
- url: https://api.hubapi.com
tags:
- name: Callbacks
- name: Revisions
- name: Functions
- name: Definitions
paths:
  /automation/v4/actions/callbacks/{callbackId}/complete:
    post:
      operationId: CallbackComplete
      parameters:
      - explode: false
        in: path
        name: callbackId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackCompletionRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - automation
      - private_apps_legacy:
        - automation
      summary: Completes a single callback
      tags:
      - Callbacks
  /automation/v4/actions/callbacks/complete:
    post:
      operationId: CallbackCompleteBatch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputCallbackCompletionBatchRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - automation
      - private_apps_legacy:
        - automation
      summary: Completes a batch of callbacks
      tags:
      - Callbacks
  /automation/v4/actions/{appId}:
    get:
      operationId: GetPage
      parameters:
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionDefinitionForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Get paged extension definitions
      tags:
      - Definitions
    post:
      operationId: Create
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionEgg'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Create a new extension definition
      tags:
      - Definitions
  /automation/v4/actions/{appId}/{definitionId}/functions:
    get:
      operationId: FunctionsGetPage
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionFunctionIdentifierNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Get all functions for a given definition
      tags:
      - Functions
  /automation/v4/actions/{appId}/{definitionId}/functions/{functionType}:
    delete:
      operationId: FunctionsArchiveByType
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Delete a function for a definition
      tags:
      - Functions
    get:
      operationId: FunctionsGetByType
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunction'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Get all functions by a type for a given definition
      tags:
      - Functions
    put:
      operationId: FunctionsCreateOrReplaceByType
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Insert a function for a definition
      tags:
      - Functions
  /automation/v4/actions/{appId}/{definitionId}/revisions/{revisionId}:
    get:
      operationId: RevisionsGetByID
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: revisionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionRevision'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Gets a revision for a given definition by revision id
      tags:
      - Revisions
  /automation/v4/actions/{appId}/{definitionId}:
    delete:
      operationId: Archive
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Archive an extension definition
      tags:
      - Definitions
    get:
      operationId: GetByID
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Get extension definition by Id
      tags:
      - Definitions
    patch:
      operationId: Update
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Patch an existing extension definition
      tags:
      - Definitions
  /automation/v4/actions/{appId}/{definitionId}/functions/{functionType}/{functionId}:
    delete:
      operationId: FunctionsArchive
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: functionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Archive a function for a definition
      tags:
      - Functions
    get:
      operationId: FunctionsGetByID
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: functionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunction'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Get a function for a given definition
      tags:
      - Functions
    put:
      operationId: FunctionsCreateOrReplace
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: functionType
        required: true
        schema:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        style: simple
      - explode: false
        in: path
        name: functionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Insert a function for a definition
      tags:
      - Functions
  /automation/v4/actions/{appId}/{definitionId}/revisions:
    get:
      operationId: RevisionsGetPage
      parameters:
      - explode: false
        in: path
        name: definitionId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionRevisionForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security: []
      summary: Get all revisions for a given definition
      tags:
      - Revisions
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    PublicActionFunction:
      example:
        functionSource: functionSource
        functionType: PRE_ACTION_EXECUTION
        id: id
      properties:
        functionSource:
          type: string
        functionType:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        id:
          type: string
      required:
      - functionSource
      - functionType
      type: object
    PublicActionDefinition:
      example:
        functions:
        - functionType: PRE_ACTION_EXECUTION
          id: id
        - functionType: PRE_ACTION_EXECUTION
          id: id
        actionUrl: actionUrl
        published: true
        labels:
          key:
            inputFieldDescriptions:
              key: inputFieldDescriptions
            appDisplayName: appDisplayName
            outputFieldLabels:
              key: outputFieldLabels
            inputFieldOptionLabels:
              key:
                key: inputFieldOptionLabels
            actionDescription: actionDescription
            executionRules:
              key: executionRules
            inputFieldLabels:
              key: inputFieldLabels
            actionName: actionName
            actionCardContent: actionCardContent
        inputFields:
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        outputFields:
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
        revisionId: revisionId
        archivedAt: 1
        inputFieldDependencies:
        - null
        - null
        executionRules:
        - labelName: labelName
          conditions:
            key: "{}"
        - labelName: labelName
          conditions:
            key: "{}"
        id: id
        objectTypes:
        - objectTypes
        - objectTypes
        objectRequestOptions:
          properties:
          - properties
          - properties
      properties:
        functions:
          items:
            $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          type: array
        actionUrl:
          type: string
        published:
          type: boolean
        labels:
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          type: object
        inputFields:
          items:
            $ref: '#/components/schemas/InputFieldDefinition'
          type: array
        outputFields:
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
          type: array
        revisionId:
          type: string
        archivedAt:
          format: int64
          type: integer
        inputFieldDependencies:
          items:
            $ref: '#/components/schemas/PublicActionDefinition_inputFieldDependencies_inner'
          type: array
        executionRules:
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
          type: array
        id:
          type: string
        objectTypes:
          items:
            type: string
          type: array
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
      required:
      - actionUrl
      - functions
      - id
      - inputFields
      - labels
      - objectTypes
      - published
      - revisionId
      type: object
    PublicConditionalSingleFieldDependency:
      properties:
        dependencyType:
          default: CONDITIONAL_SINGLE_FIELD
          enum:
          - CONDITIONAL_SINGLE_FIELD
          type: string
        dependentFieldNames:
          items:
            type: string
          type: array
        controllingFieldName:
          type: string
        controllingFieldValue:
          type: string
      required:
      - controllingFieldName
      - controllingFieldValue
      - dependencyType
      - dependentFieldNames
      title: CONDITIONAL_SINGLE_FIELD
      type: object
    PublicObjectRequestOptions:
      example:
        properties:
        - properties
        - properties
      properties:
        properties:
          items:
            type: string
          type: array
      required:
      - properties
      type: object
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    PublicSingleFieldDependency:
      properties:
        dependencyType:
          default: SINGLE_FIELD
          enum:
          - SINGLE_FIELD
          type: string
        dependentFieldNames:
          items:
            type: string
          type: array
        controllingFieldName:
          type: string
      required:
      - controllingFieldName
      - dependencyType
      - dependentFieldNames
      title: SINGLE_FIELD
      type: object
    PublicActionLabels:
      example:
        inputFieldDescriptions:
          key: inputFieldDescriptions
        appDisplayName: appDisplayName
        outputFieldLabels:
          key: outputFieldLabels
        inputFieldOptionLabels:
          key:
            key: inputFieldOptionLabels
        actionDescription: actionDescription
        executionRules:
          key: executionRules
        inputFieldLabels:
          key: inputFieldLabels
        actionName: actionName
        actionCardContent: actionCardContent
      properties:
        inputFieldDescriptions:
          additionalProperties:
            type: string
          type: object
        appDisplayName:
          type: string
        outputFieldLabels:
          additionalProperties:
            type: string
          type: object
        inputFieldOptionLabels:
          additionalProperties:
            additionalProperties:
              type: string
            type: object
          type: object
        actionDescription:
          type: string
        executionRules:
          additionalProperties:
            type: string
          type: object
        inputFieldLabels:
          additionalProperties:
            type: string
          type: object
        actionName:
          type: string
        actionCardContent:
          type: string
      required:
      - actionName
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    FieldTypeDefinition:
      example:
        helpText: helpText
        referencedObjectType: CONTACT
        name: name
        options:
        - hidden: true
          displayOrder: 0
          doubleData: 6.027456183070403
          description: description
          readOnly: true
          label: label
          value: value
        - hidden: true
          displayOrder: 0
          doubleData: 6.027456183070403
          description: description
          readOnly: true
          label: label
          value: value
        description: description
        externalOptionsReferenceType: externalOptionsReferenceType
        label: label
        type: string
        fieldType: booleancheckbox
        optionsUrl: optionsUrl
        externalOptions: true
      properties:
        helpText:
          type: string
        referencedObjectType:
          enum:
          - CONTACT
          - COMPANY
          - DEAL
          - ENGAGEMENT
          - TICKET
          - OWNER
          - PRODUCT
          - LINE_ITEM
          - BET_DELIVERABLE_SERVICE
          - CONTENT
          - CONVERSATION
          - BET_ALERT
          - PORTAL
          - QUOTE
          - FORM_SUBMISSION_INBOUNDDB
          - QUOTA
          - UNSUBSCRIBE
          - COMMUNICATION
          - FEEDBACK_SUBMISSION
          - ATTRIBUTION
          - SALESFORCE_SYNC_ERROR
          - RESTORABLE_CRM_OBJECT
          - HUB
          - LANDING_PAGE
          - PRODUCT_OR_FOLDER
          - TASK
          - FORM
          - MARKETING_EMAIL
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AD
          - KEYWORD
          - CAMPAIGN
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SITE_PAGE
          - BLOG_POST
          - IMPORT
          - EXPORT
          - CTA
          - TASK_TEMPLATE
          - AUTOMATION_PLATFORM_FLOW
          - OBJECT_LIST
          - NOTE
          - MEETING_EVENT
          - CALL
          - EMAIL
          - PUBLISHING_TASK
          - CONVERSATION_SESSION
          - CONTACT_CREATE_ATTRIBUTION
          - INVOICE
          - MARKETING_EVENT
          - CONVERSATION_INBOX
          - CHATFLOW
          - MEDIA_BRIDGE
          - SEQUENCE
          - SEQUENCE_STEP
          - FORECAST
          - SNIPPET
          - TEMPLATE
          - DEAL_CREATE_ATTRIBUTION
          - QUOTE_TEMPLATE
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_FIELD
          - SEQUENCE_ENROLLMENT
          - SUBSCRIPTION
          - ACCEPTANCE_TEST
          - SOCIAL_BROADCAST
          - DEAL_SPLIT
          - DEAL_REGISTRATION
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - PORTAL_OBJECT_SYNC_MESSAGE
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - SEQUENCE_STEP_ENROLLMENT
          - APPROVAL
          - APPROVAL_STEP
          - CTA_VARIANT
          - SALES_DOCUMENT
          - DISCOUNT
          - FEE
          - TAX
          - MARKETING_CALENDAR
          - PERMISSIONS_TESTING
          - PRIVACY_SCANNER_COOKIE
          - DATA_SYNC_STATE
          - WEB_INTERACTIVE
          - PLAYBOOK
          - FOLDER
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - COMMERCE_PAYMENT
          - GSC_PROPERTY
          - SOX_PROTECTED_DUMMY_TYPE
          - BLOG_LISTING_PAGE
          - QUARANTINED_SUBMISSION
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - MARKETING_CAMPAIGN_UTM
          - DISCOUNT_TEMPLATE
          - DISCOUNT_CODE
          - FEEDBACK_SURVEY
          - CMS_URL
          - SALES_TASK
          - SALES_WORKLOAD
          - USER
          - POSTAL_MAIL
          - SCHEMAS_BACKEND_TEST
          - PAYMENT_LINK
          - SUBMISSION_TAG
          - CAMPAIGN_STEP
          - SCHEDULING_PAGE
          - SOX_PROTECTED_TEST_TYPE
          - ORDER
          - MARKETING_SMS
          - PARTNER_ACCOUNT
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - PLAYLIST
          - CLIP
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - MIC
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - PLAYLIST_FOLDER
          - LEAD
          - ABANDONED_CART
          - EXTERNAL_WEB_URL
          - VIEW
          - VIEW_BLOCK
          - ROSTER
          - CART
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - SOCIAL_PROFILE
          - PARTNER_CLIENT
          - ROSTER_MEMBER
          - MARKETING_EVENT_ATTENDANCE
          - ALL_PAGES
          - AI_FORECAST
          - CRM_PIPELINES_DUMMY_TYPE
          - KNOWLEDGE_ARTICLE
          - PROPERTY_INFO
          - DATA_PRIVACY_CONSENT
          - GOAL_TEMPLATE
          - SCORE_CONFIGURATION
          - AUDIENCE
          - PARTNER_CLIENT_REVENUE
          - AUTOMATION_JOURNEY
          - UNKNOWN
          type: string
        name:
          type: string
        options:
          items:
            $ref: '#/components/schemas/Option'
          type: array
        description:
          type: string
        externalOptionsReferenceType:
          type: string
        label:
          type: string
        type:
          enum:
          - string
          - number
          - bool
          - datetime
          - enumeration
          - date
          - phone_number
          - currency_number
          - json
          - object_coordinates
          type: string
        fieldType:
          enum:
          - booleancheckbox
          - checkbox
          - date
          - file
          - number
          - phonenumber
          - radio
          - select
          - text
          - textarea
          - calculation_equation
          - calculation_rollup
          - calculation_score
          - calculation_read_time
          - unknown
          - html
          type: string
        optionsUrl:
          type: string
        externalOptions:
          type: boolean
      required:
      - externalOptions
      - name
      - options
      - type
      type: object
    InputFieldDefinition:
      example:
        isRequired: true
        automationFieldType: automationFieldType
        typeDefinition:
          helpText: helpText
          referencedObjectType: CONTACT
          name: name
          options:
          - hidden: true
            displayOrder: 0
            doubleData: 6.027456183070403
            description: description
            readOnly: true
            label: label
            value: value
          - hidden: true
            displayOrder: 0
            doubleData: 6.027456183070403
            description: description
            readOnly: true
            label: label
            value: value
          description: description
          externalOptionsReferenceType: externalOptionsReferenceType
          label: label
          type: string
          fieldType: booleancheckbox
          optionsUrl: optionsUrl
          externalOptions: true
        supportedValueTypes:
        - STATIC_VALUE
        - STATIC_VALUE
      properties:
        isRequired:
          type: boolean
        automationFieldType:
          type: string
        typeDefinition:
          $ref: '#/components/schemas/FieldTypeDefinition'
        supportedValueTypes:
          items:
            enum:
            - STATIC_VALUE
            - OBJECT_PROPERTY
            - FIELD_DATA
            - FETCHED_OBJECT_PROPERTY
            - ENROLLMENT_EVENT_PROPERTY
            type: string
          type: array
      required:
      - isRequired
      - typeDefinition
      type: object
    CollectionResponsePublicActionFunctionIdentifierNoPaging:
      example:
        results:
        - functionType: PRE_ACTION_EXECUTION
          id: id
        - functionType: PRE_ACTION_EXECUTION
          id: id
      properties:
        results:
          items:
            $ref: '#/components/schemas/PublicActionFunctionIdentifier'
          type: array
      required:
      - results
      type: object
    PublicExecutionTranslationRule:
      example:
        labelName: labelName
        conditions:
          key: "{}"
      properties:
        labelName:
          type: string
        conditions:
          additionalProperties:
            properties: {}
            type: object
          type: object
      required:
      - conditions
      - labelName
      type: object
    PublicActionFunctionIdentifier:
      example:
        functionType: PRE_ACTION_EXECUTION
        id: id
      properties:
        functionType:
          enum:
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
          - POST_FETCH_OPTIONS
          - POST_ACTION_EXECUTION
          type: string
        id:
          type: string
      required:
      - functionType
      type: object
    PublicActionRevision:
      example:
        revisionId: revisionId
        createdAt: 2000-01-23T04:56:07.000+00:00
        definition:
          functions:
          - functionType: PRE_ACTION_EXECUTION
            id: id
          - functionType: PRE_ACTION_EXECUTION
            id: id
          actionUrl: actionUrl
          published: true
          labels:
            key:
              inputFieldDescriptions:
                key: inputFieldDescriptions
              appDisplayName: appDisplayName
              outputFieldLabels:
                key: outputFieldLabels
              inputFieldOptionLabels:
                key:
                  key: inputFieldOptionLabels
              actionDescription: actionDescription
              executionRules:
                key: executionRules
              inputFieldLabels:
                key: inputFieldLabels
              actionName: actionName
              actionCardContent: actionCardContent
          inputFields:
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          outputFields:
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
          revisionId: revisionId
          archivedAt: 1
          inputFieldDependencies:
          - null
          - null
          executionRules:
          - labelName: labelName
            conditions:
              key: "{}"
          - labelName: labelName
            conditions:
              key: "{}"
          id: id
          objectTypes:
          - objectTypes
          - objectTypes
          objectRequestOptions:
            properties:
            - properties
            - properties
        id: id
      properties:
        revisionId:
          type: string
        createdAt:
          format: date-time
          type: string
        definition:
          $ref: '#/components/schemas/PublicActionDefinition'
        id:
          type: string
      required:
      - createdAt
      - definition
      - id
      - revisionId
      type: object
    CallbackCompletionRequest:
      example:
        outputFields:
          key: outputFields
      properties:
        outputFields:
          additionalProperties:
            type: string
          type: object
      required:
      - outputFields
      type: object
    CollectionResponsePublicActionDefinitionForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - functions:
          - functionType: PRE_ACTION_EXECUTION
            id: id
          - functionType: PRE_ACTION_EXECUTION
            id: id
          actionUrl: actionUrl
          published: true
          labels:
            key:
              inputFieldDescriptions:
                key: inputFieldDescriptions
              appDisplayName: appDisplayName
              outputFieldLabels:
                key: outputFieldLabels
              inputFieldOptionLabels:
                key:
                  key: inputFieldOptionLabels
              actionDescription: actionDescription
              executionRules:
                key: executionRules
              inputFieldLabels:
                key: inputFieldLabels
              actionName: actionName
              actionCardContent: actionCardContent
          inputFields:
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          outputFields:
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
          revisionId: revisionId
          archivedAt: 1
          inputFieldDependencies:
          - null
          - null
          executionRules:
          - labelName: labelName
            conditions:
              key: "{}"
          - labelName: labelName
            conditions:
              key: "{}"
          id: id
          objectTypes:
          - objectTypes
          - objectTypes
          objectRequestOptions:
            properties:
            - properties
            - properties
        - functions:
          - functionType: PRE_ACTION_EXECUTION
            id: id
          - functionType: PRE_ACTION_EXECUTION
            id: id
          actionUrl: actionUrl
          published: true
          labels:
            key:
              inputFieldDescriptions:
                key: inputFieldDescriptions
              appDisplayName: appDisplayName
              outputFieldLabels:
                key: outputFieldLabels
              inputFieldOptionLabels:
                key:
                  key: inputFieldOptionLabels
              actionDescription: actionDescription
              executionRules:
                key: executionRules
              inputFieldLabels:
                key: inputFieldLabels
              actionName: actionName
              actionCardContent: actionCardContent
          inputFields:
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          - isRequired: true
            automationFieldType: automationFieldType
            typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
            supportedValueTypes:
            - STATIC_VALUE
            - STATIC_VALUE
          outputFields:
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
          - typeDefinition:
              helpText: helpText
              referencedObjectType: CONTACT
              name: name
              options:
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              - hidden: true
                displayOrder: 0
                doubleData: 6.027456183070403
                description: description
                readOnly: true
                label: label
                value: value
              description: description
              externalOptionsReferenceType: externalOptionsReferenceType
              label: label
              type: string
              fieldType: booleancheckbox
              optionsUrl: optionsUrl
              externalOptions: true
          revisionId: revisionId
          archivedAt: 1
          inputFieldDependencies:
          - null
          - null
          executionRules:
          - labelName: labelName
            conditions:
              key: "{}"
          - labelName: labelName
            conditions:
              key: "{}"
          id: id
          objectTypes:
          - objectTypes
          - objectTypes
          objectRequestOptions:
            properties:
            - properties
            - properties
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicActionDefinition'
          type: array
      required:
      - results
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    CollectionResponsePublicActionRevisionForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - revisionId: revisionId
          createdAt: 2000-01-23T04:56:07.000+00:00
          definition:
            functions:
            - functionType: PRE_ACTION_EXECUTION
              id: id
            - functionType: PRE_ACTION_EXECUTION
              id: id
            actionUrl: actionUrl
            published: true
            labels:
              key:
                inputFieldDescriptions:
                  key: inputFieldDescriptions
                appDisplayName: appDisplayName
                outputFieldLabels:
                  key: outputFieldLabels
                inputFieldOptionLabels:
                  key:
                    key: inputFieldOptionLabels
                actionDescription: actionDescription
                executionRules:
                  key: executionRules
                inputFieldLabels:
                  key: inputFieldLabels
                actionName: actionName
                actionCardContent: actionCardContent
            inputFields:
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            outputFields:
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
            revisionId: revisionId
            archivedAt: 1
            inputFieldDependencies:
            - null
            - null
            executionRules:
            - labelName: labelName
              conditions:
                key: "{}"
            - labelName: labelName
              conditions:
                key: "{}"
            id: id
            objectTypes:
            - objectTypes
            - objectTypes
            objectRequestOptions:
              properties:
              - properties
              - properties
          id: id
        - revisionId: revisionId
          createdAt: 2000-01-23T04:56:07.000+00:00
          definition:
            functions:
            - functionType: PRE_ACTION_EXECUTION
              id: id
            - functionType: PRE_ACTION_EXECUTION
              id: id
            actionUrl: actionUrl
            published: true
            labels:
              key:
                inputFieldDescriptions:
                  key: inputFieldDescriptions
                appDisplayName: appDisplayName
                outputFieldLabels:
                  key: outputFieldLabels
                inputFieldOptionLabels:
                  key:
                    key: inputFieldOptionLabels
                actionDescription: actionDescription
                executionRules:
                  key: executionRules
                inputFieldLabels:
                  key: inputFieldLabels
                actionName: actionName
                actionCardContent: actionCardContent
            inputFields:
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            - isRequired: true
              automationFieldType: automationFieldType
              typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
              supportedValueTypes:
              - STATIC_VALUE
              - STATIC_VALUE
            outputFields:
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
            - typeDefinition:
                helpText: helpText
                referencedObjectType: CONTACT
                name: name
                options:
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                - hidden: true
                  displayOrder: 0
                  doubleData: 6.027456183070403
                  description: description
                  readOnly: true
                  label: label
                  value: value
                description: description
                externalOptionsReferenceType: externalOptionsReferenceType
                label: label
                type: string
                fieldType: booleancheckbox
                optionsUrl: optionsUrl
                externalOptions: true
            revisionId: revisionId
            archivedAt: 1
            inputFieldDependencies:
            - null
            - null
            executionRules:
            - labelName: labelName
              conditions:
                key: "{}"
            - labelName: labelName
              conditions:
                key: "{}"
            id: id
            objectTypes:
            - objectTypes
            - objectTypes
            objectRequestOptions:
              properties:
              - properties
              - properties
          id: id
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/PublicActionRevision'
          type: array
      required:
      - results
      type: object
    CallbackCompletionBatchRequest:
      example:
        outputFields:
          key: outputFields
        callbackId: callbackId
      properties:
        outputFields:
          additionalProperties:
            type: string
          type: object
        callbackId:
          type: string
      required:
      - callbackId
      - outputFields
      type: object
    PublicActionDefinitionEgg:
      example:
        inputFields:
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        outputFields:
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
        archivedAt: 0
        functions:
        - functionSource: functionSource
          functionType: PRE_ACTION_EXECUTION
          id: id
        - functionSource: functionSource
          functionType: PRE_ACTION_EXECUTION
          id: id
        actionUrl: actionUrl
        inputFieldDependencies:
        - null
        - null
        published: true
        executionRules:
        - labelName: labelName
          conditions:
            key: "{}"
        - labelName: labelName
          conditions:
            key: "{}"
        objectTypes:
        - objectTypes
        - objectTypes
        objectRequestOptions:
          properties:
          - properties
          - properties
        labels:
          key:
            inputFieldDescriptions:
              key: inputFieldDescriptions
            appDisplayName: appDisplayName
            outputFieldLabels:
              key: outputFieldLabels
            inputFieldOptionLabels:
              key:
                key: inputFieldOptionLabels
            actionDescription: actionDescription
            executionRules:
              key: executionRules
            inputFieldLabels:
              key: inputFieldLabels
            actionName: actionName
            actionCardContent: actionCardContent
      properties:
        inputFields:
          items:
            $ref: '#/components/schemas/InputFieldDefinition'
          type: array
        outputFields:
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
          type: array
        archivedAt:
          format: int64
          type: integer
        functions:
          items:
            $ref: '#/components/schemas/PublicActionFunction'
          type: array
        actionUrl:
          type: string
        inputFieldDependencies:
          items:
            $ref: '#/components/schemas/PublicActionDefinition_inputFieldDependencies_inner'
          type: array
        published:
          type: boolean
        executionRules:
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
          type: array
        objectTypes:
          items:
            type: string
          type: array
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        labels:
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          type: object
      required:
      - actionUrl
      - functions
      - inputFields
      - labels
      - objectTypes
      - published
      type: object
    PublicActionDefinitionPatch:
      example:
        inputFields:
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        - isRequired: true
          automationFieldType: automationFieldType
          typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
          supportedValueTypes:
          - STATIC_VALUE
          - STATIC_VALUE
        outputFields:
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
        - typeDefinition:
            helpText: helpText
            referencedObjectType: CONTACT
            name: name
            options:
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            - hidden: true
              displayOrder: 0
              doubleData: 6.027456183070403
              description: description
              readOnly: true
              label: label
              value: value
            description: description
            externalOptionsReferenceType: externalOptionsReferenceType
            label: label
            type: string
            fieldType: booleancheckbox
            optionsUrl: optionsUrl
            externalOptions: true
        actionUrl: actionUrl
        inputFieldDependencies:
        - null
        - null
        published: true
        executionRules:
        - labelName: labelName
          conditions:
            key: "{}"
        - labelName: labelName
          conditions:
            key: "{}"
        objectTypes:
        - objectTypes
        - objectTypes
        objectRequestOptions:
          properties:
          - properties
          - properties
        labels:
          key:
            inputFieldDescriptions:
              key: inputFieldDescriptions
            appDisplayName: appDisplayName
            outputFieldLabels:
              key: outputFieldLabels
            inputFieldOptionLabels:
              key:
                key: inputFieldOptionLabels
            actionDescription: actionDescription
            executionRules:
              key: executionRules
            inputFieldLabels:
              key: inputFieldLabels
            actionName: actionName
            actionCardContent: actionCardContent
      properties:
        inputFields:
          items:
            $ref: '#/components/schemas/InputFieldDefinition'
          type: array
        outputFields:
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
          type: array
        actionUrl:
          type: string
        inputFieldDependencies:
          items:
            $ref: '#/components/schemas/PublicActionDefinition_inputFieldDependencies_inner'
          type: array
        published:
          type: boolean
        executionRules:
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
          type: array
        objectTypes:
          items:
            type: string
          type: array
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        labels:
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          type: object
      type: object
    BatchInputCallbackCompletionBatchRequest:
      example:
        inputs:
        - outputFields:
            key: outputFields
          callbackId: callbackId
        - outputFields:
            key: outputFields
          callbackId: callbackId
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/CallbackCompletionBatchRequest'
          type: array
      required:
      - inputs
      type: object
    Option:
      example:
        hidden: true
        displayOrder: 0
        doubleData: 6.027456183070403
        description: description
        readOnly: true
        label: label
        value: value
      properties:
        hidden:
          type: boolean
        displayOrder:
          format: int32
          type: integer
        doubleData:
          type: number
        description:
          type: string
        readOnly:
          type: boolean
        label:
          type: string
        value:
          type: string
      required:
      - description
      - displayOrder
      - doubleData
      - hidden
      - label
      - readOnly
      - value
      type: object
    OutputFieldDefinition:
      example:
        typeDefinition:
          helpText: helpText
          referencedObjectType: CONTACT
          name: name
          options:
          - hidden: true
            displayOrder: 0
            doubleData: 6.027456183070403
            description: description
            readOnly: true
            label: label
            value: value
          - hidden: true
            displayOrder: 0
            doubleData: 6.027456183070403
            description: description
            readOnly: true
            label: label
            value: value
          description: description
          externalOptionsReferenceType: externalOptionsReferenceType
          label: label
          type: string
          fieldType: booleancheckbox
          optionsUrl: optionsUrl
          externalOptions: true
      properties:
        typeDefinition:
          $ref: '#/components/schemas/FieldTypeDefinition'
      required:
      - typeDefinition
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        link:
          type: string
        after:
          type: string
      required:
      - after
      type: object
    PublicActionDefinition_inputFieldDependencies_inner:
      oneOf:
      - $ref: '#/components/schemas/PublicSingleFieldDependency'
      - $ref: '#/components/schemas/PublicConditionalSingleFieldDependency'
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            automation: Read from and write to my Workflows
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: PROFESSIONAL
  service: PROFESSIONAL
x-hubspot-documentation-banner: NONE
