openapi: 3.0.1
info:
  description: URL redirect operations
  title: URL redirects
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Redirects
paths:
  /cms/v3/url-redirects/:
    get:
      description: Returns all existing URL redirects. Results can be limited and
        filtered by creation or updated date.
      operationId: GetPage
      parameters:
      - description: Only return redirects created on exactly this date.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return redirects created after this date.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return redirects created before this date.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return redirects last updated on exactly this date.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return redirects last updated after this date.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return redirects last updated before this date.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of result per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total: 2
                results:
                - id: "3212223134"
                  createdAt: 2017-07-24T17:24:09.141Z
                  updatedAt: 2017-07-24T17:24:09.141Z
                  routePrefix: http://test.hs-sites.com/(?P<page_slug>.*)
                  destination: "http://www.example.online/{page_slug}"
                  redirectStyle: 301
                  isOnlyAfterNotFound: true
                  isMatchFullUrl: true
                  isMatchQueryString: false
                  isPattern: false
                  isTrailingSlashOptional: true
                  isProtocolAgnostic: true
                  precedence: 3
                - id: "3212242073"
                  createdAt: 2017-07-25T15:42:06.410Z
                  updatedAt: 2017-07-25T15:42:06.410Z
                  routePrefix: /mytest/(?P<page_slug>.*)
                  destination: "/newtest/{page_slug}"
                  redirectStyle: 301
                  isOnlyAfterNotFound: true
                  isMatchFullUrl: true
                  isMatchQueryString: false
                  isPattern: false
                  isTrailingSlashOptional: true
                  isProtocolAgnostic: true
                  precedence: 999999993
                paging:
                  next:
                    after: Mg%3D%3D
                    link: https://api.hubspot.com/cms/v3/url-redirects?after=Mg%3D%3D
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalUrlMappingForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Get current redirects
      tags:
      - Redirects
    post:
      description: Creates and configures a new URL redirect.
      operationId: Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlMappingCreateRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlMapping'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Create a redirect
      tags:
      - Redirects
  /cms/v3/url-redirects/{urlRedirectId}:
    delete:
      description: "Delete one existing redirect, so it is no longer mapped."
      operationId: Archive
      parameters:
      - description: The ID of the target redirect.
        explode: false
        in: path
        name: urlRedirectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: Delete succeeded
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Delete a redirect
      tags:
      - Redirects
    get:
      description: Returns the details for a single existing URL redirect by ID.
      operationId: GetByID
      parameters:
      - description: The ID of the target redirect.
        explode: false
        in: path
        name: urlRedirectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: "3212223134"
                createdAt: 2017-07-24T17:24:09.141Z
                updatedAt: 2017-07-24T17:24:09.141Z
                routePrefix: http://test.hs-sites.com/(?P<page_slug>.*)
                destination: "http://www.example.online/{page_slug}"
                isOnlyAfterNotFound: true
                isMatchFullUrl: true
                isMatchQueryString: false
                isPattern: false
                isTrailingSlashOptional: true
                isProtocolAgnostic: true
              schema:
                $ref: '#/components/schemas/UrlMapping'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Get details for a redirect
      tags:
      - Redirects
    patch:
      description: Updates the settings for an existing URL redirect.
      operationId: Update
      parameters:
      - explode: false
        in: path
        name: urlRedirectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlMapping'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlMapping'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - content
      summary: Update a redirect
      tags:
      - Redirects
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    UrlMapping:
      example:
        isTrailingSlashOptional: true
        redirectStyle: 6
        isMatchQueryString: true
        created: 2000-01-23T04:56:07.000+00:00
        isMatchFullUrl: true
        destination: destination
        isOnlyAfterNotFound: true
        isPattern: true
        precedence: 1
        routePrefix: routePrefix
        isProtocolAgnostic: true
        id: id
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: The unique ID of this URL redirect.
          type: string
        routePrefix:
          description: "The target incoming URL, path, or pattern to match for redirection."
          type: string
        destination:
          description: "The destination URL, where the target URL should be redirected\
            \ if it matches the `routePrefix`."
          type: string
        redirectStyle:
          description: "The type of redirect to create. Options include: 301 (permanent),\
            \ 302 (temporary), or 305 (proxy). Find more details [here](https://knowledge.hubspot.com/cos-general/how-to-redirect-a-hubspot-page)."
          format: int32
          type: integer
        isOnlyAfterNotFound:
          description: "Whether the URL redirect mapping should apply only if a live\
            \ page on the URL isn't found. If False, the URL redirect mapping will\
            \ take precedence over any existing page."
          type: boolean
        isMatchFullUrl:
          description: "Whether the `routePrefix` should match on the entire URL,\
            \ including the domain."
          type: boolean
        isMatchQueryString:
          description: "Whether the `routePrefix` should match on the entire URL path,\
            \ including the query string."
          type: boolean
        isPattern:
          description: Whether the `routePrefix` should match based on pattern.
          type: boolean
        isTrailingSlashOptional:
          description: Whether a trailing slash will be ignored.
          type: boolean
        isProtocolAgnostic:
          description: Whether the `routePrefix` should match both HTTP and HTTPS
            protocols.
          type: boolean
        precedence:
          description: "Used to prioritize URL redirection. If a given URL matches\
            \ more than one redirect, the one with the **lower** precedence will be\
            \ used."
          format: int32
          type: integer
        created:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
      required:
      - destination
      - id
      - isMatchFullUrl
      - isMatchQueryString
      - isOnlyAfterNotFound
      - isPattern
      - isProtocolAgnostic
      - isTrailingSlashOptional
      - precedence
      - redirectStyle
      - routePrefix
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    UrlMappingCreateRequestBody:
      example:
        isTrailingSlashOptional: true
        isMatchQueryString: true
        redirectStyle: 6
        routePrefix: routePrefix
        isMatchFullUrl: true
        isProtocolAgnostic: true
        destination: destination
        isOnlyAfterNotFound: true
        isPattern: true
        precedence: 0
      properties:
        precedence:
          format: int32
          type: integer
        isOnlyAfterNotFound:
          type: boolean
        isMatchFullUrl:
          type: boolean
        isMatchQueryString:
          type: boolean
        isPattern:
          type: boolean
        isTrailingSlashOptional:
          type: boolean
        isProtocolAgnostic:
          type: boolean
        routePrefix:
          type: string
        destination:
          type: string
        redirectStyle:
          format: int32
          type: integer
      required:
      - destination
      - redirectStyle
      - routePrefix
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
    CollectionResponseWithTotalUrlMappingForwardPaging:
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
        results:
        - isTrailingSlashOptional: true
          redirectStyle: 6
          isMatchQueryString: true
          created: 2000-01-23T04:56:07.000+00:00
          isMatchFullUrl: true
          destination: destination
          isOnlyAfterNotFound: true
          isPattern: true
          precedence: 1
          routePrefix: routePrefix
          isProtocolAgnostic: true
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
        - isTrailingSlashOptional: true
          redirectStyle: 6
          isMatchQueryString: true
          created: 2000-01-23T04:56:07.000+00:00
          isMatchFullUrl: true
          destination: destination
          isOnlyAfterNotFound: true
          isPattern: true
          precedence: 1
          routePrefix: routePrefix
          isProtocolAgnostic: true
          id: id
          updated: 2000-01-23T04:56:07.000+00:00
      properties:
        total:
          format: int32
          type: integer
        results:
          items:
            $ref: '#/components/schemas/UrlMapping'
          type: array
        paging:
          $ref: '#/components/schemas/ForwardPaging'
      required:
      - results
      - total
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            content: Read from and write to my Content
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
