openapi: 3.0.1
info:
  description: "This feature allows an app to create and configure custom events that\
    \ can show up in the timelines of certain CRM objects like contacts, companies,\
    \ tickets, or deals. You'll find multiple use cases for this API in the sections\
    \ below."
  title: Timeline events
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- description: Definitions and configuration for timeline events.
  name: Templates
- description: Specific tokens that map to CRM properties and can be used by timeline
    events. This is how you can use property stamping to create full CRM objects.
  name: Tokens
- description: Events shown on a CRM object's timeline.
  name: Events
paths:
  /crm/v3/timeline/events:
    post:
      description: "Creates an instance of a timeline event based on an event template.\
        \ Once created, this event is immutable on the object timeline and cannot\
        \ be modified. If the event template was configured to update object properties\
        \ via `objectPropertyName`, this call will also attempt to updates those properties,\
        \ or add them if they don't exist."
      operationId: Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineEvent'
        description: The timeline event definition.
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                objectType: contacts
                id: petspot:1001298:art3mis-pup@petspot.com-004
                eventTemplateId: "1001298"
                email: art3mis-pup@petspot.com
                objectId: "28001"
                timestamp: 2020-01-30T17:42:10.276Z
                tokens:
                  petName: Art3mis
                  petColor: black
                  petAge: "3"
                extraData:
                  questions:
                  - question: Who's a good girl?
                    answer: Bark!
                  - question: Do you wanna go on a walk?
                    answer: Woof!
                timelineIFrame:
                  linkLabel: View Art3mis
                  headerLabel: Art3mis dog
                  url: https://my.petspot.com/pets/Art3mis
                  width: 600
                  height: 400
              schema:
                $ref: '#/components/schemas/TimelineEventResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.schemas.deals.write
      - private_apps_legacy:
        - timeline
      - oauth2:
        - crm.schemas.contacts.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - private_apps:
        - crm.schemas.companies.write
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - timeline
      - private_apps:
        - crm.objects.companies.write
      - private_apps:
        - crm.schemas.deals.write
      - oauth2:
        - crm.objects.companies.write
      summary: Create a single event
      tags:
      - Events
  /crm/v3/timeline/events/batch/create:
    post:
      description: "Creates multiple instances of timeline events based on an event\
        \ template. Once created, these event are immutable on the object timeline\
        \ and cannot be modified. If the event template was configured to update object\
        \ properties via `objectPropertyName`, this call will also attempt to updates\
        \ those properties, or add them if they don't exist."
      operationId: BatchCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputTimelineEvent'
        description: The timeline event definition.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTimelineEventResponse'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTimelineEventResponseWithErrors'
          description: multiple statuses
        "200":
          content:
            application/json:
              example:
                results:
                - objectType: contacts
                  id: petspot:1001298:art3mis-pup@petspot.com-b9d73144-41bb-46c8-9a3f-f0849c1ad7e6
                  eventTemplateId: "1001298"
                  email: art3mis-pup@petspot.com
                  objectId: "28001"
                  timestamp: 2020-01-30T18:10:17.057Z
                  tokens:
                    petName: Art3mis
                    petColor: black
                    petAge: "3"
                  extraData:
                    questions:
                    - question: Who's a good girl?
                      answer: Bark!
                    - question: Do you wanna go on a walk?
                      answer: Woof!
                  timelineIFrame:
                    linkLabel: View Art3mis
                    headerLabel: Art3mis dog
                    url: https://my.petspot.com/pets/Art3mis
                    width: 600
                    height: 400
                - objectType: contacts
                  id: petspot:1001298:pocket-tiger@petspot.com-c09a620f-60a4-46a8-be9f-fe0609fc3f0e
                  eventTemplateId: "1001298"
                  email: pocket-tiger@petspot.com
                  objectId: "28651"
                  timestamp: 2020-01-30T18:10:17.057Z
                  tokens:
                    petName: Pocket
                    petColor: yellow
                    petAge: "3"
                  extraData:
                    questions:
                    - question: Who's a good kitty?
                      answer: Purr...
                    - question: Will you stop playing with that?
                      answer: Meow!
                  timelineIFrame:
                    linkLabel: View Pocket
                    headerLabel: Pocket Tiger
                    url: https://my.petspot.com/pets/Pocket
                    width: 600
                    height: 400
                status: COMPLETE
                startedAt: 2020-01-30T18:10:16.478734Z
                completedAt: 2020-01-30T18:10:17.793206Z
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.schemas.deals.write
      - private_apps_legacy:
        - timeline
      - oauth2:
        - crm.schemas.contacts.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.schemas.companies.write
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.schemas.contacts.write
      - private_apps:
        - crm.schemas.companies.write
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - timeline
      - private_apps:
        - crm.objects.companies.write
      - private_apps:
        - crm.schemas.deals.write
      - oauth2:
        - crm.objects.companies.write
      summary: Creates multiple events
      tags:
      - Events
  /crm/v3/timeline/events/{eventTemplateId}/{eventId}:
    get:
      description: "This returns the previously created event. It contains all existing\
        \ info for the event, but not necessarily the CRM object."
      operationId: GetByID
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The event ID.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineEventResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.schemas.contacts.read
      - private_apps:
        - crm.schemas.contacts.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps_legacy:
        - timeline
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.schemas.companies.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps_legacy:
        - tickets
      - private_apps:
        - crm.schemas.deals.read
      - oauth2:
        - crm.schemas.deals.read
      - oauth2_legacy:
        - timeline
      summary: Gets the event
      tags:
      - Events
  /crm/v3/timeline/events/{eventTemplateId}/{eventId}/detail:
    get:
      description: "This will take the `detailTemplate` from the event template and\
        \ return an object rendering the specified event. If the template references\
        \ `extraData` that isn't found in the event, it will be ignored and we'll\
        \ render without it."
      operationId: GetDetailByID
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The event ID.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.schemas.contacts.read
      - private_apps:
        - crm.schemas.contacts.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps_legacy:
        - timeline
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.schemas.companies.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps_legacy:
        - tickets
      - private_apps:
        - crm.schemas.deals.read
      - oauth2:
        - crm.schemas.deals.read
      - oauth2_legacy:
        - timeline
      summary: Gets the detailTemplate as rendered
      tags:
      - Events
  /crm/v3/timeline/events/{eventTemplateId}/{eventId}/render:
    get:
      description: "This will take either the `headerTemplate` or `detailTemplate`\
        \ from the event template and render for the specified event as HTML. If the\
        \ template references `extraData` that isn't found in the event, it will be\
        \ ignored and we'll render without it."
      operationId: GetRenderByID
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The event ID.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      - description: "Set to 'true', we want to render the `detailTemplate` instead\
          \ of the `headerTemplate`."
        explode: true
        in: query
        name: detail
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - oauth2:
        - crm.schemas.contacts.read
      - private_apps:
        - crm.schemas.contacts.read
      - oauth2_legacy:
        - tickets
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps_legacy:
        - timeline
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps:
        - crm.schemas.companies.read
      - oauth2:
        - crm.schemas.companies.read
      - private_apps_legacy:
        - tickets
      - private_apps:
        - crm.schemas.deals.read
      - oauth2:
        - crm.schemas.deals.read
      - oauth2_legacy:
        - timeline
      summary: Renders the header or detail as HTML
      tags:
      - Events
  /crm/v3/timeline/{appId}/event-templates:
    get:
      description: Use this to list all event templates owned by your app.
      operationId: TemplateGetAll
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                results:
                - id: "15758"
                  objectType: companies
                  name: company test
                  headerTemplate: abcde
                  tokens: []
                - id: "1000151"
                  objectType: deals
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  name: deal test
                  headerTemplate: deal
                  detailTemplate: "Deal occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
                    \ntest"
                  tokens:
                  - name: test
                    type: string
                    createdAt: 2020-02-12T20:58:26Z
                    updatedAt: 2020-02-12T20:58:26Z
                    label: test
                    objectPropertyName: test
                    options: []
                - id: "1001298"
                  objectType: contacts
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  name: PetSpot Registration
                  headerTemplate: "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})"
                  detailTemplate: "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
                    \n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**:\
                    \ {{answer}}\n{{/each}}\n\nEDIT"
                  tokens:
                  - name: petAge
                    type: number
                    createdAt: 2020-02-12T20:58:26Z
                    updatedAt: 2020-02-12T20:58:26Z
                    label: Pet Age
                    options: []
                  - name: petColor
                    type: enumeration
                    createdAt: 2020-02-12T20:58:26Z
                    updatedAt: 2020-02-12T20:58:26Z
                    label: Pet Color
                    options:
                    - value: black
                      label: Black
                    - value: brown
                      label: Brown
                    - value: other
                      label: Other
                    - value: white
                      label: White
                    - value: yellow
                      label: Yellow
                  - name: petName
                    type: string
                    createdAt: 2020-02-12T20:58:26Z
                    updatedAt: 2020-02-12T20:58:26Z
                    label: Pet Name
                    options: []
              schema:
                $ref: '#/components/schemas/CollectionResponseTimelineEventTemplateNoPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: List all event templates for your app
      tags:
      - Templates
    post:
      description: "Event templates define the general structure for a custom timeline\
        \ event. This includes formatted copy for its heading and details, as well\
        \ as any custom property definitions. The event could be something like viewing\
        \ a video, registering for a webinar, or filling out a survey. A single app\
        \ can define multiple event templates.\n\nEvent templates will be created\
        \ for contacts by default, but they can be created for companies, tickets,\
        \ and deals as well.\n\nEach event template contains its own set of tokens\
        \ and `Markdown` templates. These tokens can be associated with any CRM object\
        \ properties via the `objectPropertyName` field to fully build out CRM objects.\n\
        \nYou must create an event template before you can create events."
      operationId: TemplateCreate
      parameters:
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineEventTemplateCreateRequest'
        description: The new event template definition.
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: "1001298"
                objectType: contacts
                createdAt: 2020-02-12T20:58:26Z
                updatedAt: 2020-02-12T20:58:26Z
                name: PetSpot Registration
                headerTemplate: "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})"
                detailTemplate: "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
                  \n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**:\
                  \ {{answer}}\n{{/each}}"
                tokens:
                - name: petName
                  type: string
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Name
                  options: []
                - name: petAge
                  type: number
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Age
                  options: []
                - name: petColor
                  type: enumeration
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Color
                  options:
                  - value: white
                    label: White
                  - value: black
                    label: Black
                  - value: brown
                    label: Brown
                  - value: other
                    label: Other
              schema:
                $ref: '#/components/schemas/TimelineEventTemplate'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Create an event template for your app
      tags:
      - Templates
  /crm/v3/timeline/{appId}/event-templates/{eventTemplateId}:
    delete:
      description: "This will delete the event template. All associated events will\
        \ be removed from search results and the timeline UI.\n\nThis action can't\
        \ be undone, so it's highly recommended that you stop using any associated\
        \ events before deleting a template."
      operationId: TemplatesArchive
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Deletes an event template for the app
      tags:
      - Templates
    get:
      description: View the current state of a specific template and its tokens.
      operationId: TemplatesGetByID
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: "1001298"
                objectType: contacts
                createdAt: 2020-02-12T20:58:26Z
                updatedAt: 2020-02-12T20:58:26Z
                name: PetSpot Registration
                headerTemplate: "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})"
                detailTemplate: "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
                  \n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**:\
                  \ {{answer}}\n{{/each}}\n\nEDIT"
                tokens:
                - name: petAge
                  type: number
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Age
                  options: []
                - name: petColor
                  type: enumeration
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Color
                  options:
                  - value: black
                    label: Black
                  - value: brown
                    label: Brown
                  - value: other
                    label: Other
                  - value: white
                    label: White
                  - value: yellow
                    label: Yellow
                - name: petName
                  type: string
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Name
                  options: []
              schema:
                $ref: '#/components/schemas/TimelineEventTemplate'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Gets a specific event template for your app
      tags:
      - Templates
    put:
      description: "Updates an existing template and its tokens. This is primarily\
        \ used to update the headerTemplate/detailTemplate, and those changes will\
        \ take effect for existing events.\n\nYou can also update or replace all the\
        \ tokens in the template here instead of doing individual API calls on the\
        \ `/tokens` endpoint."
      operationId: TemplatesUpdate
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineEventTemplateUpdateRequest'
        description: The updated event template definition.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: "1001298"
                objectType: contacts
                createdAt: 2020-02-12T20:58:26Z
                updatedAt: 2020-02-12T20:58:26Z
                name: PetSpot Registration
                headerTemplate: "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})"
                detailTemplate: "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
                  \n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**:\
                  \ {{answer}}\n{{/each}}\n\nEDIT"
                tokens:
                - name: petAge
                  type: number
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Age
                  options: []
                - name: petColor
                  type: enumeration
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Color
                  options:
                  - value: white
                    label: White
                  - value: black
                    label: Black
                  - value: brown
                    label: Brown
                  - value: yellow
                    label: Yellow
                  - value: other
                    label: Other
                - name: petName
                  type: string
                  createdAt: 2020-02-12T20:58:26Z
                  updatedAt: 2020-02-12T20:58:26Z
                  label: Pet Name
                  objectPropertyName: firstname
                  options: []
              schema:
                $ref: '#/components/schemas/TimelineEventTemplate'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Update an existing event template
      tags:
      - Templates
  /crm/v3/timeline/{appId}/event-templates/{eventTemplateId}/tokens:
    post:
      description: "Once you've defined an event template, it's likely that you'll\
        \ want to define tokens for it as well. You can do this on the event template\
        \ itself or update individual tokens here.\n\nEvent type tokens allow you\
        \ to attach custom data to events displayed in a timeline or used for list\
        \ segmentation.\n\nYou can also use `objectPropertyName` to associate any\
        \ CRM object properties. This will allow you to fully build out CRM objects.\n\
        \nToken names should be unique across the template."
      operationId: TemplatesTokensCreate
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineEventTemplateToken'
        description: The new token definition.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                name: petType
                type: enumeration
                createdAt: 2020-02-12T20:58:26Z
                updatedAt: 2020-02-12T20:58:26Z
                label: Pet Type
                options:
                - value: dog
                  label: Dog
                - value: cat
                  label: Cat
              schema:
                $ref: '#/components/schemas/TimelineEventTemplateToken'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Adds a token to an existing event template
      tags:
      - Tokens
  /crm/v3/timeline/{appId}/event-templates/{eventTemplateId}/tokens/{tokenName}:
    delete:
      description: "This will remove the token from an existing template. Existing\
        \ events and CRM objects will still retain the token and its mapped object\
        \ properties, but new ones will not.\n\nThe timeline will still display this\
        \ property for older CRM objects if it's still referenced in the template\
        \ `Markdown`. New events will not.\n\nAny lists or reports referencing deleted\
        \ tokens will no longer return new contacts, but old ones will still exist\
        \ in the lists."
      operationId: TemplatesTokensArchive
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The token name.
        explode: false
        in: path
        name: tokenName
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Removes a token from the event template
      tags:
      - Tokens
    put:
      description: This will update the existing token on an event template. Name
        and type can't be changed on existing tokens.
      operationId: TemplatesTokensUpdate
      parameters:
      - description: The event template ID.
        explode: false
        in: path
        name: eventTemplateId
        required: true
        schema:
          type: string
        style: simple
      - description: The token name.
        explode: false
        in: path
        name: tokenName
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the target app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineEventTemplateTokenUpdateRequest'
        description: The updated token definition.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                name: petType
                type: enumeration
                createdAt: 2020-02-12T20:58:26Z
                updatedAt: 2020-02-12T20:58:26Z
                label: Pet Type
                options:
                - value: dog
                  label: Dog
                - value: cat
                  label: Cat
                - value: bird
                  label: Bird
              schema:
                $ref: '#/components/schemas/TimelineEventTemplateToken'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      summary: Updates an existing token on an event template
      tags:
      - Tokens
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    TimelineEventIFrame:
      example:
        linkLabel: View Art3mis
        headerLabel: Art3mis dog
        url: https://my.petspot.com/pets/Art3mis
        width: 600
        height: 400
      properties:
        linkLabel:
          description: The text displaying the link that will display the iframe.
          type: string
        headerLabel:
          description: The label of the modal window that displays the iframe contents.
          type: string
        url:
          description: The URI of the iframe contents.
          type: string
        width:
          description: The width of the modal window in pixels.
          format: int32
          type: integer
        height:
          description: The height of the modal window in pixels.
          format: int32
          type: integer
      required:
      - headerLabel
      - height
      - linkLabel
      - url
      - width
      type: object
    TimelineEvent:
      description: The state of the timeline event.
      example:
        eventTemplateId: "1001298"
        email: art3mis-pup@petspot.com
        tokens:
          petName: Art3mis
          petAge: 3
          petColor: black
        extraData:
          questions:
          - question: Who's a good girl?
            answer: Bark!
          - question: Do you wanna go on a walk?
            answer: Woof!
        timelineIFrame:
          linkLabel: View Art3mis
          headerLabel: Art3mis dog
          url: https://my.petspot.com/pets/Art3mis
          width: 600
          height: 400
      properties:
        eventTemplateId:
          description: The event template ID.
          type: string
        email:
          description: "The email address used for contact-specific events. This can\
            \ be used to identify existing contacts, create new ones, or change the\
            \ email for an existing contact (if paired with the `objectId`)."
          type: string
        objectId:
          description: The CRM object identifier. This is required for every event
            other than contacts (where utk or email can be used).
          type: string
        utk:
          description: "Use the `utk` parameter to associate an event with a contact\
            \ by `usertoken`. This is recommended if you don't know a user's email,\
            \ but have an identifying user token in your cookie."
          type: string
        domain:
          description: The event domain (often paired with utk).
          type: string
        timestamp:
          description: "The time the event occurred. If not passed in, the curren\
            \ time will be assumed. This is used to determine where an event is shown\
            \ on a CRM object's timeline."
          format: date-time
          type: string
        tokens:
          additionalProperties:
            type: string
          description: A collection of token keys and values associated with the template
            tokens.
          type: object
        extraData:
          description: Additional event-specific data that can be interpreted by the
            template's markdown.
          properties: {}
          type: object
        timelineIFrame:
          $ref: '#/components/schemas/TimelineEventIFrame'
        id:
          description: "Identifier for the event. This is optional, and we recommend\
            \ you do not pass this in. We will create one for you if you omit this.\
            \ You can also use `{{uuid}}` anywhere in the ID to generate a unique\
            \ string, guaranteeing uniqueness."
          type: string
      required:
      - eventTemplateId
      - tokens
      type: object
    StandardError:
      properties:
        status:
          type: string
        id:
          type: string
        category:
          type: string
        subCategory:
          properties: {}
          type: object
        message:
          type: string
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    TimelineEventTemplateUpdateRequest:
      description: State of the template definition being updated.
      example:
        id: "1001298"
        name: PetSpot Registration
        headerTemplate: "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})"
        detailTemplate: "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
          \n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n\
          {{/each}}\n\nEDIT"
        tokens:
        - name: petName
          label: Pet Name
          type: string
          objectPropertyName: firstname
        - name: petAge
          label: Pet Age
          type: number
        - name: petColor
          label: Pet Color
          type: enumeration
          options:
          - value: white
            label: White
          - value: black
            label: Black
          - value: brown
            label: Brown
          - value: yellow
            label: Yellow
          - value: other
            label: Other
      properties:
        name:
          description: The template name.
          type: string
        headerTemplate:
          description: This uses Markdown syntax with Handlebars and event-specific
            data to render HTML on a timeline as a header.
          type: string
        detailTemplate:
          description: This uses Markdown syntax with Handlebars and event-specific
            data to render HTML on a timeline when you expand the details.
          type: string
        tokens:
          description: A collection of tokens that can be used as custom properties
            on the event and to create fully fledged CRM objects.
          items:
            $ref: '#/components/schemas/TimelineEventTemplateToken'
          type: array
        id:
          description: The template ID.
          type: string
      required:
      - id
      - name
      - tokens
      type: object
    TimelineEventTemplateCreateRequest:
      description: State of the template definition being created.
      example:
        name: PetSpot Registration
        objectType: contacts
        headerTemplate: "Registered for [{{petName}}](https://my.petspot.com/pets/{{petName}})"
        detailTemplate: "Registration occurred at {{#formatDate timestamp}}{{/formatDate}}\n\
          \n#### Questions\n{{#each extraData.questions}}\n  **{{question}}**: {{answer}}\n\
          {{/each}}"
        tokens:
        - name: petName
          label: Pet Name
          type: string
        - name: petAge
          label: Pet Age
          type: number
        - name: petColor
          label: Pet Color
          type: enumeration
          options:
          - value: white
            label: White
          - value: black
            label: Black
          - value: brown
            label: Brown
          - value: other
            label: Other
      properties:
        name:
          description: The template name.
          type: string
        headerTemplate:
          description: This uses Markdown syntax with Handlebars and event-specific
            data to render HTML on a timeline as a header.
          type: string
        detailTemplate:
          description: This uses Markdown syntax with Handlebars and event-specific
            data to render HTML on a timeline when you expand the details.
          type: string
        tokens:
          description: A collection of tokens that can be used as custom properties
            on the event and to create fully fledged CRM objects.
          items:
            $ref: '#/components/schemas/TimelineEventTemplateToken'
          type: array
        objectType:
          description: "The type of CRM object this template is for. [Contacts, companies,\
            \ tickets, and deals] are supported."
          type: string
      required:
      - name
      - objectType
      - tokens
      type: object
    EventDetail:
      description: The details Markdown rendered as HTML.
      example:
        details: "<p>Registration occurred at Jan 30, 2020, 1:13:25 PM</p><h4>Questions</h4><p><strong>Who&#x27;s\
          \ a good kitty?</strong>: Purr...</p><p><strong>Will you stop playing with\
          \ that?</strong>: Meow!</p><p>EDIT</p>"
      properties:
        details:
          description: The details Markdown rendered as HTML.
          type: string
      required:
      - details
      type: object
    CollectionResponseTimelineEventTemplateNoPaging:
      example:
        results:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          detailTemplate: detailTemplate
          name: name
          tokens:
          - name: petType
            label: Pet Type
            type: enumeration
            createdAt: 2020-02-12T20:58:26Z
            updatedAt: 2020-02-12T20:58:26Z
            objectPropertyName: customPropertyPetType
            options:
            - value: dog
              label: Dog
            - value: cat
              label: Cat
          - name: petType
            label: Pet Type
            type: enumeration
            createdAt: 2020-02-12T20:58:26Z
            updatedAt: 2020-02-12T20:58:26Z
            objectPropertyName: customPropertyPetType
            options:
            - value: dog
              label: Dog
            - value: cat
              label: Cat
          id: id
          headerTemplate: headerTemplate
          objectType: objectType
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          detailTemplate: detailTemplate
          name: name
          tokens:
          - name: petType
            label: Pet Type
            type: enumeration
            createdAt: 2020-02-12T20:58:26Z
            updatedAt: 2020-02-12T20:58:26Z
            objectPropertyName: customPropertyPetType
            options:
            - value: dog
              label: Dog
            - value: cat
              label: Cat
          - name: petType
            label: Pet Type
            type: enumeration
            createdAt: 2020-02-12T20:58:26Z
            updatedAt: 2020-02-12T20:58:26Z
            objectPropertyName: customPropertyPetType
            options:
            - value: dog
              label: Dog
            - value: cat
              label: Cat
          id: id
          headerTemplate: headerTemplate
          objectType: objectType
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        results:
          items:
            $ref: '#/components/schemas/TimelineEventTemplate'
          type: array
      required:
      - results
      type: object
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    BatchResponseTimelineEventResponse:
      description: The state of the batch event request.
      example:
        results:
        - objectType: contacts
          id: petspot:1001298:art3mis-pup@petspot.com-6edaa73d-d734-404d-908f-74774d58ac2b
          eventTemplateId: "1001298"
          email: art3mis-pup@petspot.com
          objectId: "28001"
          timestamp: 2020-01-30T18:13:25.665Z
          tokens:
            petName: Art3mis
            petColor: black
            petAge: "3"
          extraData:
            questions:
            - question: Who's a good girl?
              answer: Bark!
            - question: Do you wanna go on a walk?
              answer: Woof!
          timelineIFrame:
            linkLabel: View Art3mis
            headerLabel: Art3mis dog
            url: https://my.petspot.com/pets/Art3mis
            width: 600
            height: 400
        - objectType: contacts
          id: petspot:1001298:pocket-tiger@petspot.com-0df6277b-6eba-4d1f-8c19-1994cbfaa4ca
          eventTemplateId: "1001298"
          email: pocket-tiger@petspot.com
          objectId: "28651"
          timestamp: 2020-01-30T18:13:25.665Z
          tokens:
            petName: Pocket
            petColor: yellow
            petAge: "3"
          extraData:
            questions:
            - question: Who's a good kitty?
              answer: Purr...
            - question: Will you stop playing with that?
              answer: Meow!
          timelineIFrame:
            linkLabel: View Pocket
            headerLabel: Pocket Tiger
            url: https://my.petspot.com/pets/Pocket
            width: 600
            height: 400
        status: COMPLETE
        startedAt: 2020-01-30T18:13:24.974023Z
        completedAt: 2020-01-30T18:13:26.227559Z
      properties:
        status:
          description: The status of the batch response. Should always be COMPLETED
            if processed.
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        results:
          description: Successfully created events.
          items:
            $ref: '#/components/schemas/TimelineEventResponse'
          type: array
        requestedAt:
          description: The time the request occurred.
          format: date-time
          type: string
        startedAt:
          description: The time the request began processing.
          format: date-time
          type: string
        completedAt:
          description: The time the request was completed.
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    BatchInputTimelineEvent:
      description: Used to create timeline events in batches.
      example:
        inputs:
        - eventTemplateId: "1001298"
          email: art3mis-pup@petspot.com
          tokens:
            petName: Art3mis
            petAge: 3
            petColor: black
          extraData:
            questions:
            - question: Who's a good girl?
              answer: Bark!
            - question: Do you wanna go on a walk?
              answer: Woof!
          timelineIFrame:
            linkLabel: View Art3mis
            headerLabel: Art3mis dog
            url: https://my.petspot.com/pets/Art3mis
            width: 600
            height: 400
        - eventTemplateId: "1001298"
          email: pocket-tiger@petspot.com
          tokens:
            petName: Pocket
            petAge: 3
            petColor: yellow
          extraData:
            questions:
            - question: Who's a good kitty?
              answer: Purr...
            - question: Will you stop playing with that?
              answer: Meow!
          timelineIFrame:
            linkLabel: View Pocket
            headerLabel: Pocket Tiger
            url: https://my.petspot.com/pets/Pocket
            width: 600
            height: 400
      properties:
        inputs:
          description: A collection of timeline events we want to create.
          items:
            $ref: '#/components/schemas/TimelineEvent'
          type: array
      required:
      - inputs
      type: object
    TimelineEventTemplateTokenOption:
      properties:
        value:
          type: string
        label:
          type: string
      required:
      - label
      - value
      type: object
    TimelineEventTemplate:
      description: The current state of the template definition.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        detailTemplate: detailTemplate
        name: name
        tokens:
        - name: petType
          label: Pet Type
          type: enumeration
          createdAt: 2020-02-12T20:58:26Z
          updatedAt: 2020-02-12T20:58:26Z
          objectPropertyName: customPropertyPetType
          options:
          - value: dog
            label: Dog
          - value: cat
            label: Cat
        - name: petType
          label: Pet Type
          type: enumeration
          createdAt: 2020-02-12T20:58:26Z
          updatedAt: 2020-02-12T20:58:26Z
          objectPropertyName: customPropertyPetType
          options:
          - value: dog
            label: Dog
          - value: cat
            label: Cat
        id: id
        headerTemplate: headerTemplate
        objectType: objectType
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        name:
          description: The template name.
          type: string
        headerTemplate:
          description: This uses Markdown syntax with Handlebars and event-specific
            data to render HTML on a timeline as a header.
          type: string
        detailTemplate:
          description: This uses Markdown syntax with Handlebars and event-specific
            data to render HTML on a timeline when you expand the details.
          type: string
        tokens:
          description: A collection of tokens that can be used as custom properties
            on the event and to create fully fledged CRM objects.
          items:
            $ref: '#/components/schemas/TimelineEventTemplateToken'
          type: array
        id:
          description: The template ID.
          type: string
        objectType:
          description: "The type of CRM object this template is for. [Contacts, companies,\
            \ tickets, and deals] are supported."
          type: string
        createdAt:
          description: "The date and time that the Event Template was created, as\
            \ an ISO 8601 timestamp. Will be null if the template was created before\
            \ Feb 18th, 2020."
          format: date-time
          type: string
        updatedAt:
          description: "The date and time that the Event Template was last updated,\
            \ as an ISO 8601 timestamp. Will be null if the template was created before\
            \ Feb 18th, 2020."
          format: date-time
          type: string
      required:
      - id
      - name
      - objectType
      - tokens
      type: object
    TimelineEventTemplateToken:
      description: State of the token definition.
      example:
        name: petType
        label: Pet Type
        type: enumeration
        createdAt: 2020-02-12T20:58:26Z
        updatedAt: 2020-02-12T20:58:26Z
        objectPropertyName: customPropertyPetType
        options:
        - value: dog
          label: Dog
        - value: cat
          label: Cat
      properties:
        label:
          description: Used for list segmentation and reporting.
          type: string
        objectPropertyName:
          description: "The name of the CRM object property. This will populate the\
            \ CRM object property associated with the event. With enough of these,\
            \ you can fully build CRM objects via the Timeline API."
          type: string
        options:
          description: "If type is `enumeration`, we should have a list of options\
            \ to choose from."
          items:
            $ref: '#/components/schemas/TimelineEventTemplateTokenOption'
          type: array
        name:
          description: "The name of the token referenced in the templates. This must\
            \ be unique for the specific template. It may only contain alphanumeric\
            \ characters, periods, dashes, or underscores (. - _)."
          type: string
        type:
          description: "The data type of the token. You can currently choose from\
            \ [string, number, date, enumeration]."
          enum:
          - date
          - enumeration
          - number
          - string
          type: string
        createdAt:
          description: "The date and time that the Event Template Token was created,\
            \ as an ISO 8601 timestamp. Will be null if the template was created before\
            \ Feb 18th, 2020."
          format: date-time
          type: string
        updatedAt:
          description: "The date and time that the Event Template Token was last updated,\
            \ as an ISO 8601 timestamp. Will be null if the template was created before\
            \ Feb 18th, 2020."
          format: date-time
          type: string
      required:
      - label
      - name
      - type
      type: object
    TimelineEventTemplateTokenUpdateRequest:
      description: State of the token definition for update requests.
      example:
        label: petType edit
        options:
        - value: dog
          label: Dog
        - value: cat
          label: Cat
        - value: bird
          label: Bird
      properties:
        label:
          description: Used for list segmentation and reporting.
          type: string
        objectPropertyName:
          description: "The name of the CRM object property. This will populate the\
            \ CRM object property associated with the event. With enough of these,\
            \ you can fully build CRM objects via the Timeline API."
          type: string
        options:
          description: "If type is `enumeration`, we should have a list of options\
            \ to choose from."
          items:
            $ref: '#/components/schemas/TimelineEventTemplateTokenOption'
          type: array
      required:
      - label
      type: object
    TimelineEventResponse:
      description: The current state of the timeline event.
      example:
        objectType: contacts
        id: petspot:1001298:art3mis-pup@petspot.com-004-invalid
        eventTemplateId: "1001298"
        email: art3mis-pup@petspot.com
        objectId: "28001"
        timestamp: 2020-01-30T18:37:15.569Z
        tokens:
          petName: Art3mis
          petColor: black
          petAge: "3"
        extraData:
          questions:
          - question: Who's a good girl?
            answer: Bark!
          - question: Do you wanna go on a walk?
            answer: Woof!
        timelineIFrame:
          linkLabel: View Art3mis
          headerLabel: Art3mis dog
          url: https://my.petspot.com/pets/Art3mis
          width: 600
          height: 400
      properties:
        id:
          description: "Identifier for the event. This should be unique to the app\
            \ and event template. If you use the same ID for different CRM objects,\
            \ the last to be processed will win and the first will not have a record.\
            \ You can also use `{{uuid}}` anywhere in the ID to generate a unique\
            \ string, guaranteeing uniqueness."
          type: string
        eventTemplateId:
          description: The event template ID.
          type: string
        email:
          description: "The email address used for contact-specific events. This can\
            \ be used to identify existing contacts, create new ones, or change the\
            \ email for an existing contact (if paired with the `objectId`)."
          type: string
        objectId:
          description: The CRM object identifier. This is required for every event
            other than contacts (where utk or email can be used).
          type: string
        utk:
          description: "Use the `utk` parameter to associate an event with a contact\
            \ by `usertoken`. This is recommended if you don't know a user's email,\
            \ but have an identifying user token in your cookie."
          type: string
        domain:
          description: The event domain (often paired with utk).
          type: string
        timestamp:
          description: "The time the event occurred. If not passed in, the curren\
            \ time will be assumed. This is used to determine where an event is shown\
            \ on a CRM object's timeline."
          format: date-time
          type: string
        tokens:
          additionalProperties:
            type: string
          description: A collection of token keys and values associated with the template
            tokens.
          type: object
        extraData:
          description: Additional event-specific data that can be interpreted by the
            template's markdown.
          properties: {}
          type: object
        timelineIFrame:
          $ref: '#/components/schemas/TimelineEventIFrame'
        objectType:
          description: The ObjectType associated with the EventTemplate.
          type: string
        createdAt:
          format: date-time
          type: string
      required:
      - eventTemplateId
      - id
      - objectType
      - tokens
      type: object
    BatchResponseTimelineEventResponseWithErrors:
      properties:
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
        results:
          items:
            $ref: '#/components/schemas/TimelineEventResponse'
          type: array
        numErrors:
          format: int32
          type: integer
        errors:
          items:
            $ref: '#/components/schemas/StandardError'
          type: array
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        completedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            tickets: Read and write tickets
            timeline: Create timeline events
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    developer_hapikey:
      in: query
      name: hapikey
      type: apiKey
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.schemas.contacts.write: ' '
            crm.objects.contacts.write: ' '
            crm.schemas.companies.write: ' '
            crm.objects.companies.write: ' '
            crm.objects.deals.write: ' '
            crm.schemas.deals.write: ' '
            crm.objects.contacts.read: ' '
            crm.schemas.contacts.read: ' '
            crm.schemas.companies.read: ' '
            crm.objects.companies.read: ' '
            crm.objects.deals.read: ' '
            crm.schemas.deals.read: ' '
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
    private_apps:
      in: header
      name: private-app
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
