/*
 * CMS Site Search
 *
 * Use these endpoints for searching content on your HubSpot hosted CMS website(s).
 *
 * API version: v3
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package site_search

import (
	"context"
	"fmt"
	"github.com/antihax/optional"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type PublicApiService service

/*
PublicApiService Get indexed properties.
For a given account and document ID (page ID, blog post ID, HubDB row ID, etc.), return all indexed data for that document. This is useful when debugging why a particular document is not returned from a custom search.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param contentId ID of the target document when searching for indexed properties.
 * @param optional nil or *PublicApiGetcmsv3siteSearchindexedDatacontentIdGetByIdOpts - Optional Parameters:
     * @param "Type_" (optional.String) -  The type of document. Can be one of &#x60;SITE_PAGE&#x60;, &#x60;BLOG_POST&#x60;, or &#x60;KNOWLEDGE_ARTICLE&#x60;.
@return IndexedData
*/

type PublicApiGetcmsv3siteSearchindexedDatacontentIdGetByIdOpts struct {
	Type_ optional.String
}

func (a *PublicApiService) Getcmsv3siteSearchindexedDatacontentIdGetById(ctx context.Context, contentId string, localVarOptionals *PublicApiGetcmsv3siteSearchindexedDatacontentIdGetByIdOpts) (IndexedData, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue IndexedData
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/cms/v3/site-search/indexed-data/{contentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"contentId"+"}", fmt.Sprintf("%v", contentId), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Type_.IsSet() {
		localVarQueryParams.Add("type", parameterToString(localVarOptionals.Type_.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}

			localVarQueryParams.Add("hapikey", key)
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v IndexedData
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 0 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/*
PublicApiService Search your site.
Returns any website content matching the given search criteria for a given HubSpot account. Searches can be filtered by content type, domain, or URL path.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *PublicApiGetcmsv3siteSearchsearchSearchOpts - Optional Parameters:
     * @param "Q" (optional.String) -  The term to search for.
     * @param "Limit" (optional.Int32) -  Specifies the number of results to be returned in a single response. Defaults to &#x60;10&#x60;. Maximum value is &#x60;100&#x60;.
     * @param "Offset" (optional.Int32) -  Used to page through the results. If there are more results than specified by the &#x60;limit&#x60; parameter, you will need to use the value of offset returned in the previous request to get the next set of results.
     * @param "Language" (optional.String) -  Specifies the language of content to be searched. This value must be a valid [ISO 639-1 language code](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. &#x60;es&#x60; for Spanish)
     * @param "MatchPrefix" (optional.Bool) -  Inverts the behavior of the pathPrefix filter when set to &#x60;false&#x60;. Defaults to &#x60;true&#x60;.
     * @param "Autocomplete" (optional.Bool) -  Specifies whether or not you are showing autocomplete results. Defaults to false.
     * @param "PopularityBoost" (optional.Float64) -  Specifies how strongly a result is boosted based on its view count. Defaults to 1.0.
     * @param "BoostLimit" (optional.Float64) -  Specifies the maximum amount a result will be boosted based on its view count. Defaults to 5.0. Read more about elasticsearch boosting [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-boost.html).
     * @param "MinScore" (optional.Float64) -  Specifies the minimum search score threshold for returned results. This value is intentionally set low by default in order to return many results. Increase this for higher precision, but less recall.
     * @param "BoostRecent" (optional.String) -  Specifies a relative time window where scores of documents published outside this time window decay. This can only be used for blog posts. For example, boostRecent&#x3D;10d will boost documents published within the last 10 days. Supported timeunits are ms (milliseconds), s (seconds), m (minutes), h (hours), d (days).
     * @param "TableId" (optional.Int64) -  Specifies a specific HubDB table to search. Only returns results from the specified table. Can be used in tandem with the &#x60;hubdbQuery&#x60; parameter to further filter results.
     * @param "HubdbQuery" (optional.String) -  Specify a HubDB query to further filter the search results.
     * @param "Domain" (optional.Interface of []string) -  A domain to match search results for. Multiple domains can be provided with &amp;.
     * @param "Type_" (optional.Interface of []string) -  Specifies the type of content to search. Can be one or more of SITE_PAGE, LANDING_PAGE, BLOG_POST, LISTING_PAGE, and KNOWLEDGE_ARTICLE. Defaults to all content types except LANDING_PAGE and KNOWLEDGE_ARTICLE
     * @param "PathPrefix" (optional.Interface of []string) -  Specifies a path prefix to filter search results. Will only return results with URL paths that start with the specified parameter. Can be used multiple times.
     * @param "Property" (optional.Interface of []string) -  Specifies which properties to include in the search. Options include &#x60;title&#x60;, &#x60;description&#x60;, and &#x60;html&#x60;. All properties will be searched by default.
     * @param "Length" (optional.String) -  Specifies the length of the search results. Can be set to &#x60;LONG&#x60; or &#x60;SHORT&#x60;. &#x60;SHORT&#x60; will return the first 128 characters of the content&#x27;s meta description. &#x60;LONG&#x60; will build a more detailed content snippet based on the html/content of the page.
     * @param "GroupId" (optional.Interface of []int64) -  Specifies which blog(s) to be searched by blog ID. Can be used multiple times to search more than one blog.
@return PublicSearchResults
*/

type PublicApiGetcmsv3siteSearchsearchSearchOpts struct {
	Q               optional.String
	Limit           optional.Int32
	Offset          optional.Int32
	Language        optional.String
	MatchPrefix     optional.Bool
	Autocomplete    optional.Bool
	PopularityBoost optional.Float64
	BoostLimit      optional.Float64
	MinScore        optional.Float64
	BoostRecent     optional.String
	TableId         optional.Int64
	HubdbQuery      optional.String
	Domain          optional.Interface
	Type_           optional.Interface
	PathPrefix      optional.Interface
	Property        optional.Interface
	Length          optional.String
	GroupId         optional.Interface
}

func (a *PublicApiService) Getcmsv3siteSearchsearchSearch(ctx context.Context, localVarOptionals *PublicApiGetcmsv3siteSearchsearchSearchOpts) (PublicSearchResults, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue PublicSearchResults
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/cms/v3/site-search/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Q.IsSet() {
		localVarQueryParams.Add("q", parameterToString(localVarOptionals.Q.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Offset.IsSet() {
		localVarQueryParams.Add("offset", parameterToString(localVarOptionals.Offset.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Language.IsSet() {
		localVarQueryParams.Add("language", parameterToString(localVarOptionals.Language.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.MatchPrefix.IsSet() {
		localVarQueryParams.Add("matchPrefix", parameterToString(localVarOptionals.MatchPrefix.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Autocomplete.IsSet() {
		localVarQueryParams.Add("autocomplete", parameterToString(localVarOptionals.Autocomplete.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.PopularityBoost.IsSet() {
		localVarQueryParams.Add("popularityBoost", parameterToString(localVarOptionals.PopularityBoost.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.BoostLimit.IsSet() {
		localVarQueryParams.Add("boostLimit", parameterToString(localVarOptionals.BoostLimit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.MinScore.IsSet() {
		localVarQueryParams.Add("minScore", parameterToString(localVarOptionals.MinScore.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.BoostRecent.IsSet() {
		localVarQueryParams.Add("boostRecent", parameterToString(localVarOptionals.BoostRecent.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.TableId.IsSet() {
		localVarQueryParams.Add("tableId", parameterToString(localVarOptionals.TableId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.HubdbQuery.IsSet() {
		localVarQueryParams.Add("hubdbQuery", parameterToString(localVarOptionals.HubdbQuery.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Domain.IsSet() {
		localVarQueryParams.Add("domain", parameterToString(localVarOptionals.Domain.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Type_.IsSet() {
		localVarQueryParams.Add("type", parameterToString(localVarOptionals.Type_.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.PathPrefix.IsSet() {
		localVarQueryParams.Add("pathPrefix", parameterToString(localVarOptionals.PathPrefix.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Property.IsSet() {
		localVarQueryParams.Add("property", parameterToString(localVarOptionals.Property.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Length.IsSet() {
		localVarQueryParams.Add("length", parameterToString(localVarOptionals.Length.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.GroupId.IsSet() {
		localVarQueryParams.Add("groupId", parameterToString(localVarOptionals.GroupId.Value(), "multi"))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}

			localVarQueryParams.Add("hapikey", key)
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v PublicSearchResults
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 0 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
