openapi: 3.0.1
info:
  description: "Provides a way for apps to subscribe to certain change events in HubSpot.\
    \ Once configured, apps will receive event payloads containing details about the\
    \ changes at a specified target URL. There can only be one target URL for receiving\
    \ event notifications per app."
  title: Webhooks Webhooks
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: PROFESSIONAL
    service: PROFESSIONAL
    cms: STARTER
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: You're building a custom integration that syncs contact
    data with HubSpot and you need to programmatically determine when certain fields
    are updated in your HubSpot account.
  x-hubspot-related-documentation:
  - name: Webhooks Guide
    url: https://hubspot.dev/guides/api/webhooks
  x-hubspot-introduction: "The Webhooks API allows you to subscribe to events happening\
    \ in a HubSpot account with your integration installed. Rather than making an\
    \ API call when an event happens in a connected account, HubSpot can send an HTTP\
    \ request to an endpoint you configure."
servers:
- url: https://api.hubapi.com
tags:
- name: Settings
- name: Subscriptions
paths:
  /webhooks/v3/{appId}/settings:
    delete:
      operationId: SettingsClear
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Settings
    get:
      operationId: SettingsGetAll
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Settings
    put:
      operationId: SettingsConfigure
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsChangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Settings
  /webhooks/v3/{appId}/subscriptions/{subscriptionId}:
    delete:
      operationId: SubscriptionsArchive
      parameters:
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
    get:
      operationId: SubscriptionsGetByID
      parameters:
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
    patch:
      operationId: SubscriptionsUpdate
      parameters:
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
  /webhooks/v3/{appId}/subscriptions:
    get:
      operationId: SubscriptionsGetAll
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
    post:
      operationId: SubscriptionsCreate
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
  /webhooks/v3/{appId}/subscriptions/batch/update:
    post:
      operationId: SubscriptionsBatchUpdate
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSubscriptionBatchUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriptionResponse'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriptionResponseWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ThrottlingSettings:
      description: Configuration details for webhook throttling.
      properties:
        period:
          description: Time scale for this setting. Can be either `SECONDLY` (per
            second) or `ROLLING_MINUTE` (per minute).
          enum:
          - SECONDLY
          - ROLLING_MINUTE
          type: string
        maxConcurrentRequests:
          description: The maximum number of HTTP requests HubSpot will attempt to
            make to your app in a given time frame determined by `period`.
          format: int32
          type: integer
      required:
      - maxConcurrentRequests
      - period
      type: object
    StandardError:
      properties:
        subCategory:
          properties: {}
          type: object
        context:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        links:
          additionalProperties:
            type: string
          type: object
        id:
          type: string
        category:
          type: string
        message:
          type: string
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        status:
          type: string
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    BatchResponseSubscriptionResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: '#/components/schemas/SubscriptionResponse'
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    SubscriptionListResponse:
      description: List of event subscriptions for your app
      example:
        results:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        results:
          description: List of event subscriptions for your app
          items:
            $ref: '#/components/schemas/SubscriptionResponse'
          type: array
      required:
      - results
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    SettingsChangeRequest:
      description: New or updated webhook settings for an app.
      example:
        targetUrl: https://www.example.com/hubspot/target
        throttling:
          maxConcurrentRequests: 10
          period: SECONDLY
      properties:
        throttling:
          $ref: '#/components/schemas/ThrottlingSettings'
        targetUrl:
          description: "A publicly available URL for Hubspot to call where event payloads\
            \ will be delivered. See [link-so-some-doc](#) for details about the format\
            \ of these event payloads."
          example: https://www.example.com/hubspot/target
          type: string
      required:
      - targetUrl
      - throttling
      type: object
    SubscriptionPatchRequest:
      description: Updated details for the subscription.
      example:
        active: true
      properties:
        active:
          description: Determines if the subscription is active or paused.
          example: true
          type: boolean
      type: object
    BatchResponseSubscriptionResponseWithErrors:
      properties:
        completedAt:
          format: date-time
          type: string
        numErrors:
          format: int32
          type: integer
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: '#/components/schemas/SubscriptionResponse'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/StandardError'
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    ErrorDetail:
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    SettingsResponse:
      description: Webhook settings for an app.
      example:
        targetUrl: https://www.example.com/hubspot/target
        throttling:
          maxConcurrentRequests: 10
          period: SECONDLY
        createdAt: 2020-01-24T16:27:59Z
        updatedAt: 2020-01-24T16:32:43Z
      properties:
        createdAt:
          description: "When this subscription was created. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          type: string
        throttling:
          $ref: '#/components/schemas/ThrottlingSettings'
        targetUrl:
          description: "A publicly available URL for Hubspot to call where event payloads\
            \ will be delivered. See [link-so-some-doc](#) for details about the format\
            \ of these event payloads."
          example: https://www.example.com/hubspot/target
          type: string
        updatedAt:
          description: "When this subscription was last updated. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          type: string
      required:
      - createdAt
      - targetUrl
      - throttling
      type: object
    BatchInputSubscriptionBatchUpdateRequest:
      example:
        inputs:
        - active: true
          id: 0
        - active: true
          id: 0
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/SubscriptionBatchUpdateRequest'
          type: array
      required:
      - inputs
      type: object
    SubscriptionBatchUpdateRequest:
      example:
        active: true
        id: 0
      properties:
        active:
          type: boolean
        id:
          format: int32
          type: integer
      required:
      - active
      - id
      type: object
    SubscriptionResponse:
      description: Complete details for an event subscription.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        propertyName: propertyName
        active: true
        eventType: contact.propertyChange
        id: id
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        createdAt:
          description: "When this subscription was created. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          type: string
        propertyName:
          description: The internal name of the property being monitored for changes.
            Only applies when `eventType` is `propertyChange`.
          type: string
        active:
          description: Determines if the subscription is active or paused.
          type: boolean
        eventType:
          description: "Type of event to listen for. Can be one of `create`, `delete`,\
            \ `deletedForPrivacy`, or `propertyChange`."
          enum:
          - contact.propertyChange
          - company.propertyChange
          - deal.propertyChange
          - ticket.propertyChange
          - product.propertyChange
          - line_item.propertyChange
          - contact.creation
          - contact.deletion
          - contact.privacyDeletion
          - company.creation
          - company.deletion
          - deal.creation
          - deal.deletion
          - ticket.creation
          - ticket.deletion
          - product.creation
          - product.deletion
          - line_item.creation
          - line_item.deletion
          - conversation.creation
          - conversation.deletion
          - conversation.newMessage
          - conversation.privacyDeletion
          - conversation.propertyChange
          - contact.merge
          - company.merge
          - deal.merge
          - ticket.merge
          - product.merge
          - line_item.merge
          - contact.restore
          - company.restore
          - deal.restore
          - ticket.restore
          - product.restore
          - line_item.restore
          - contact.associationChange
          - company.associationChange
          - deal.associationChange
          - ticket.associationChange
          - line_item.associationChange
          type: string
        id:
          description: The unique ID of the subscription.
          type: string
        updatedAt:
          description: "When this subscription was last updated. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          type: string
      required:
      - active
      - createdAt
      - eventType
      - id
      type: object
    SubscriptionCreateRequest:
      description: New webhook settings for an app.
      example:
        active: true
        eventType: contact.propertyChange
        propertyName: email
      properties:
        propertyName:
          description: The internal name of the property to monitor for changes. Only
            applies when `eventType` is `propertyChange`.
          example: email
          type: string
        active:
          description: Determines if the subscription is active or paused. Defaults
            to false.
          example: true
          type: boolean
        eventType:
          description: "Type of event to listen for. Can be one of `create`, `delete`,\
            \ `deletedForPrivacy`, or `propertyChange`."
          enum:
          - contact.propertyChange
          - company.propertyChange
          - deal.propertyChange
          - ticket.propertyChange
          - product.propertyChange
          - line_item.propertyChange
          - contact.creation
          - contact.deletion
          - contact.privacyDeletion
          - company.creation
          - company.deletion
          - deal.creation
          - deal.deletion
          - ticket.creation
          - ticket.deletion
          - product.creation
          - product.deletion
          - line_item.creation
          - line_item.deletion
          - conversation.creation
          - conversation.deletion
          - conversation.newMessage
          - conversation.privacyDeletion
          - conversation.propertyChange
          - contact.merge
          - company.merge
          - deal.merge
          - ticket.merge
          - product.merge
          - line_item.merge
          - contact.restore
          - company.restore
          - deal.restore
          - ticket.restore
          - product.restore
          - line_item.restore
          - contact.associationChange
          - company.associationChange
          - deal.associationChange
          - ticket.associationChange
          - line_item.associationChange
          example: contact.propertyChange
          type: string
      required:
      - eventType
      type: object
  securitySchemes:
    developer_hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: PROFESSIONAL
  service: PROFESSIONAL
  cms: STARTER
x-hubspot-documentation-banner: NONE
