openapi: 3.0.1
info:
  description: API for accessing CRM object events.
  title: HubSpot Events API
  version: v3
servers:
- url: https://api.hubapi.com/
tags:
- name: Events
paths:
  /events/v3/events:
    get:
      operationId: GetPage
      parameters:
      - description: The starting time as an ISO 8601 timestamp.
        explode: true
        in: query
        name: occurredAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The ending time as an ISO 8601 timestamp.
        explode: true
        in: query
        name: occurredBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The type of object being selected. Valid values are hubspot named
          object types (e.g. `contact`).
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          type: string
        style: form
      - description: "The id of the selected object. If not present, then the `objectProperty`\
          \ parameter is required."
        explode: true
        in: query
        name: objectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Limits the response to the specified event type.  For example
          `&eventType=e_visited_page` returns only `e_visited_page` events.  If not
          present all event types are returned.
        explode: true
        in: query
        name: eventType
        required: false
        schema:
          type: string
        style: form
      - description: An additional parameter that may be used to get the next `limit`
          set of results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of events to return, defaults to 20."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Selects the sort field and order. Defaults to ascending, prefix\
          \ with `-` for descending order. `occurredAt` is the only field supported\
          \ for sorting."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseExternalUnifiedEvent'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - hapikey: []
      - oauth2_legacy:
        - business-intelligence
      summary: Returns a collection of events matching a query.
      tags:
      - Events
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    ErrorDetail:
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
      required:
      - message
      type: object
    CollectionResponseExternalUnifiedEvent:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - occurredAt: 2000-01-23T04:56:07.000+00:00
          eventType: eventType
          id: id
          objectId: objectId
          properties:
            key: properties
          objectType: objectType
        - occurredAt: 2000-01-23T04:56:07.000+00:00
          eventType: eventType
          id: id
          objectId: objectId
          properties:
            key: properties
          objectType: objectType
      properties:
        results:
          items:
            $ref: '#/components/schemas/ExternalUnifiedEvent'
          type: array
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
      type: object
    ExternalUnifiedEvent:
      description: "Used to represent any event. With this format, the `objectType`\
        \ and `eventType` values are stringified CRM types. Example object:\n<br/>\n\
        ```\n {\n      \"objectType\": \"CONTACT\",\n      \"objectId\": 208451632,\n\
        \      \"eventType\": \"e_visited_page\",\n      \"occurredAt\": 1567377501421,\n\
        \      \"id\": \"leviathan-be3335d3-46f1-3985-988e-ff38e6e7b9d8\",\n     \
        \ \"properties\": {\n          \"hs_url\": \"https://some-website.com/\",\n\
        \          \"hs_title\": \"Home\",\n          \"hs_referrer\": \"https://some-other-website.com/blog/why-we-love-big-data-and-you-should-too\"\
        ,\n          \"hs_userAgent\": \"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36\
        \ (KHTML, like Gecko) Chrome/46.0.2490.80 Safari/537.36\",\n          \"hs_city\"\
        : \"lund\",\n          \"hs_region\": \"m\",\n          \"hs_country\": \"\
        se\",\n          \"hs_session_id\" : \"leviathan-be3335d3-46f1-3985-988e-ff38e6e7b9d8\"\
        ,\n          \"hs_session_source\" : \"DIRECT\"\n      }\n  }      \n```"
      example:
        occurredAt: 2000-01-23T04:56:07.000+00:00
        eventType: eventType
        id: id
        objectId: objectId
        properties:
          key: properties
        objectType: objectType
      properties:
        objectType:
          description: The objectType for the object which did the event.
          type: string
        objectId:
          description: The objectId of the object which did the event.
          type: string
        eventType:
          description: "The format of the `eventType` string is `ae{appId}_{eventTypeLabel}`,\
            \ `pe{portalId}_{eventTypeLabel}`, or just `e_{eventTypeLabel}` for HubSpot\
            \ events."
          type: string
        occurredAt:
          description: An ISO 8601 timestamp when the event occurred.
          format: date-time
          type: string
        id:
          description: A unique identifier for the event.
          type: string
        properties:
          additionalProperties:
            type: string
          type: object
      required:
      - eventType
      - id
      - objectId
      - objectType
      - occurredAt
      - properties
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: An error occurred
          type: string
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        category:
          description: The error category
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          type: object
      required:
      - category
      - correlationId
      - message
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          type: string
        link:
          type: string
      required:
      - after
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            business-intelligence: Read from Business Intelligence API
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    hapikey:
      in: query
      name: hapikey
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Python
- Ruby
