/*
 * Feedback Submissions
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * API version: v3
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package feedback_submissions

import (
	"context"
	"fmt"
	"github.com/antihax/optional"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type BasicApiService service

/*
BasicApiService List
Read a page of feedback submissions. Control what is returned via the &#x60;properties&#x60; query param.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *BasicApiGetcrmv3objectsfeedbackSubmissionsGetPageOpts - Optional Parameters:
     * @param "Limit" (optional.Int32) -  The maximum number of results to display per page.
     * @param "After" (optional.String) -  The paging cursor token of the last successfully read resource will be returned as the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
     * @param "Properties" (optional.Interface of []string) -  A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
     * @param "Associations" (optional.Interface of []string) -  A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
     * @param "Archived" (optional.Bool) -  Whether to return only results that have been archived.
@return CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
*/

type BasicApiGetcrmv3objectsfeedbackSubmissionsGetPageOpts struct {
	Limit        optional.Int32
	After        optional.String
	Properties   optional.Interface
	Associations optional.Interface
	Archived     optional.Bool
}

func (a *BasicApiService) Getcrmv3objectsfeedbackSubmissionsGetPage(ctx context.Context, localVarOptionals *BasicApiGetcrmv3objectsfeedbackSubmissionsGetPageOpts) (CollectionResponseSimplePublicObjectWithAssociationsForwardPaging, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/crm/v3/objects/feedback_submissions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Limit.IsSet() {
		localVarQueryParams.Add("limit", parameterToString(localVarOptionals.Limit.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.After.IsSet() {
		localVarQueryParams.Add("after", parameterToString(localVarOptionals.After.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Properties.IsSet() {
		localVarQueryParams.Add("properties", parameterToString(localVarOptionals.Properties.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Associations.IsSet() {
		localVarQueryParams.Add("associations", parameterToString(localVarOptionals.Associations.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Archived.IsSet() {
		localVarQueryParams.Add("archived", parameterToString(localVarOptionals.Archived.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}

			localVarQueryParams.Add("hapikey", key)
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 0 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/*
BasicApiService Read
Read an Object identified by &#x60;{feedbackSubmissionId}&#x60;. &#x60;{feedbackSubmissionId}&#x60; refers to the internal object ID by default, or optionally any unique property value as specified by the &#x60;idProperty&#x60; query param.  Control what is returned via the &#x60;properties&#x60; query param.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param feedbackSubmissionId
 * @param optional nil or *BasicApiGetcrmv3objectsfeedbackSubmissionsfeedbackSubmissionIdGetByIdOpts - Optional Parameters:
     * @param "Properties" (optional.Interface of []string) -  A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
     * @param "Associations" (optional.Interface of []string) -  A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
     * @param "Archived" (optional.Bool) -  Whether to return only results that have been archived.
     * @param "IdProperty" (optional.String) -  The name of a property whose values are unique for this object type
@return SimplePublicObjectWithAssociations
*/

type BasicApiGetcrmv3objectsfeedbackSubmissionsfeedbackSubmissionIdGetByIdOpts struct {
	Properties   optional.Interface
	Associations optional.Interface
	Archived     optional.Bool
	IdProperty   optional.String
}

func (a *BasicApiService) Getcrmv3objectsfeedbackSubmissionsfeedbackSubmissionIdGetById(ctx context.Context, feedbackSubmissionId string, localVarOptionals *BasicApiGetcrmv3objectsfeedbackSubmissionsfeedbackSubmissionIdGetByIdOpts) (SimplePublicObjectWithAssociations, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue SimplePublicObjectWithAssociations
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/crm/v3/objects/feedback_submissions/{feedbackSubmissionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"feedbackSubmissionId"+"}", fmt.Sprintf("%v", feedbackSubmissionId), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.Properties.IsSet() {
		localVarQueryParams.Add("properties", parameterToString(localVarOptionals.Properties.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Associations.IsSet() {
		localVarQueryParams.Add("associations", parameterToString(localVarOptionals.Associations.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Archived.IsSet() {
		localVarQueryParams.Add("archived", parameterToString(localVarOptionals.Archived.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.IdProperty.IsSet() {
		localVarQueryParams.Add("idProperty", parameterToString(localVarOptionals.IdProperty.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}

			localVarQueryParams.Add("hapikey", key)
		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v SimplePublicObjectWithAssociations
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 0 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
